{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Complementos de pago
                                <small>factura folio: {{ factura.folio }}</small>

                                <a href="{{ path('contabilidad_facturacion_index') }}"
                                   class="btn btn-contorno-azul pull-right">
                                    Regresar
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Folio de factura</th>
                                    <th>Folio de pago</th>
                                    <th>Monto facturado</th>
                                    <th>Fecha</th>
                                    <th width="10%">Archivos</th>
                                    <th width="10%" class="no-sort"></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <a href="{{ path('contabilidad_factura_pago_new_from_factura', {'id': factura.id}) }}"
                                   class="btn btn-azul"
                                >
                                    Agregar pago
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal ventanaborrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">¿Está realmente seguro que desea
                        borrarlo?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="#" class="btn btn-naranja confirm-cancel">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: {
            url: 'pagos-dt',
            data(d) {
              d.factura = '{{ factura.id }}';
            },
          },
          order: [[5, 'desc']],
          createdRow: function (row, data) {
            let xmlRoute = '{{ asset('timbrados/') }}';
            let actionsInner = '';

            actionsInner += `
            <li><a href="${location.pathname}/reenviar/${data[6].id}">Reenviar</a></li>
            `;

            row.cells[5].innerHTML = `
                <a href="${xmlRoute}${data[5]['xml']}"
                 target="_blank" class="btn btn-xs btn-azul btn-block">XML</a>
                <a href="${location.pathname}/pdf/${data[6].id}"
                 target="_blank" class="remove-motor btn btn-xs btn-azul btn-block">PDF</a>
            `;

            row.cells[6].innerHTML = `
                <div class="dropdown">
                  <button class="btn btn-azul btn-xs btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                    Acciones
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    ${actionsInner}
                  </ul>
                </div>
            `;
          },
        });
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
