{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        :root .btn {
            min-width: initial;
            text-align: center;
        }

        .daterangepicker {
            color: initial;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            background-color: #292f41;
            border-color: #2a3041;
        }

        .ranges li {
            background-color: hsl(225, 23%, 21%);
            border: 1px solid #292f41;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de egresos</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Empresa</th>
                                    <th>Total</th>
                                    <th width="10%" class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/daterangepicker.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        moment.locale('es');

        let searchData = {
          start: moment().startOf('month'),
          end: moment().endOf('month'),
        };

        const $table = $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: {
            url: 'index-data',
            data: function (d) {
              d.dates = {
                start: searchData.start.format('YYYY-MM-DD'),
                end: searchData.end.format('YYYY-MM-DD'),
              };
            },
          },
          order: [[0, 'desc']],
          dom:
              "<'row'<'col-sm-3'l><'col-sm-3'<'#dates'>><'col-sm-3'B><'col-sm-3'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          lengthMenu: [
            [10, 25, 50, -1],
            ['10 registros', '25 registros', '50 registros', 'Mostrar todos']
          ],
          buttons: {
            buttons: [
              {
                extend: 'excel',
                text: 'XLS',
                className: 'btn btn-verde btn-sm',
                exportOptions: {
                  columns: [0, 1, 2]
                }
              }
            ]
          },
          columns: [
            {responsivePriority: 2},
            {responsivePriority: 1},
            {responsivePriority: 2},
            {responsivePriority: 0},
          ],
          createdRow: function (row, egreso) {
            let detailButton = document.createElement('a');
            detailButton.className = 'btn btn-block btn-xs btn-azul';
            detailButton.innerText = 'Detalle';
            detailButton.href = `${egreso[3]}`;

            row.cells[3].innerHTML = '';
            row.cells[3].appendChild(detailButton);
          }
        });

        $('#dates')
            .html(`
              <div class="dataTables_filter">
                <label for="date-range">Fecha
                <input type="text" class="form-control" id="date-range" readonly>
                </label>
              </div>
            `)
            .find('#date-range')
            .daterangepicker({
              startDate: searchData.start,
              endDate: searchData.end,
              autoApply: true,
              ranges: {
                'Este mes': [moment().startOf('month'), moment().endOf('month')],
                'Mes pasado': [
                  moment().subtract(1, 'month').startOf('month'),
                  moment().subtract(1, 'month').endOf('month')
                ]
              },
              locale: {
                applyLabel: 'Aplicar',
                cancelLabel: 'Cancelar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Definido por usuario',
              }
            })
            .on('apply.daterangepicker', function (e, picker) {
              searchData.start = picker.startDate;
              searchData.end = picker.endDate;

              $table.ajax.reload();
            });

      })(jQuery, datatablesSettings)
    </script>
{% endblock %}
