<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Novonautica</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="theme-color" content="#292e41"/>
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">


    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">

    <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-novo.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body class="fondo-morado">
{#<div id="loading">#}
    {#<i id="loading-image" class="fa fa-refresh fa-spin fa-4x fa-fw"></i>#}
{#</div>#}
<div class="container-fluid">
    <div class="row fondo-error espacio-linea-arriba5">
        <div class="col-sm-5 col-sm-offset-1 text-center contenido-error">
            <p class="tipo-letra3"><strong>¡Ups! Error 404</strong></p>
            <p class="tipo-letra2">No encontramos la página que estas buscando.</p>
            <a href="{{ path('inicio') }}" class="btn btn-azul tipo-letra1">Regresar al Inicio</a>
        </div>
        <div class="col-sm-6">
            <img src="{{ asset('img/Novonautica-error-02.svg') }}" class="img-responsive">
        </div>
    </div>
</div>
</body>
</html>
