{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de categorías</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-novo">
                                    <thead>
                                    <tr>
                                        <th>Folio de factura</th>
                                        <th>RFC Emisor / Emisor</th>
                                        <th>RFC Receptor / Receptor</th>
                                        <th>Razon social</th>
                                        <th>Monto facturado</th>
                                        <th>Fecha</th>
                                        <th width="10%">Archivos</th>
                                        <th width="10%" class="no-sort"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal ventanaborrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">¿Está realmente seguro que desea borrarlo?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="#" class="btn btn-naranja confirm-cancel">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
        // Datatables & confirmacion de cancelacion
      (function ($, datatableSettings) {
        const $eliminar = $('.ventanaborrar');

        $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: '{{ path('contabilidad_facturacion_index') }}',
          order: [[7, 'desc']],
          createdRow: function (row, data) {
            row.classList.add('text-center');
            let filesCell = row.cells[6];
            let actionsCell = row.cells[7];
            let url = '{{ app.request.requestUri }}';
            let xmlRoute = '{{ asset('timbrados/') }}';

            filesCell.innerHTML = `
            <a href="${xmlRoute}${data[6]['xml']}"
             target="_blank" class="btn btn-xs btn-azul"
             style="margin: 5px;">XML</a>
            <br>
            <a href="${url}${data[6]['pdf']}/pdf"
             target="_blank" class="remove-motor btn btn-xs btn-azul"
             style="margin: 5px;">PDF</a>
            `;

            let actionsInner = `
            <a href="${url}${data[7]['id']}"
             class="btn btn-xs btn-contorno-azul"
             style="margin: 5px;">Detalle</a>
            <br>
            <a href="${url}${data[7]['id']}/reenviar"
             class="btn btn-xs btn-azul"
             style="margin: 5px;">Reenviar</a>
            <br>
            `;

            if (data[7]['status']) {
              actionsInner += `
                {% if is_granted(expression('has_role("CONTABILIDAD_CANCEL") or (user.isAdmin())')) %}
                <button data-url="${url}${data[7]['id']}/cancelar"
                 class="btn btn-xs btn-naranja cancel-action"
                 data-toggle="modal"
                 data-target=".ventanaborrar"
                 style="margin: 5px;">Cancelar</button>
                 {% endif %}
              `;
            } else {
              actionsInner += `
                <span class="label label-danger">Cancelada</span>
              `;
            }

            actionsCell.innerHTML = actionsInner;
          },
        });


        $eliminar.on('show.bs.modal', function (e) {
          let url = $(e.relatedTarget).data('url');
          $(this).find('.confirm-cancel').attr('href', url);
        });

      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
