{% extends 'estructura/plantilla.twig' %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de categorías</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-novo">
                                    <thead>
                                    <tr>
                                        <th>Folio de factura</th>
                                        <th>RFC Emisor / Emisor</th>
                                        <th>RFC Receptor / Receptor</th>
                                        <th>Razon social</th>
                                        <th>Monto facturado</th>
                                        <th>Fecha</th>
                                        <th>Archivos</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i, facturacion in facturacions %}
                                        <tr>
                                            <td>
                                                {{ facturacion.folioFiscal }}
                                            </td>
                                            <td>{{ facturacion.emisor.rfc }} <br> {{ facturacion.emisor.nombre }}</td>
                                            <td>{{ facturacion.rfc }} <br> {{ facturacion.cliente }}</td>
                                            <td>{{ facturacion.razonSocial }}</td>
                                            <td align="center">
                                                ${{ facturacion.total / 100|number_format(2) }} {{ facturacion.moneda }}</td>
                                            <td>{{ facturacion.fechaTimbrado }}</td>
                                            <td align="center">
                                                <a href="{{ asset('timbrados') }}/{{ facturacion.xmlArchivo|split('/')|last }}"
                                                   target="_blank"
                                                   class="remove-motor btn btn-xs btn-azul"
                                                   style="margin: 5px;"
                                                >
                                                    XML
                                                </a>
                                                <br>
                                                <a href="{{ path('contabilidad_factura_pdf', { 'id': facturacion.id }) }}"
                                                   target="_blank"
                                                   class="remove-motor btn btn-xs btn-azul"
                                                   style="margin: 5px;"
                                                >
                                                    PDF
                                                </a>
                                            </td>
                                            <td>
                                                {{ form_start(delete_forms[i]) }}
                                                <input type="submit" value="Cancelar" class="btn btn-xs btn-naranja">
                                                {{ form_end(delete_forms[i]) }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
