{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        :root .btn {
            min-width: initial;
            text-align: center;
        }

        .daterangepicker {
            color: initial;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            background-color: #292f41;
            border-color: #2a3041;
        }

        .ranges li {
            background-color: hsl(225, 23%, 21%);
            border: 1px solid #292f41;
        }

        #dates .dataTables_filter {
            text-align: initial;
        }

        #dates .dataTables_filter input {
            width: 100%;
        }

        dl {
            margin-bottom: 0;
        }

        dl.dl-horizontal dt {
            text-align: left;
            width: 110px;
        }

        dl.dl-horizontal dd {
            text-align: right;
            margin-left: 110px;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de facturas</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th width="10%">Fecha <br>de facturación</th>
                                    <th width="5%">Folio</th>
                                    <th width="10%">Emisor</th>
                                    <th width="10%">Receptor</th>
                                    <th>Información <br> de factura</th>
                                    <th class="with-options">Complementos de pago</th>
                                    <th class="with-options">Estatus de cotización</th>
                                    <th width="10%" class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal ventanaborrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">¿Está realmente seguro que desea
                        cancelar?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="#" class="btn btn-naranja confirm-cancel">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/daterangepicker.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        moment.locale('es');

        const $eliminar = $('.ventanaborrar');

        let searchData = {
          start: moment().startOf('month'),
          end: moment().endOf('month'),
        };

        const $table = $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: {
            url: 'facturas-dt',
            data: function (d) {
              d.dates = {
                start: searchData.start.format('YYYY-MM-DD'),
                end: searchData.end.format('YYYY-MM-DD'),
              };
            },
          },
          order: [[7, 'desc']],
          dom:
              "<'row'<'col-sm-6'<'#dates'>><'col-sm-3'B><'col-sm-3'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          paginate: false,
          buttons: {
            buttons: [
              {
                extend: 'excel',
                text: 'XLS',
                className: 'btn btn-verde btn-sm',
                exportOptions: {
                  columns: [0, 1, 2, 3, 4, 5],
                  format: {
                    header(title, column) {
                      return column === 5 ? 'Complementos de pago' : title.replace('<br>', '')
                    },
                    body(data, row, column, node) {
                      return node.innerText;
                    }
                  }
                },
              }
            ]
          },
          columns: [
            {responsivePriority: 0},
            {responsivePriority: 1},
            {
              responsivePriority: 2,
              data(data) {
                return `
                <dl>
                    <dt>RFC: <dt>
                    <dd>${data[2].rfc}<dd>
                    <dt>Razón social: <dt>
                    <dd>${data[2].razonSocial}<dd>
                </dl>
              `;
              }
            },
            {
              responsivePriority: 2,
              data(data) {
                return `
                <dl>
                    <dt>RFC: <dt>
                    <dd>${data[3].rfc}<dd>
                    <dt>Razón social: <dt>
                    <dd>${data[3].razonSocial}<dd>
                </dl>
              `;
              }
            },
            {
              responsivePriority: 2,
              data(data) {
                return `
                <dl>
                    <dt>Metodo de pago: <dt>
                    <dd>${data[4].metodo}<dd>
                    <dt>Monto facturado: <dt>
                    <dd>${data[4].monto}<dd>
                </dl>
                `;
              }
            },
            {responsivePriority: 0},
            {responsivePriority: 0},
            {responsivePriority: 0},
          ],
          createdRow: function (row, data) {
            let url = '{{ app.request.requestUri }}';
            let xmlRoute = '{{ asset('timbrados/') }}';
            let actionsInner = '';

            row.cells[2].innerHTML = `
                <dl class="dl-horizontal">
                    <dt>RFC: <dt>
                    <dd>${data[2].rfc}<dd>
                    <dt>Razón social: <dt>
                    <dd>${data[2].razonSocial}<dd>
                </dl>
            `;

            row.cells[3].innerHTML = `
                <dl class="dl-horizontal">
                    <dt>RFC: <dt>
                    <dd>${data[3].rfc}<dd>
                    <dt>Razón social: <dt>
                    <dd>${data[3].razonSocial}<dd>
                </dl>
            `;

            row.cells[4].innerHTML = `
                <dl class="dl-horizontal">
                    <dt>Metodo de pago: <dt>
                    <dd>${data[4].metodo}<dd>
                    <dt>Monto facturado: <dt>
                    <dd>${data[4].monto}<dd>
                </dl>
            `;

            row.children[5].classList.add('text-center');
            if (data[5] === 0) row.children[5].innerHTML = 'Pendientes';
            if (data[5] === 1) row.children[5].innerHTML = 'Completados';
            if (data[5] === 2) row.children[5].innerHTML = 'Pendientes';
            if (data[4].metodo === 'PUE') row.children[5].innerHTML = `Sin complemento <br> de pagos`;

            row.children[6].classList.add('text-center');
            if (data[6].pagada === 0 || null === data[6].pagada) row.children[6].innerHTML = 'Sin pagar';
            if (data[6].pagada === 1) row.children[6].innerHTML = 'Pagos incompletos';
            if (data[6].pagada === 2) row.children[6].innerHTML = 'Pagada';
            if (data[6].pagada === null && data[6].id === null) row.children[6].innerHTML = 'Cancelada';

            if (data[6].id) {
              actionsInner += `
                <li><a href="${getCotizacionUrl(data[2].id) + data[6]['id']}" target="_blank">Cotización</a></li>
              `;
            }

            actionsInner += `
                <li><a href="${url}${data[7]['id']}">Detalle</a></li>
                <li><a href="${url}${data[7]['id']}/reenviar">Reenviar</a></li>
            `;

            actionsInner += `
                <li><a href="${xmlRoute}${data[7]['xml']}" target="_blank">Ver XML</a></li>
                <li><a href="${url}${data[7]['pdf']}/pdf" target="_blank">Ver PDF</a></li>
            `;

            if (data[7]['metodoPago'] === 'PPD') {
              actionsInner += `<li><a href="pagos/${data[7].id}/new">Registrar pago</a></li>`;
              actionsInner += `<li><a href="pagos/${data[7].id}">Listado de pagos</a></li>`;
            }

            if (!data[7]['status']) {
              actionsInner += `
                {% if is_granted(expression('has_role("CONTABILIDAD_CANCEL") or (user.isAdmin())')) %}
                <li><a href="#" data-url="${url}${data[7]['id']}/cancelar"
                 class="text-danger"
                 data-toggle="modal"
                 data-target=".ventanaborrar"">Cancelar
                 </a></li>
                 {% endif %}
              `;
            }

            row.cells[7].innerHTML = `
                <div class="dropdown">
                  <button class="btn btn-azul btn-xs btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                    Acciones
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    ${actionsInner}
                  </ul>
                </div>
            `;
          },
        });

        $table.columns('.with-options').every(function () {
          const column = this;
          const columnHeader = column.header();
          const select = document.createElement('select');

          select.add(new Option(columnHeader.innerHTML, ''));
          columnHeader.innerHTML = '';
          columnHeader.appendChild(select);

          select.addEventListener('click', e => e.stopPropagation());
          select.addEventListener('change', function () {
            let val = $.fn.dataTable.util.escapeRegex(this.value);
            column.search(val, true, true).draw();
          });

          if (column.selector.cols === 5) {
            select.add(new Option('Pendientes', '2'));
            select.add(new Option('Completados', '1'));
            select.add(new Option('Sin complementos', '3'));
            select.add(new Option('Todos', ''));
          }

          if (column.selector.cols === 6) {
            select.add(new Option('Sin pagar', '0'));
            select.add(new Option('Pendiente', '1'));
            select.add(new Option('Pagada', '2'));
            select.add(new Option('Cancelada', '3'));
            select.add(new Option('Todos', ''));
          }

        });

        $('#dates')
            .html(`
              <div class="dataTables_filter">
                <label for="date-range">Fecha
                <input type="text" class="form-control" id="date-range" readonly>
                </label>
              </div>
            `)
            .find('#date-range')
            .daterangepicker({
              startDate: searchData.start,
              endDate: searchData.end,
              autoApply: true,
              ranges: {
                'Este mes': [moment().startOf('month'), moment().endOf('month')],
                'Mes pasado': [
                  moment().subtract(1, 'month').startOf('month'),
                  moment().subtract(1, 'month').endOf('month')
                ]
              },
              locale: {
                applyLabel: 'Aplicar',
                cancelLabel: 'Cancelar',
                fromLabel: 'Desde',
                toLabel: 'Hasta',
                customRangeLabel: 'Definido por usuario',
              }
            })
            .on('apply.daterangepicker', function (e, picker) {
              searchData.start = picker.startDate;
              searchData.end = picker.endDate;

              $table.ajax.reload();
            });

        $eliminar.on('show.bs.modal', function (e) {
          let url = $(e.relatedTarget).data('url');
          $(this).find('.confirm-cancel').attr('href', url);
        });

        function getCotizacionUrl(emisorId) {
          if (emisorId === 3) return '../../marina/cotizacion/';
          if (emisorId === 4) return '../../combustible/';
          if (emisorId === 5) return '../../astillero/';
          if (emisorId === 7) return '../../tienda/venta/';
        }

      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
