{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de categorías</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Folio de factura</th>
                                    <th>RFC Emisor / Emisor</th>
                                    <th>RFC Receptor / Receptor</th>
                                    <th>Método de pago</th>
                                    <th>Monto facturado</th>
                                    <th>Fecha</th>
                                    <th width="10%">Archivos</th>
                                    <th width="10%" class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal ventanaborrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="myModalLabel">¿Está realmente seguro que desea
                        borrarlo?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="#" class="btn btn-naranja confirm-cancel">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        const $eliminar = $('.ventanaborrar');

        $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: 'facturas-dt',
          order: [[7, 'desc']],
          createdRow: function (row, data) {
            row.classList.add('text-center');
            let url = '{{ app.request.requestUri }}';
            let xmlRoute = '{{ asset('timbrados/') }}';
            row.cells[6].innerHTML = '';
            let actionsInner = '';

            if (data[7]['metodoPago'] === 'PPD') {
              actionsInner += `<li><a href="pagos/${data[7].id}/new">Registrar pago</a></li>`;

              row.cells[6].innerHTML += `<a href="pagos/${data[7].id}" class="btn btn-xs btn-azul btn-block">Pagos</a>`;
            }

            actionsInner += `
            <li><a href="${url}${data[7]['id']}">Detalle</a></li>
            <li><a href="${url}${data[7]['id']}/reenviar">Reenviar</a></li>
            `;

            if (!data[7]['status']) {
              actionsInner += `
                {% if is_granted(expression('has_role("CONTABILIDAD_CANCEL") or (user.isAdmin())')) %}
                <li><a href="#" data-url="${url}${data[7]['id']}/cancelar"
                 data-toggle="modal"
                 data-target=".ventanaborrar"">Cancelar
                 </a></li>
                 {% endif %}
              `;
            } else {
              actionsInner += `
                <span class="label label-danger">Cancelada</span>
              `;
            }

            row.cells[6].innerHTML += `
                <a href="${xmlRoute}${data[6]['xml']}"
                 target="_blank" class="btn btn-xs btn-azul btn-block">XML</a>
                <a href="${url}${data[6]['pdf']}/pdf"
                 target="_blank" class="remove-motor btn btn-xs btn-azul btn-block">PDF</a>
            `;

            row.cells[7].innerHTML = `
                <div class="dropdown">
                  <button class="btn btn-azul btn-xs btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                    Acciones
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    ${actionsInner}
                  </ul>
                </div>
            `;
          },
        });


        $eliminar.on('show.bs.modal', function (e) {
          let url = $(e.relatedTarget).data('url');
          $(this).find('.confirm-cancel').attr('href', url);
        });

      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
