{% extends 'estructura/plantilla.twig' %}
{#{% import 'estructura/modalborrar.twig' as modal %}#}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
            max-width: 300px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Nueva factura
                            </h3>
                        </div>
                        <div class="panel-body panel-pestanias">
                            {{ form_start(form) }}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="primero active">
                                    <a href="#generales" data-toggle="tab">Generales</a>
                                </li>
                                <li class="primero">
                                    <a href="#conceptos" data-toggle="tab">Conceptos</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="generales">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.emisor) }}
                                        </div>
                                    </div>
                                    <hr style="margin: 1em 0 !important;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.rfc) }}
                                            {{ form_row(form.cliente) }}
                                            {{ form_row(form.numeroTelefonico) }}
                                            {{ form_row(form.email) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.razonSocial) }}
                                            {{ form_row(form.direccionFiscal) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.metodoPago) }}
                                            {{ form_row(form.formaPago) }}
                                            {{ form_row(form.tipoComprobante) }}
                                            {{ form_row(form.usoCFDI) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="conceptos">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.folioCotizacion) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.pagos) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.moneda) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.tipoCambio) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="vertical-align: middle;">Cantidad</th>
                                                    <th style="vertical-align: middle">ClaveProdServ</th>
                                                    <th style="vertical-align: middle">Clave Unidad</th>
                                                    <th style="vertical-align: middle" width="25%">Descripción</th>
                                                    <th style="vertical-align: middle">Valor unitario</th>
                                                    <th style="vertical-align: middle">Descuento</th>
                                                    <th style="vertical-align: middle">IVA</th>
                                                    <th style="vertical-align: middle">Sub-total</th>
                                                    <th style="vertical-align: middle">Total</th>
                                                </tr>
                                                </thead>
                                                {% form_theme form.conceptos 'contabilidad/facturacion/form-themes/_concepto.html.twig' %}
                                                <tbody id="prototype-holder"
                                                       data-prototype="{{ form_widget(form.conceptos.vars.prototype)|e('html_attr') }}">
                                                {{ form_row(form.conceptos) }}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a href="#" id="add-servicio" class="btn btn-contorno-azul">
                                                + Agregar concepto
                                            </a>
                                        </div>
                                        <div class="col-sm-4 col-sm-push-5 text-right">
                                            {% form_theme form 'contabilidad/facturacion/form-themes/_factura.html.twig' %}
                                            <h4 class="letra-azul">Sub-total</h4>
                                            {{ form_widget(form.subtotal) }}
                                            <hr>
                                            <h4 class="letra-azul">Descuento</h4>
                                            {{ form_widget(form.descuento) }}
                                            <hr>
                                            <h4 class="letra-azul">IVA</h4>
                                            {{ form_widget(form.iva) }}
                                            <hr>
                                            <h4 class="letra-azul">Total</h4>
                                            {{ form_widget(form.total) }}
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-azul pull-right">
                                        {#<i class="fa fa-floppy-o" aria-hidden="true"></i>#}
                                        Facturar
                                    </button>
                                    <div class="pull-left">
                                        {#{{ delete_form is defined ? modal.deleteButton() : '' }}#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{#
{% block modals %}
    {{ delete_form is defined ? modal.deleteModal(delete_form) : '' }}
{% endblock %}
#}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript">
      /*
          MOSTRAR TAB ACTIVA DONDE HAY ERRORES
      */
      (function () {
        const fooForm = document.querySelector('form');
        const tabContent = document.querySelector('.tab-content');
        const firstError = tabContent.querySelector('.has-error');
        const tabPanes = tabContent.querySelectorAll('.tab-pane');
        const tabs = document.querySelectorAll('.nav-tabs > li');

        if (firstError) showErrors(firstError.parentNode.parentNode.parentNode);
        fooForm.addEventListener('invalid', e => {
          showErrors(e.target.parentNode.parentNode.parentNode.parentNode)
        }, true);

        function showErrors(pane) {
          const tabId = pane.getAttribute('id');
          const tab = document.querySelector(`[href="#${tabId}"]`).parentNode;

          tabs.forEach(elem => elem.classList.remove('active'));
          tabPanes.forEach(elem => elem.classList.remove('active'));
          tab.classList.add('active');
          pane.classList.add('active')
        }
      })();

      /*
          JQUERY AUTOCOMPLETE && COLLECCION DE CONCEPTOS
      */
      (function ($) {
        const $rfcSelect = $('#appbundle_contabilidad_facturacion_rfc');
        const $cotizacionSelect = $('#appbundle_contabilidad_facturacion_folioCotizacion');
        const addLink = document.getElementById('add-servicio');
        const conceptoHolder = document.getElementById('prototype-holder');
        const pagosHolder = document.getElementById('appbundle_contabilidad_facturacion_pagos');
        const tipoCambioHolder = document.getElementById('appbundle_contabilidad_facturacion_tipoCambio');
        const subtotalHolder = document.getElementById('appbundle_contabilidad_facturacion_subtotal');
        const descuentoHolder = document.getElementById('appbundle_contabilidad_facturacion_descuento');
        const ivaHolder = document.getElementById('appbundle_contabilidad_facturacion_iva');
        const totalHolder = document.getElementById('appbundle_contabilidad_facturacion_total');
        const monedaSelect = document.getElementById('appbundle_contabilidad_facturacion_moneda');
        let cotizacionData = {};
        let conceptoCounter = '{{ form.conceptos|length }}';
        const autocompleteSettings = {
          dataType: 'json',
          deferRequestBy: 300,
          showNoSuggestionNotice: true,
          noSuggestionNotice: 'No se encontraron resultados',
          triggerSelectOnValidInput: false,
        };

        // Si ya se cargo una cotizacion, entonces esconder 'agregar servicio'
        // if (pagosHolder.selectedIndex && conceptoHolder.childElementCount) {
        //   addLink.classList.add('hidden');
        // }

        // Sugiere el tipo de cambio en base a la moneda elegida
        monedaSelect.addEventListener('change', function () {
          if (this.value === 'MXN') {
            tipoCambioHolder.dataset.cambio = tipoCambioHolder.value;
            tipoCambioHolder.value = 1.00;
          } else {
            tipoCambioHolder.value = tipoCambioHolder.dataset.cambio;
          }
        });

        // Autocomplete para rellenado de datos de cliente con RFC
        $rfcSelect.autocomplete({
          ...autocompleteSettings,
          minChars: 2,
          paramName: 'rfc',
          serviceUrl: `{{ app.request.BaseUrl }}/cliente/listado.json`,
          params: {},
          transformResult: function (datos) {
            return {
              suggestions: datos.map(data => {
                return {
                  value: data.rfc,
                  data: data
                }
              })
            }
          },
          beforeRender: function (container, suggestions) {
            if (!suggestions.length) return;
            [...container[0].childNodes].map((suggestion, i) => {
              suggestion.innerHTML = `${suggestion.innerHTML} <small>(${suggestions[i].data.cliente.nombre.substring(0, 15)})</small>`;
            })
          },
          onSelect: function ({data}) {
            const razon = document.getElementById('appbundle_contabilidad_facturacion_razonSocial');
            const direccion = document.getElementById('appbundle_contabilidad_facturacion_direccionFiscal');
            const nombre = document.getElementById('appbundle_contabilidad_facturacion_cliente');
            const email = document.getElementById('appbundle_contabilidad_facturacion_email');
            const telefono = document.getElementById('appbundle_contabilidad_facturacion_numeroTelefonico');
            razon.value = data.razonSocial;
            direccion.value = data.direccion;
            nombre.value = data.cliente.nombre;
            email.value = data.correos;
            telefono.value = data.cliente.telefono;
          }
        });

        // Autocomplete para agregar filas a la tabla de conceptos
        $cotizacionSelect.autocomplete({
          ...autocompleteSettings,
          minChars: 1,
          paramName: 'folio',
          serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/cotizaciones.json`,
          params: {},
          transformResult: function (cotizaciones) {
            return {
              suggestions: cotizaciones.map(cotizacion => {
                return {
                  value: cotizacion.foliorecotiza ? `${cotizacion.folio}-${cotizacion.foliorecotiza}` : `${cotizacion.folio}`,
                  data: cotizacion
                }
              })
            }
          },
          onSelect: function ({data}) {
            pagosHolder.innerHTML = '';
            pagosHolder.appendChild(new Option());
            pagosHolder.dataset.folio = data.folio;
            data.pagos.forEach(function (pago) {
              let opt = new Option(`$${(pago.cantidad / 100).toFixed(2)}`.replace(/(\d)(?=(\d{3})+\.)/g, '$1,'), pago.id);
              pagosHolder.appendChild(opt);
            });
            cotizacionData = data;
          }
        });

        // Al seleccionar un pago, agrega una row con los conceptos de la cotizacion
        pagosHolder.addEventListener('change', function (e) {
          if (!this.options[this.selectedIndex].value) { clearData(e); return; }
          conceptoHolder.innerHTML = '';
          cotizacionData.conceptos.forEach(concepto => appendRow(concepto));
        });

        // Agrega una nueva row vacia
        addLink.addEventListener('click', function (e) {
          e.preventDefault();
          appendRow();
        });

        // Agrega un row
        function appendRow(data) {
          let prototype = conceptoHolder.dataset.prototype.replace(/__name__/g, conceptoCounter);
          let unaTabla = document.createElement('table');
          unaTabla.innerHTML = prototype;
          let concepto = unaTabla.querySelector('.concepto-item');

          conceptoHolder.appendChild(concepto);
          addRowListener(concepto, data);

          conceptoCounter++;
        }

        // Agrega funcionalidad a las row existentes
        [...conceptoHolder.children].forEach(row => addRowListener(row));

        // Le agrega la funcion de calculo a una row y si recibe datos los calcula;
        function addRowListener(concepto, data) {
          let cantidadConcepto = concepto.children[1].firstElementChild;
          let cpsConcepto = concepto.children[2].firstElementChild;
          let cuConcepto = concepto.children[3].firstElementChild;
          let descripcionConcepto = concepto.children[4].firstElementChild;
          let vUnitarioConcepto = concepto.children[5].querySelector('input');
          let descuentoConcepto = concepto.children[6].querySelector('input');
          let ivaConcepto = concepto.children[7].querySelector('input');
          let subtotalConcepto = concepto.children[8].querySelector('input');
          let totalConcepto = concepto.children[9].querySelector('input');

          cantidadConcepto.addEventListener('input', calculateConceptos);
          vUnitarioConcepto.addEventListener('input', calculateConceptos);
          descuentoConcepto.addEventListener('input', calculateConceptos);
          ivaConcepto.addEventListener('input', calculateConceptos);

          if (data) {
            cantidadConcepto.value = data.cantidad || cantidadConcepto.value;
            cpsConcepto.value = cpsConcepto.value || '';
            cuConcepto.value = cuConcepto.value || '';
            descripcionConcepto.value = data.nombre || data.serviciobasico || data.servicio || data.producto || data.otroservicio || descripcionConcepto.value;

            vUnitarioConcepto.value = data.precio ? `${data.precio / 100}` : 0;
            descuentoConcepto.value = data.descuento ? `${data.descuento / 100}` : 0;
          }

          calculateConceptos();

          function calculateConceptos() {
            if (!/^[\d,\s.\\$]+$/.test(this.value) && this.value) return;
            // Valores definidos por el usuario
            let cantidad = (cantidadConcepto.value * 1);
            let precio = (vUnitarioConcepto.value * 100);
            let descuento = (descuentoConcepto.value * 100);

            // Calculo automatico
            let subtotal = (cantidad * precio);
            let iva = Math.round(subtotal * .16);
            let total = ((subtotal - descuento) + iva);

            subtotalConcepto.value = `${subtotal / 100}`;
            ivaConcepto.value = `${iva / 100}`;
            totalConcepto.value = `${total / 100}`;

            calculateTotals();
          }

          const conceptoSettings = {
            ...autocompleteSettings,
            minChars: 1,
            paramName: 'q',
            params: {},
            onSelect: function ({data}) {
              this.nextElementSibling.value = data;
            }
          };

          $(cpsConcepto).autocomplete({
            ...conceptoSettings,
            serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/claveprodserv.json`,
            transformResult: function (claves) {
              return {
                suggestions: claves.map(clave => {
                  return {
                    value: `${clave.claveProdServ} / ${clave.descripcion}`,
                    data: clave.id
                  }
                })
              }
            }
          });

          $(cuConcepto).autocomplete({
            ...conceptoSettings,
            serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/clave_unidad.json`,
            transformResult: function (claves) {
              return {
                suggestions: claves.map(clave => {
                  return {
                    value: `${clave.claveUnidad} / ${clave.nombre}`,
                    data: clave.id
                  }
                })
              }
            }
          });
        }

        function calculateTotals() {
          if (!conceptoHolder.childElementCount) return;
          let subtotalColumn = conceptoHolder.getElementsByClassName('subtotal-column');
          let descuentoColumn = conceptoHolder.getElementsByClassName('descuento-column');
          let ivaColumn = conceptoHolder.getElementsByClassName('iva-column');
          let totalColumn = conceptoHolder.getElementsByClassName('total-column');

          subtotalHolder.value = [...subtotalColumn]
              .map(row => Number(clearPrice(row.value)))
              .reduce((a, b) => a + b)
              .toFixed(2);
          descuentoHolder.value = [...descuentoColumn]
              .map(row => Number(clearPrice(row.value)))
              .reduce((a, b) => a + b)
              .toFixed(2);
          ivaHolder.value = [...ivaColumn]
              .map(row => Number(clearPrice(row.value)))
              .reduce((a, b) => a + b)
              .toFixed(2);
          totalHolder.value = [...totalColumn]
              .map(row => Number(clearPrice(row.value)))
              .reduce((a, b) => a + b)
              .toFixed(2);
        }

        function clearPrice(textPrice) {
          return textPrice.replace(/[,\\$]/g, '');
        }

        function clearData(e) {
          if ((e.keyCode === 8 && !this.value.trim()) || !e.target.value.trim()) {
            conceptoHolder.innerHTML = '';
            tipoCambioHolder.removeAttribute('readonly');
            pagosHolder.selectedIndex = 0;
            subtotalHolder.value = 0;
            descuentoHolder.value = 0;
            ivaHolder.value = 0;
            totalHolder.value = 0;
          }
        }

        $(document).on('keyup change', '#appbundle_contabilidad_facturacion_folioCotizacion', clearData);


        $(document).on('click', '.remove-concepto', function (e) {
          e.preventDefault();
          this.parentNode.parentNode.remove(this);
          if (!conceptoHolder.children.length) {
            addLink.classList.remove('hidden');
            pagosHolder.selectedIndex = 0;
            $cotizacionSelect.val('');
            subtotalHolder.value = 0;
            descuentoHolder.value = 0;
            ivaHolder.value = 0;
            totalHolder.value = 0;
          }
        });
      })(jQuery);
    </script>
{% endblock %}