{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .help-block {
            color: #dd4b39;
        }

        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
            max-width: 300px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;

        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }

        .novo-checkbox-container .checkbox {
            position: relative;
            padding: 20px 0 20px 20px;
            text-align: left;
        }

        .novo-checkbox-container .checkbox label {
            cursor: pointer;
            padding-left: 10px;
        }

        .novo-checkbox-container .checkbox label:before,
        .novo-checkbox-container .checkbox label:after {
            content: '';
            position: absolute;
            top: 50%;
        }

        .novo-checkbox-container .checkbox label:before {
            left: 0;
            width: 20px;
            height: 20px;
            margin: -10px 0 0;
            border-radius: 4px;
            background: #3e4766;
            -webkit-box-shadow: 0 0 1px grey;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
        }

        .novo-checkbox-container .checkbox label:after {
            width: 14px;
            height: 8px;
            top: 24px;
            left: 3px;
            border: 3px solid #0097f6;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .novo-checkbox-container .checkbox label:hover:after {
            opacity: .5;
        }

        .novo-checkbox-container .checkbox input[type="radio"],
        .novo-checkbox-container .checkbox input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

        .novo-checkbox-container .checkbox input[type="radio"]:checked + label:after,
        .novo-checkbox-container .checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }

        .table {
            margin-bottom: 0;
        }

        .table > thead > tr > th,
        .table > tbody > tr > td {
            padding: 0;
            text-align: center;
            vertical-align: middle;
        }

        .content form .table > tbody > tr > td > input.form-control,
        .content form .table > tbody > tr > td > select {
            border-radius: 0 !important;
        }
    </style>
{% endblock %}

{% form_theme form.conceptos 'contabilidad/facturacion/form-themes/_concepto.html.twig' %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for error in form.vars.errors %}
                        <div class="alert alert-danger">
                            {{ error.message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Nueva factura
                                <span id="factura-folio" class="pull-right">Folio: {{ form.folio.vars.value }}</span>
                            </h4>
                        </div>
                        <div class="panel-body" style="min-height: initial">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_row(form.emisor) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_row(form.cliente) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_row(form.receptor) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="cotizaciones">Cotizaciones</label>
                                        <select id="cotizaciones" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-novo">
                        <div class="panel-body" style="min-height: initial">
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_row(form.lugarExpedicion) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.metodoPago) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.tipoComprobante) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.formaPago) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_row(form.moneda) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.tipoCambio) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.condicionesPago) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="panel-title">
                                        <small>Conceptos</small>
                                        <button id="add" type="button" class="btn btn-contorno-azul pull-right">
                                            + Agregar concepto
                                        </button>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body no-padding" style="min-height: initial;">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th width="1%">Cantidad</th>
                                    <th width="1%">Unidad</th>
                                    <th width="10%">ClaveProdServ</th>
                                    <th width="10%">Clave unidad</th>
                                    <th width="10%">Descripcion</th>
                                    <th>Valor Unitario</th>
                                    <th>Importe</th>
                                    <th>Base</th>
                                    <th width="1%">Impuesto</th>
                                    <th width="2%">Factor</th>
                                    <th>Valor de factor</th>
                                    <th>Importe de impuesto</th>
                                    <th width="1%"></th>
                                </tr>
                                <tr>
                                    <th colspan="7">Concepto</th>
                                    <th colspan="6">Impuestos</th>
                                </tr>
                                </thead>
                                <tbody id="prototype-holder"
                                       data-prototype="{{ form_widget(form.conceptos.vars.prototype)|e('html_attr') }}">
                                {% for concepto in form.conceptos %}
                                    <tr class="concepto-agregado table-item">
                                        <td>
                                            {{ form_widget(concepto.cantidad) }}
                                            {{ form_errors(concepto.cantidad) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.unidad) }}
                                            {{ form_errors(concepto.unidad) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.claveProdServ) }}
                                            {{ form_errors(concepto.claveProdServ) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.claveUnidad) }}
                                            {{ form_errors(concepto.claveUnidad) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.descripcion) }}
                                            {{ form_errors(concepto.descripcion) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.valorunitario) }}
                                            {{ form_errors(concepto.valorunitario) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.importe) }}
                                            {{ form_errors(concepto.importe) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.base) }}
                                            {{ form_errors(concepto.base) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.impuesto) }}
                                            {{ form_errors(concepto.impuesto) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.tipoFactor) }}
                                            {{ form_errors(concepto.tipoFactor) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.tasaOCuota) }}
                                            {{ form_errors(concepto.tasaOCuota) }}
                                        </td>
                                        <td>
                                            {{ form_widget(concepto.impuestoImporte) }}
                                            {{ form_errors(concepto.impuestoImporte) }}
                                        </td>
                                        <td valign="middle" class="text-center">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-novo">
                        <div class="panel-body" style="min-height: initial;">
                            <div class="col-sm-12">
                                <div class="row">
                                    <h4>Impuestos totales</h4>
                                    <div class="col-sm-2">
                                        {{ form_row(form.impuesto) }}
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form_row(form.tipoFactor) }}
                                    </div>
                                    <div class="col-sm-2">
                                        {{ form_row(form.tasa) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_row(form.importe) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_row(form.totalImpuestosTransladados) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <h4>Totales</h4>
                                    <div class="col-sm-3 col-sm-offset-6">
                                        {{ form_row(form.subtotal) }}
                                    </div>
                                    <div class="col-sm-3">
                                        {{ form_row(form.total) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-azul pull-right">
                                        Facturar
                                    </button>
                                    <button id="preview-btn"
                                            type="button"
                                            class="btn btn-contorno-azul">
                                        Preview
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}

        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cleave.min.js') }}"></script>
    <script>
      class ElementCollection {
        constructor(addButton, prototypeHolder, elementListener) {
          this.addButton = typeof addButton === 'string'
              ? document.querySelector(addButton)
              : addButton;

          this.prototypeHolder = typeof prototypeHolder === 'string'
              ? document.querySelector(prototypeHolder)
              : prototypeHolder;

          this.elementListener = elementListener;

          Array
              .from(this.prototypeHolder.querySelectorAll('tr'))
              .forEach(element => {
                this.appendRemoveButton(element);
                this.elementListener(element);
              });

          this.elementCounter = this.prototypeHolder.childElementCount;

          this.addButton
              .addEventListener(
                  'click',
                  this.addElement.bind(this)
              );
        }

        /* PUBLIC */
        addElement(event) {
          if (event) {
            event.preventDefault();
            event.stopPropagation();
          }

          let element = this._getPrototypeElement();

          this.appendRemoveButton(element);
          this.elementListener(element, event);
          this.prototypeHolder.appendChild(element);

          return this.prototypeHolder.children[this.prototypeHolder.children.length - 1];
        }

        clear() {
          this.prototypeHolder.innerHTML = '';
        }

        removeElement(element) {
          element = typeof element === 'number' ? this.prototypeHolder.children[(element - 1)] : element;
          if (!element) throw new Error('No existe el elemento que quieres eliminar');
          element.parentNode.removeChild(element);
        }

        appendRemoveButton(element) {
          let celda = element.cells[element.cells.length - 1];
          let removeButton = document.createElement('a');

          removeButton.className = 'badge btn-xs btn-naranja';
          removeButton.innerHTML = '<i class="fa fa-trash"></i>';
          removeButton.addEventListener('click', (event) => {
            event.preventDefault();
            event.stopPropagation();

            this.removeElement(removeButton.parentNode.parentNode)
          });

          celda.appendChild(removeButton);
        }

        /* PRIVATE */

        _getPrototypeElement() {
          let prototipo = this.prototypeHolder
              .dataset
              .prototype
              .replace(/__name__/g, this.elementCounter);

          let tempElement = document.createElement('table');
          tempElement.innerHTML = prototipo;
          let element = tempElement.querySelector('tr');

          this.elementCounter++;

          return element;
        }
      }
    </script>
    <script>
      (function ($) {
        const previewButton = document.getElementById('preview-btn');
        const cotizacionSelect = document.getElementById('cotizaciones');
        const folioInput = document.getElementById('appbundle_contabilidad_facturacion_folio');
        const clienteSelect = document.getElementById('appbundle_contabilidad_facturacion_cliente');
        const emisorSelect = document.getElementById('appbundle_contabilidad_facturacion_emisor');
        const receptorSelect = document.getElementById('appbundle_contabilidad_facturacion_receptor');
        const metodoPagoSelect = document.getElementById('appbundle_contabilidad_facturacion_metodoPago');
        const formaPagoSelect = document.getElementById('appbundle_contabilidad_facturacion_formaPago');
        const folioContainer = document.getElementById('factura-folio');

        const conceptoTable = new ElementCollection('#add', '#prototype-holder', elementListener);

        const $clienteSelect2 = $(clienteSelect).select2({ajax: {url: 'clientes'}});
        const $receptorSelect2 = $(receptorSelect).select2();

        const subtotalInput = new Cleave('#appbundle_contabilidad_facturacion_subtotal', {numeral: true});
        const totalInput = new Cleave('#appbundle_contabilidad_facturacion_total', {numeral: true});

        const totalImporteImpuestosInput = new Cleave('#appbundle_contabilidad_facturacion_importe', {numeral: true});
        const totalImpuestosInput = new Cleave('#appbundle_contabilidad_facturacion_totalImpuestosTransladados', {numeral: true});

        getFolio();

        function elementListener(element) {
          new Cleave(element.cells[5].firstElementChild, {numeral: true});
          new Cleave(element.cells[6].firstElementChild, {numeral: true});
          new Cleave(element.cells[7].firstElementChild, {numeral: true});
          new Cleave(element.cells[11].firstElementChild, {numeral: true});

          element.cells[12].firstElementChild.addEventListener('click', computeConceptos);
          $(element.cells[2].firstElementChild).select2({ajax: {url: '../claves-sat/select2/claveprodserv'}});
          $(element.cells[3].firstElementChild).select2({ajax: {url: '../claves-sat/select2/claveunidad'}});
        }

        metodoPagoSelect.addEventListener('change', function () {
          if (this.value === 'PUE') {
            formaPagoSelect.value = '01';
          } else {
            formaPagoSelect.value = '99';
          }
        });

        emisorSelect.addEventListener('change', getFolio);

        $clienteSelect2.on('select2:select', function () {
          $receptorSelect2.empty();

          getCotizaciones(emisorSelect.value, this.value);

          $.get('clientes/rfc', {q: this.value})
              .done(({results}) => {
                results.forEach(result => {
                  $receptorSelect2.append(new Option(result.text, result.id, false, false));
                });

                $receptorSelect2.trigger('change');
              })
        });

        cotizacionSelect.addEventListener('change', function () {
          if (!this.value) return;

          $.get('cotizacion', {e: emisorSelect.value, c: this.value})
              .done(({results}) => {
                conceptoTable.clear();

                for (const result of results) {
                  const conceptoImporte = Number(result.conceptoImporte / 1.16);
                  const conceptoValorUnitario = (conceptoImporte / result.conceptoCantidad);
                  const conceptoIVA = (conceptoImporte * .16);

                  let element = conceptoTable.addElement();

                  element.cells[0].firstElementChild.value = result.conceptoCantidad;
                  element.cells[1].firstElementChild.value = result.conceptoUnidad || 'NA';
                  element.cells[4].firstElementChild.value = result.conceptoDescripcion;
                  element.cells[5].firstElementChild.value = moneyFormat(conceptoValorUnitario / 100, 6);
                  element.cells[6].firstElementChild.value = moneyFormat(conceptoImporte / 100);
                  element.cells[7].firstElementChild.value = element.cells[6].firstElementChild.value;
                  element.cells[11].firstElementChild.value = moneyFormat(conceptoIVA / 100);

                  $(element.cells[2].firstElementChild)
                      .append(new Option(result.cpsDescripcion, result.cpsId, true, true))
                      .trigger('change');

                  $(element.cells[3].firstElementChild)
                      .append(new Option(result.cuDescripcion, result.cuId, true, true))
                      .trigger('change');
                }
              })
              .always(() => {
                computeConceptos();
              });
        });

        $(previewButton).on('click', function () {
          $('<a>')
              .attr('href', 'preview?' + $('form').serialize())
              .attr('target', '_blank')[0]
              .click();
        });

        function getFolio() {
          getCotizaciones(emisorSelect.value, clienteSelect.value);

          $.get('get-folio', {e: emisorSelect.value})
              .done(({results}) => {
                folioContainer.innerText = 'Folio: ' + results.folio;
                folioInput.value = results.folio;
              });
        }

        function getCotizaciones(emisor, cliente) {
          cotizacionSelect.innerHTML = '';

          $.get('cotizaciones', {e: emisor, c: cliente})
              .done(({results}) => {
                if (!results.length) return;

                cotizacionSelect.appendChild(new Option('Seleccione una cotización', ''));

                for (const result of results) {
                  cotizacionSelect.appendChild(new Option(result.text, result.id));
                }
              });
        }

        function computeConceptos() {
          let totalValue;
          let subtotalValue = 0;
          let impuestosValue = 0;

          for (const concepto of conceptoTable.prototypeHolder.children) {
            subtotalValue += Number(moneyRawValue(concepto.cells[6].firstElementChild.value));
            impuestosValue += Number(moneyRawValue(concepto.cells[11].firstElementChild.value));
            totalValue = subtotalValue + impuestosValue;
          }

          subtotalInput.element.value = moneyFormat(subtotalValue);
          totalInput.element.value = moneyFormat(totalValue);
          totalImporteImpuestosInput.element.value = totalImpuestosInput.element.value = moneyFormat(impuestosValue);
        }

        function moneyFormat(value, point) {
          const fixedPoint = point || 2;
          return value.toFixed(fixedPoint).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }

        function moneyRawValue(value) {
          return value.replace(/,/g, '');
        }

      })(jQuery)
    </script>
{% endblock %}
