<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <style type="text/css">
        table.table thead tr th {
            border: 1px solid #458fce !important;
            border-bottom: 0 !important;
            background-color: #458fce;
            color: #fff;
        }
        .nopadding {
            padding: 0;
        }
        .informacion p {
            margin: 0 !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row informacion" style="background-color: #EAEAEA; padding-top: .5rem; padding-bottom: 1rem;">
        <div class="col-xs-4">
            <h4>Información</h4>
            <p><strong>Embarcación: </strong> {{ odt.astilleroCotizacion.barco.nombre }}</p>
            <p><strong>Modelo: </strong> {{ odt.astilleroCotizacion.barco.modelo }}</p>
            <p><strong>Eslora: </strong> {{ odt.astilleroCotizacion.barco.eslora }}</p>
            <p><strong>Manga: </strong> {{ odt.astilleroCotizacion.barco.manga }}</p>
            <p><strong>Fecha de inicio: </strong>{{ odt.astilleroCotizacion.fechaLlegada|date('d-m-Y') }}</p>
            <p><strong>Fecha de finalización: </strong>{{ odt.astilleroCotizacion.fechaSalida|date('d-m-Y') }}</p>
        </div>
            {% if odt.astilleroCotizacion.barco.nombreCapitan is not empty %}
                <div class="col-xs-4">
                    <h4>&nbsp;</h4>
                    <p><strong>Capitán: </strong> {{ odt.astilleroCotizacion.barco.nombreCapitan }}</p>
                    <p><strong>Telefono del capitán: </strong> {{ odt.astilleroCotizacion.barco.telefonoCapitan }}</p>
                    <p><strong>Correo del capitán: </strong> {{ odt.astilleroCotizacion.barco.correoCapitan }}</p>
                </div>
            {% endif %}
            {% if odt.astilleroCotizacion.barco.nombreResponsable is not empty %}
                <div class="col-xs-4">
                    <h4>&nbsp;</h4>
                    <p><strong>Encargado: </strong> {{ odt.astilleroCotizacion.barco.nombreResponsable }}</p>
                    <p><strong>Telefono del encargado: </strong> {{ odt.astilleroCotizacion.barco.telefonoResponsable }}</p>
                    <p><strong>Correo del encargado: </strong> {{ odt.astilleroCotizacion.barco.correoResponsable }}</p>
                </div>
            {% endif %}

    </div>
    <div class="row">
        <div class="col-xs-12 text-center nopadding">
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th>Proveedor / Contratista</th>
                    <th>Razón social</th>
                    <th>Descripción del trabajo / Material</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                {% for contratista in odt.contratistas %}
                <tr class="text-left">
                    <td>{{ contratista.proveedor.nombre }}</td>
                    <td>{{ contratista.proveedor.razonsocial }}</td>
                    <td>{{ contratista.cotizacionInicial }}</td>
                    <td>{{ contratista.cantidad }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>