<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <style type="text/css">
        table.table thead tr th {
            border: 1px solid #458fce !important;
            border-bottom: 0 !important;
            background-color: #458fce;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <small class="pull-left">Precios en MXN</small>
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th>Descripción del trabajo / Material</th>
                    <th>Proveedor / Contratista</th>
                    <th>Razón social</th>
                    <th>Precio contratista</th>
                    <th>% V&V</th>
                    <th>Utilidad V&V</th>
                    <th>Precio V&V</th>
                </tr>
                </thead>
                <tbody>
                {% for contratista in odt.contratistas %}
                <tr class="text-left">
                    <td>{{ contratista.cotizacionInicial }}</td>
                    <td>{{ contratista.proveedor.nombre }}</td>
                    <td>{{ contratista.proveedor.razonsocial }}</td>
                    <td>${{ (contratista.precio/100)|number_format(2) }}</td>
                    <td>{{ contratista.porcentajevv|number_format(2) }}%</td>
                    <td>${{ (contratista.utilidadvv/100)|number_format(2) }}</td>
                    <td>${{ (contratista.preciovv/100)|number_format(2) }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" rowspan="2" class="text-right">Totales:</td>
                    <td>${{ (odt.precioTotal/100)|number_format(2) }}</td>
                    <td></td>
                    <td>${{ (odt.utilidadvvTotal/100)|number_format(2) }}</td>
                    <td>${{ (odt.preciovvTotal/100)|number_format(2) }}</td>
                </tr>
                <tr>
                    <td>${{ ((odt.precioTotal/odt.astilleroCotizacion.dolar))|number_format(2) }}<small>USD</small></td>
                    <td></td>
                    <td>${{ ((odt.utilidadvvTotal/odt.astilleroCotizacion.dolar))|number_format(2) }}<small>USD</small></td>
                    <td>${{ ((odt.preciovvTotal/odt.astilleroCotizacion.dolar))|number_format(2) }}<small>USD</small></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>