{% block form_widget %}
    {% set cotizacion = marinaHumedaCotizacion is defined ? marinaHumedaCotizacion : astilleroCotizacion %}

    {% spaceless %}
        <td>
            {{ form_widget(form.metodopago) }}
        </td>
        <td>
            {{ form_widget(form.divisa) }}
        </td>
        <td>
           {{ form_widget(form.cantidad) }}
        </td>
        <td>
            {{ form_widget(form.fecharealpago) }}
        </td>
        <td>
            {% if cotizacion is defined %}
                {{ form_widget(form.dolar,{'value': cotizacion.dolar/100}) }}
            {% else %}
                {{ form_widget(form.dolar) }}
            {% endif %}
        </td>
        <td></td>
        <td style="vertical-align: middle">
            <a href="#" class="remove-pago btn btn-xs btn-naranja">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </td>
    {% endspaceless %}
{% endblock %}