{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        :root .content-wrapper hr {
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
        }

        .help-block {
            color: #dd4b39;
        }

        .table > tbody > tr > td .input-group-addon {
            border-radius: 0;
        }

        .table > thead > tr > th,
        .table > tbody > tr > td {
            padding: 0;
            text-align: center;
            vertical-align: middle;
        }

        .content form .table > tbody > tr > td > input.form-control,
        .content form .table > tbody > tr > td > select {
            border-radius: 0 !important;
        }
    </style>
{% endblock %}

{% block appbundle_fulldatapago_widget %}
    {% spaceless %}
        <tr>
            <td>
                {{ form_widget(form.cantidad) }}
                {{ form_errors(form.cantidad) }}
            </td>
            <td>
                {{ form_widget(form.divisa) }}
                {{ form_errors(form.divisa) }}
            </td>
            <td>
                {{ form_widget(form.dolar ) }}
                {{ form_errors(form.dolar) }}
            </td>
            <td>
                {{ form_widget(form.fecharealpago) }}
                {{ form_errors(form.fecharealpago) }}
            </td>
            <td>
                {{ form_widget(form.metodopago) }}
                {{ form_errors(form.metodopago) }}
            </td>
            <td>
                {{ form_widget(form.cuentabancaria) }}
                {{ form_errors(form.cuentabancaria) }}
            </td>
            <td>
                {{ form_widget(form.banco) }}
                {{ form_errors(form.banco) }}
            </td>
            <td>
                {{ form_widget(form.titular) }}
                {{ form_errors(form.titular) }}
            </td>
            <td>
                {{ form_widget(form.numcuenta) }}
                {{ form_errors(form.numcuenta) }}
            </td>
            <td>
                {{ form_widget(form.codigoseguimiento) }}
                {{ form_errors(form.codigoseguimiento) }}
            </td>
            <td style="vertical-align: middle">
            </td>
        </tr>
    {% endspaceless %}
{% endblock %}

{% form_theme form _self %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Registrar Pago</h3>
                            <span>
                            {% if marinaHumedaCotizacion.foliorecotiza == 0 %}
                                {{ marinaHumedaCotizacion.folio }}
                            {% else %}
                                {{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}
                            {% endif %}
                        </span>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('marina-humeda_show',{'id':marinaHumedaCotizacion.id}) }}"
                               class="btn btn-contorno-azul pull-right">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Cliente</h4>
                            <p>{{ marinaHumedaCotizacion.cliente }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4>Embarcación</h4>
                            <p>{{ marinaHumedaCotizacion.barco }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Total de la cotización</h4>
                            <p>$ {{ (marinaHumedaCotizacion.total/100)|number_format(2) }} USD</p>
                        </div>
                        <div class="col-sm-4">
                            <h4>Pagado hasta el momento</h4>
                            <p>$ {{ (marinaHumedaCotizacion.pagado/100)|number_format(2) }} USD</p>
                        </div>
                        <div class="col-sm-4">
                            <h4>Saldo pendiente</h4>
                            <p>
                                $ {{ ((marinaHumedaCotizacion.total-marinaHumedaCotizacion.pagado)/100)|number_format(2) }}
                                USD</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        {{ form_start(form) }}
                        <div class="col-sm-12">

                            <div class="row margin-bottom">
                                <div class="col-sm-4">
                                    <h4>Listado de pagos</h4>
                                </div>
                                <div class="col-sm-4 col-sm-offset-4">
                                    <label for="monedero">Monedero actual</label>
                                    <input type="text" id="monedero"
                                           value="$ {{ (marinaHumedaCotizacion.cliente.monederomarinahumeda/100)|number_format(2) }} USD"
                                           class="form-control"
                                           readonly="readonly"
                                    >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-novo text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Divisa</th>
                                            <th>Valor del <br> dolar</th>
                                            <th>Fecha de <br> pago</th>
                                            <th>Método de <br> pago</th>
                                            <th>Cuenta <br> de recepción</th>
                                            <th>Banco</th>
                                            <th>Titular de <br> cuenta</th>
                                            <th>Numero de <br> cuenta</th>
                                            <th>Codigo de <br>seguimiento</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="pago-collection"
                                               data-prototype="{{ form_widget(form.pagos.vars.prototype)|e('html_attr') }}"
                                        >
                                        {{ form_widget(form.pagos) }}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-12">
                                    <a href="#" id="add" class="letra-azul pull-right">
                                        + Agregar Pago
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      class ElementCollection {
        constructor(addButton, prototypeHolder, elementListener) {
          this.addButton = typeof addButton === 'string'
              ? document.querySelector(addButton)
              : addButton;

          this.prototypeHolder = typeof prototypeHolder === 'string'
              ? document.querySelector(prototypeHolder)
              : prototypeHolder;

          this.elementListener = elementListener || (() => {
          });

          Array
              .from(this.prototypeHolder.querySelectorAll('tr'))
              .forEach(element => {
                this.appendRemoveButton(element);
                this.elementListener(element);
              });

          this.elementCounter = this.prototypeHolder.childElementCount;

          this.addButton
              .addEventListener(
                  'click',
                  this.addElement.bind(this)
              );
        }

        /* PUBLIC */
        addElement(event) {
          if (event) {
            event.preventDefault();
            event.stopPropagation();
          }

          let element = this._getPrototypeElement();

          this.appendRemoveButton(element);
          this.elementListener(element, event);
          this.prototypeHolder.appendChild(element);

          return this.prototypeHolder.children[this.prototypeHolder.children.length - 1];
        }

        clear() {
          this.prototypeHolder.innerHTML = '';
        }

        removeElement(element) {
          element = typeof element === 'number' ? this.prototypeHolder.children[(element - 1)] : element;
          if (!element) throw new Error('No existe el elemento que quieres eliminar');
          element.parentNode.removeChild(element);
        }

        appendRemoveButton(element) {
          let celda = element.cells[element.cells.length - 1];
          let removeButton = document.createElement('a');

          removeButton.className = 'badge btn-xs btn-naranja';
          removeButton.innerHTML = '<i class="fa fa-trash"></i>';
          removeButton.addEventListener('click', (event) => {
            event.preventDefault();
            event.stopPropagation();

            this.removeElement(removeButton.parentNode.parentNode)
          });

          celda.appendChild(removeButton);
        }

        /* PRIVATE */

        _getPrototypeElement() {
          let prototipo = this.prototypeHolder
              .dataset
              .prototype
              .replace(/__name__/g, this.elementCounter);

          let tempElement = document.createElement('table');
          tempElement.innerHTML = prototipo;
          let element = tempElement.querySelector('tr');

          this.elementCounter++;

          return element;
        }
      }
    </script>
    <script>
      (function ($) {

        new ElementCollection(
            '#add',
            '#pago-collection',
            function (row) {
              $(row.cells[3], 'input').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                orientation: 'bottom',
              });
            }
        );

      })(jQuery)
    </script>
{% endblock %}
