{% extends 'estructura/plantilla.twig' %}
{% import 'estructura/modalborrar.twig' as modal %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        :root .content-wrapper hr {
            margin: 1em 0 !important;
        }

        h3 {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Editar Cliente</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('cliente_show',{ 'id': cliente.id }) }}">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {% form_theme edit_form 'estructura/temaerror.html.twig' %}
                    {{ form_start(edit_form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#cliente" aria-controls="cliente" role="tab" data-toggle="tab">Cliente</a>
                        </li>
                        {% for barco in barcos %}
                            <li role="presentation">
                                <a href="#{{ barco.id }}" aria-controls="{{ barco.id }}" role="tab"
                                   data-toggle="tab">{{ barco }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form_errors(edit_form.nombre) }}
                                {{ form_errors(edit_form.correo) }}
                                {{ form_errors(edit_form.telefono) }}
                                {{ form_errors(edit_form.celular) }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="cliente">
                            <div class="row">
                                <div class="col-sm-5">
                                    {{ form_label(edit_form.nombre) }}
                                    {{ form_widget(edit_form.nombre) }}

                                    {{ form_label(edit_form.correo) }}
                                    {{ form_widget(edit_form.correo) }}

                                    {{ form_label(edit_form.telefono) }}
                                    {{ form_widget(edit_form.telefono) }}

                                    {{ form_label(edit_form.celular) }}
                                    {{ form_widget(edit_form.celular) }}

                                    {{ form_row(edit_form.direccion) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Razones Sociales</h4>
                                </div>
                                <div class="col-sm-12">
                                    {% form_theme edit_form.razonesSociales ':cliente/form-theme:razon-social.html.twig' %}
                                    {{ form_row(edit_form.razonesSociales) }}
                                    <a href="#" id="add-razon" class="letra-azul">
                                        + Agregar Razón Social
                                    </a>
                                </div>
                            </div>
                        </div>

                        <hr>

                        {% for i,barco in barcos %}
                            <div role="tabpanel" class="tab-pane" id="{{ barco.id }}">
                                <div class="row">
                                    <div class="col-sm-5">
                                        {{ form_row(edit_form.barcos[i].nombre) }}
                                        {{ form_row(edit_form.barcos[i].modelo) }}
                                        {{ form_row(edit_form.barcos[i].eslora) }}
                                        {{ form_row(edit_form.barcos[i].calado) }}
                                        {{ form_row(edit_form.barcos[i].manga) }}
                                    </div>
                                    <div class="col-sm-5">
                                        {{ form_row(edit_form.barcos[i].nombreResponsable) }}
                                        {{ form_row(edit_form.barcos[i].telefonoResponsable) }}
                                        {{ form_row(edit_form.barcos[i].correoResponsable) }}

                                        {{ form_row(edit_form.barcos[i].nombreCapitan) }}
                                        {{ form_row(edit_form.barcos[i].telefonoCapitan) }}
                                        {{ form_row(edit_form.barcos[i].correoCapitan) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 espacio-linea">
                                        <hr>
                                    </div>
                                </div>
                                <div id="motor-fields-list{{ barco.id }}"
                                     class="lista-motores"
                                     data-prototype="
                                                {% filter escape %}
                                                    {{ include('motor/form-cliente.twig', { 'form': edit_form.barcos[i].motores.vars.prototype }) }}
                                                {% endfilter %}
                                                ">
                                    {% for motorField in edit_form.barcos[i].motores %}
                                        {% form_theme motorField 'motor/form-cliente.twig' %}
                                        <div class="row">
                                            {{ form_widget(motorField) }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" id="" class="add-another-motor letra-azul"
                                           data-cantidad="{{ edit_form.barcos[i].motores|length }}"
                                           data-idlista="{{ barco.id }}">
                                            + Agregar Motor
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ path('barco_new',{'cliente':cliente.id}) }}" class="btn btn-azul">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Agregar Barco
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ delete_form is defined ? modal.deleteButton() : '' }}
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                            <a class="btn btn-naranja pull-right"

                               href="{{ path('cliente_show',{ 'id': cliente.id }) }}">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </section>
    </div>


{% endblock %}

{% block modals %}
    {{ delete_form is defined ? modal.deleteModal(delete_form) : '' }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      /*
            SYMFONY COLLECTION "MOTORES"
      */
      (function () {
        const addLink = document.getElementById('add-razon');
        const prototypeHolder = document.getElementById('appbundle_cliente_razonesSociales');
        let counter = '{{ edit_form.razonesSociales|length }}';

        Array
            .from(prototypeHolder.children)
            .forEach((element, i) => i >= 1 ? appendRemoveLink(element) : false);

        addLink.addEventListener('click', function (e) {
          e.preventDefault();
          const prototype = prototypeHolder.dataset.prototype.replace(/__name__/g, counter);
          const tempContainer = document.createElement('div');
          tempContainer.innerHTML = prototype;

          let element = tempContainer.firstElementChild;
          appendRemoveLink(element);
          prototypeHolder.appendChild(element);
          counter++;
        });

        function appendRemoveLink(element) {
          let removeContainer = element.querySelector('.remove-container');
          let removeElementLink = document.createElement('a');

          removeElementLink.className = 'btn btn-xs btn-naranja';
          removeElementLink.innerHTML = `<i class="fa fa-times" aria-hidden="true"></i> Remover`;
          removeContainer.appendChild(removeElementLink);

          removeElementLink.addEventListener('click', function (e) {
            e.preventDefault();
            this.parentNode.parentNode.remove(this)
          });
        }
      })();
    </script>
{% endblock %}