{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado Clientes</h3>
                </div>
                <div class="panel-body">
                    <table class="table-novo table text-center">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th class="no-sort">Teléfono / Celular</th>
                            <th class="no-sort">Dirección</th>
                            <th class="with-choices">Empresas</th>
                            <th class="no-sort">Facturación</th>
                            <th class="no-sort">Barcos</th>
                            <th class="no-sort"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, settings) {
        $('.table-novo').DataTable({
          ...settings,
          ajax: '{{ path('cliente_index') }}',
          columns: [
            {
              data: 'nombre'
            },
            {
              data: 'correo'
            },
            {
              data: 'telefono'
            },
            {
              data: 'direccion'
            },
            {
              data: 'empresa'
            },
            {
              className: 'td-facturacion',
              data: 'facturacion'
            },
            {
              className: 'td-barcos',
              data: 'barcos'
            },
            {
              data: 'id'
            },
          ],
          createdRow: function (tr, data) {
            let facturacionTd = tr.querySelector('.td-facturacion');
            let barcosTd = tr.querySelector('.td-barcos');
            let lastTd = tr.querySelector('td:last-child');
            let entryPath = `{{ app.request.requestUri }}${data['id']}`;
            barcosTd.innerHTML = `
                <ul class="list-unstyled text-left">
                ${data['barcos'].map(barco => `<li><a href="${entryPath}#${barco[0]}">${barco[1]}</a></li>`)}
                </ul>
            `.replace(',', '');

            facturacionTd.innerHTML = `
            <button class="btn btn-block btn-contorno-azul" data-toggle="collapse"
            data-target="#facturacion-${data['id']}">
                Mostrar datos
            </button>
            <div id="facturacion-${data['id']}" class="collapse">
                <dl class="dl-horizontal text-left">
                  <dt>Razon social</dt>
                  <dd>${data.facturacion[0] || ''}</dd>
                  <dt>RFC</dt>
                  <dd>${data.facturacion[1] || ''}</dd>
                  <dt>Direccion fiscal</dt>
                  <dd>${data.facturacion[2] || ''}</dd>
                  <dt>Correo de facturación</dt>
                  <dd>${data.facturacion[3] || ''}</dd>
                </dl>
            </div>
            `;

            lastTd.innerHTML = `
            <ul class="unstyled-list list-inline">
                <li>
                <a href="${entryPath}/editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a href="${entryPath}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
            `
          },
        });
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}