{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado Clientes</h3>
                </div>
                <div class="panel-body">
                    <table class="table-novo table text-center">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th class="no-sort">Teléfono / Celular</th>
                            <th class="no-sort">Dirección</th>
                            <th class="no-sort">Barcos</th>
                            <th class="no-sort"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, settings) {
        $('.table-novo').DataTable({
          ...settings,
          ajax: '{{ path('cliente_index') }}',
          order: [[0, 'desc']],
          createdRow: function (tr, data) {
            let barcosTd = tr.cells[4];
            let lastTd = tr.querySelector('td:last-child');
            let entryPath = `{{ app.request.requestUri }}${data[5]}`;
            let barcosList = data[4].map(barco => `<li><a href="${entryPath}#${barco[0]}">${barco[1]}</a></li>`).join('');
            barcosTd.innerHTML = `
                <ul class="list-unstyled text-left">
                ${barcosList}
                </ul>
            `.replace(',', '');

            lastTd.innerHTML = `
            <ul class="unstyled-list list-inline">
                <li>
                <a href="${entryPath}/editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a href="${entryPath}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
            `
          },
        });
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}