{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        :root .content-wrapper hr {
            margin: 1em 0 !important;
        }

        h3 {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="panel-title pull-left">{{ title }}</h3>
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('cliente_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Datos de cliente</h3>
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.nombre) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.correo) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.telefono) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.celular) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.direccion) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% form_theme form.razonesSociales ':cliente/form-theme:razon-social.html.twig' %}
                            {{ form_row(form.razonesSociales) }}
                            <a href="#" id="add-razon" class="letra-azul">
                                + Agregar Razón Social
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% form_theme form.cuentasBancarias 'cliente/form-theme/cuenta-bancaria.html.twig' %}
                            {{ form_row(form.cuentasBancarias) }}
                            <a href="#" id="add-cuenta" class="letra-azul">
                                + Agregar Cuenta Bancaria
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Embarcación</h3>
                        </div>
                        {% for barco in form.barcos %}
                            <div class="col-sm-4">
                                {{ form_row(barco.nombre) }}
                                {{ form_row(barco.modelo) }}
                                {{ form_row(barco.eslora) }}
                                {{ form_row(barco.calado) }}
                                {{ form_row(barco.manga) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_row(barco.nombreResponsable) }}
                                {{ form_row(barco.telefonoResponsable) }}
                                {{ form_row(barco.correoResponsable) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_row(barco.nombreCapitan) }}
                                {{ form_row(barco.telefonoCapitan) }}
                                {{ form_row(barco.correoCapitan) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="motor-fields-list0"
                                 class="lista-motores"
                                 data-prototype="
                                    {% filter escape %}
                                    {{ include('motor/form-cliente.twig', { 'form': form.barcos.children[0].motores.vars.prototype }) }}
                                    {% endfilter %}
                                        ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#" id="" class="add-another-motor letra-azul"
                               data-cantidad="{{ form.barcos.children[0].motores|length }}" data-idlista="0">
                                + Agregar Motor
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <a href="{{ path('cliente_index') }}" class="btn btn-naranja pull-right">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      class ElementCollection {
        constructor(addButton, prototypeHolder, elementListener) {
          this.addButton = typeof addButton === 'string'
              ? document.querySelector(addButton)
              : addButton;

          this.prototypeHolder = typeof prototypeHolder === 'string'
              ? document.querySelector(prototypeHolder)
              : prototypeHolder;

          this.elementListener = elementListener;

          Array
              .from(this.prototypeHolder.children)
              .forEach(element => {
                this.appendRemoveButton(element);
                this.elementListener(element);
              });

          this.elementCounter = this.prototypeHolder.childElementCount;

          this.addButton
              .addEventListener(
                  'click',
                  this.addElement.bind(this)
              );
        }

        /* PUBLIC */
        addElement() {
          let element = this._getPrototypeElement();

          this.appendRemoveButton(element);

          if (this.elementListener) {
            this.elementListener(element);
          }

          this.prototypeHolder.appendChild(element);

          return this.prototypeHolder.childElementCount;
        }

        removeElement(element) {
          element = typeof element === 'number' ? this.prototypeHolder.children[(element - 1)] : element;
          if (!element) throw new Error('No existe el elemento que quieres eliminar');
          element.parentNode.removeChild(element);
        }

        appendRemoveButton(element) {
          let celda = element.children[element.children.length - 1];
          let removeButton = document.createElement('a');

          removeButton.className = 'badge btn-xs btn-naranja';
          removeButton.innerHTML = '<i class="fa fa-trash"></i> Remover';
          removeButton.addEventListener('click', (event) => {
            event.preventDefault();
            event.stopPropagation();

            this.removeElement(removeButton.parentNode.parentNode)
          });

          celda.appendChild(removeButton);
        }

        /* PRIVATE */

        _getPrototypeElement() {
          let prototipo = this.prototypeHolder
              .dataset
              .prototype
              .replace(/__name__/g, this.elementCounter);

          let tempElement = document.createElement('div');
          tempElement.innerHTML = prototipo;
          let element = tempElement.querySelector('div');

          this.elementCounter++;

          return element;
        }
      }
    </script>
    <script type="text/javascript">
      const razonesSocialesCollection = new ElementCollection('#add-razon', '#appbundle_cliente_razonesSociales');
      const cuentasBancariasCollection = new ElementCollection('#add-cuenta', '#appbundle_cliente_cuentasBancarias');
    </script>
{% endblock %}
