{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Agregar Cliente
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Nuevo Cliente</h3>
                </div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_row(form.nombre) }}
                            {{ form_row(form.correo) }}
                            {{ form_row(form.telefono) }}
                            {{ form_row(form.celular) }}
                            {{ form_row(form.direccion) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.empresa) }}
                            {{ form_row(form.razonsocial) }}
                            {{ form_row(form.rfc) }}
                            {{ form_row(form.direccionfiscal) }}
                            {{ form_row(form.correofacturacion) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 espacio-linea">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        {% for barco in form.barcos %}
                            <div class="col-sm-4">
                                {{ form_row(barco.nombre) }}
                                {{ form_row(barco.modelo) }}
                                {{ form_row(barco.eslora) }}
                                {{ form_row(barco.calado) }}
                                {{ form_row(barco.manga) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_row(barco.nombreResponsable) }}
                                {{ form_row(barco.telefonoResponsable) }}
                                {{ form_row(barco.correoResponsable) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_row(barco.nombreCapitan) }}
                                {{ form_row(barco.telefonoCapitan) }}
                                {{ form_row(barco.correoCapitan) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 espacio-linea">
                            <hr>
                        </div>
                    </div>
                    <div id="motor-fields-list0"
                         class="lista-motores"
                         data-prototype="
                                    {% filter escape %}
                                    {{ include('motor/form-cliente.twig', { 'form': form.barcos.children[0].motores.vars.prototype }) }}
                                    {% endfilter %}
                                        ">
                        {% for motorField in form.barcos.children[0].motores %}
                            {% form_theme motorField 'motor/form-cliente.twig' %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_row(motorField.marca) }}
                                        {{ form_row(motorField.modelo) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 espacio-linea">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#" id="" class="add-another-motor letra-azul"
                               data-cantidad="{{ form.barcos.children[0].motores|length }}" data-idlista="0">
                                + Agregar Motor
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <a href="{{ path('cliente_index') }}" class="btn btn-naranja pull-right">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
