{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content-wrapper table {
            border: 2px solid #292e41;
        }

        .content-wrapper table th {
            width: 25%;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Detalle cliente: {{ cliente.nombre }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('cliente_index') }}">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#cliente" aria-controls="cliente" role="tab" data-toggle="tab">Cliente</a>
                        </li>
                        {% for barco in cliente.barcos %}
                            <li role="presentation">
                                <a href="#{{ barco.id }}" aria-controls="{{ barco.id }}" role="tab"
                                   data-toggle="tab">{{ barco.nombre }}</a>
                            </li>
                        {% endfor %}
                        <li role="presentation">
                            <a href="#cuentas" aria-controls="cuentas" role="tab"
                               data-toggle="tab">Estados de cuenta</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cliente">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-novo">
                                        <tbody>
                                        <tr>
                                            <th>Nombre</th>
                                            <td>{{ cliente.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <th>Correo</th>
                                            <td>{{ cliente.correo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Teléfono</th>
                                            <td>{{ cliente.telefono }}</td>
                                        </tr>
                                        <tr>
                                            <th>Celular</th>
                                            <td>{{ cliente.celular }}</td>
                                        </tr>
                                        <tr>
                                            <th>Dirección</th>
                                            <td>{{ cliente.direccion }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha Registro</th>
                                            <td>{% if cliente.fecharegistro %}{{ cliente.fecharegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Datos de facturación</h4>
                                    {% for razon in cliente.razonesSociales %}
                                        <table class="table table-novo">
                                            <tbody>
                                            <tr>
                                                <th>Razon Social</th>
                                                <td>{{ razon.razonSocial }}</td>
                                            </tr>
                                            <tr>
                                                <th>RFC</th>
                                                <td>{{ razon.rfc }}</td>
                                            </tr>
                                            <tr>
                                                <th>Dirección</th>
                                                <td>{{ razon.direccion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correos de facturación</th>
                                                <td>{{ razon.correos|join(', ') }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <table class="table table-novo">
                                            <tbody>
                                            <tr>
                                                <td>No se registaron datos de facturación</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    {% if is_granted(expression('has_role("CLIENTE_EDIT") or (user.isAdmin())')) %}
                                        <a class="btn btn-azul" href="{{ path('cliente_edit', { 'id': cliente.id }) }}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Editar Todo
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% for barco in cliente.barcos %}
                            <div role="tabpanel" class="tab-pane" id="{{ barco.id }}">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Barco</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>Nombre barco</th>
                                                <td>{{ barco.nombre }}</td>
                                            </tr>
                                            <tr>
                                                <th>Modelo</th>
                                                <td>{{ barco.modelo }}</td>
                                            </tr>
                                            <tr>
                                                <th>Calado</th>
                                                <td>{{ barco.calado }}</td>
                                            </tr>
                                            <tr>
                                                <th>Manga</th>
                                                <td>{{ barco.manga }}</td>
                                            </tr>
                                            <tr>
                                                <th>Eslora</th>
                                                <td>{{ barco.eslora }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre del responsable</th>
                                                <td>{{ barco.nombreResponsable }}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono del responsable</th>
                                                <td>{{ barco.telefonoResponsable }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correo del responsable</th>
                                                <td>{{ barco.correoResponsable }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre del capitán</th>
                                                <td>{{ barco.nombreCapitan }}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono del capitán</th>
                                                <td>{{ barco.telefonoCapitan }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correo del capitán</th>
                                                <td>{{ barco.correoCapitan }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% for motor in barco.motores %}
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Motor</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th>Marca motor</th>
                                                    <td>{{ motor.marca }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Modelo</th>
                                                    <td>{{ motor.modelo }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="{{ path('barco_edit',{'id':barco.id}) }}" class="btn btn-azul">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Editar Barco
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div role="tabpanel" class="tab-pane" id="cuentas">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Barco</th>
                                            <th>Servicio</th>
                                            <th>Fecha llegada</th>
                                            <th>Fecha salida</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                            <th>Estatus pago</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cotizacion in cliente.mHcotizaciones %}
                                            {% if cotizacion.validacliente == 2 %}
                                                <tr>
                                                    <td>
                                                        {% if cotizacion.foliorecotiza == 0 %}
                                                            {{ cotizacion.folio }}
                                                        {% else %}
                                                            {{ cotizacion.folio }}-{{ cotizacion.foliorecotiza }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ cotizacion.barco }}</td>
                                                    <td>Marina Humeda</td>
                                                    <td>{% if cotizacion.fechaLlegada %}{{ cotizacion.fechaLlegada|date('d-m-Y') }}{% endif %}</td>
                                                    <td>{% if cotizacion.fechaSalida %}{{ cotizacion.fechaSalida|date('d-m-Y') }}{% endif %}</td>
                                                    <td>$ {{ cotizacion.subtotal|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ cotizacion.ivatotal|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ cotizacion.descuentototal|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ cotizacion.total|number_format(2,'.',',') }}</td>
                                                    <td>
                                                        {% if cotizacion.pago.estatuspago is defined and cotizacion.pago.estatuspago == 1 %}
                                                            <img src="{{ asset('img/status-aprobado-icon.svg') }}"
                                                                 class="center-block" data-toggle="tooltip"
                                                                 data-placement="left" title="Pagado">
                                                        {% else %}
                                                            <img src="{{ asset('img/status-desaprovado-icon.svg') }}"
                                                                 class="center-block" data-toggle="tooltip"
                                                                 data-placement="left" title="No pagado">
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-morado-claro"
                                                           href="{{ path('marina-humeda_show', { 'id': cotizacion.id }) }}">Detalle</a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      (function () {
        if (location.hash) {
          const tab = document.querySelector(`a[href="${location.hash}"]`).parentNode;
          const pane = document.getElementById(`${location.hash.replace('#', '')}`);
          [
            ...document.querySelectorAll('li[role="presentation"].active'),
            ...document.querySelectorAll('.tab-pane.active')
          ].forEach(item => item.classList.remove('active'));
          tab.classList.add('active');

          tab.dataset.expanded = true;
          pane.classList.add('active');
          location.hash = '#_';
        }
      })();
    </script>
{% endblock %}