{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        :root .btn {
            min-width: initial;
            text-align: center;
        }

        .daterangepicker {
            color: initial;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            background-color: #292f41;
            border-color: #2a3041;
        }

        .ranges li {
            background-color: hsl(225, 23%, 21%);
            border: 1px solid #292f41;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Detalle cliente: {{ cliente.nombre }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('cliente_index') }}">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#cliente" aria-controls="cliente" role="tab" data-toggle="tab">Cliente</a>
                        </li>
                        {% for barco in cliente.barcos %}
                            <li role="presentation">
                                <a href="#{{ barco.id }}" aria-controls="{{ barco.id }}" role="tab"
                                   data-toggle="tab">{{ barco.nombre }}</a>
                            </li>
                        {% endfor %}
                        <li role="presentation">
                            <a href="#cuentas" aria-controls="cuentas" role="tab"
                               data-toggle="tab">Estados de cuenta</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cliente">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-novo">
                                        <tbody>
                                        <tr>
                                            <th>Nombre</th>
                                            <td>{{ cliente.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <th>Correo</th>
                                            <td>{{ cliente.correo }}</td>
                                        </tr>
                                        <tr>
                                            <th>Teléfono</th>
                                            <td>{{ cliente.telefono }}</td>
                                        </tr>
                                        <tr>
                                            <th>Celular</th>
                                            <td>{{ cliente.celular }}</td>
                                        </tr>
                                        <tr>
                                            <th>Dirección</th>
                                            <td>{{ cliente.direccion }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha Registro</th>
                                            <td>{% if cliente.fecharegistro %}{{ cliente.fecharegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Datos de facturación</h4>
                                    {% for razon in cliente.razonesSociales %}
                                        <table class="table table-novo">
                                            <tbody>
                                            <tr>
                                                <th>Razon Social</th>
                                                <td>{{ razon.razonSocial }}</td>
                                            </tr>
                                            <tr>
                                                <th>RFC</th>
                                                <td>{{ razon.rfc }}</td>
                                            </tr>
                                            <tr>
                                                <th>Dirección</th>
                                                <td>{{ razon.direccion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correos de facturación</th>
                                                <td>{{ razon.correos|join(', ') }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <table class="table table-novo">
                                            <tbody>
                                            <tr>
                                                <td>No se registaron datos de facturación</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    {% if is_granted(expression('has_role("CLIENTE_EDIT") or (user.isAdmin())')) %}
                                        <a class="btn btn-azul" href="{{ path('cliente_edit', { 'id': cliente.id }) }}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Editar Todo
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% for barco in cliente.barcos %}
                            <div role="tabpanel" class="tab-pane" id="{{ barco.id }}">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Barco</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>Nombre barco</th>
                                                <td>{{ barco.nombre }}</td>
                                            </tr>
                                            <tr>
                                                <th>Modelo</th>
                                                <td>{{ barco.modelo }}</td>
                                            </tr>
                                            <tr>
                                                <th>Calado</th>
                                                <td>{{ barco.calado }}</td>
                                            </tr>
                                            <tr>
                                                <th>Manga</th>
                                                <td>{{ barco.manga }}</td>
                                            </tr>
                                            <tr>
                                                <th>Eslora</th>
                                                <td>{{ barco.eslora }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre del responsable</th>
                                                <td>{{ barco.nombreResponsable }}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono del responsable</th>
                                                <td>{{ barco.telefonoResponsable }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correo del responsable</th>
                                                <td>{{ barco.correoResponsable }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre del capitán</th>
                                                <td>{{ barco.nombreCapitan }}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono del capitán</th>
                                                <td>{{ barco.telefonoCapitan }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correo del capitán</th>
                                                <td>{{ barco.correoCapitan }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% for motor in barco.motores %}
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Motor</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th>Marca motor</th>
                                                    <td>{{ motor.marca }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Modelo</th>
                                                    <td>{{ motor.modelo }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="{{ path('barco_edit',{'id':barco.id}) }}" class="btn btn-azul">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Editar Barco
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div role="tabpanel" class="tab-pane" id="cuentas">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="row" style="margin-bottom: 1rem; padding: 1rem 0">
                                        <div class="col-sm-4">
                                            <h4>
                                                <strong>Adeudo total: </strong>
                                                <span id="adeudo"></span>
                                            </h4>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4>
                                                <strong>Abono total: </strong>
                                                <span id="abono"></span>
                                            </h4>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Adeudos</h3>
                                    <table id="cuentas-adeudos" class="table-novo table" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Fecha de registro</th>
                                            <th class="no-sort">Cotización</th>
                                            <th>Cantidad</th>
                                            <th width="10%"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Abonos</h3>
                                    <table id="cuentas-abonos" class="table-novo table" style="width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Fecha de movimiento</th>
                                            <th>Cantidad</th>
                                            <th class="no-sort">Cotización</th>
                                            <th width="10%"></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/daterangepicker.js') }}"></script>
    <script type="text/javascript">
      (function ($, settings) {
        moment.locale('es');

        const adeudoInput = document.getElementById('adeudo');
        const abonoInput = document.getElementById('abono');
        const lengthMenu = [
          [10, 25, 50, -1],
          ['10 filas', '25 filas', '50 filas', 'Mostrar todo']
        ];
        const buttons = {
          buttons: [
            {
              extend: 'excel',
              text: 'XLS',
              className: 'btn btn-verde btn-sm',
            }
          ]
        };
        const autoApply = true;
        const ranges = {
          'Este mes': [moment().startOf('month'), moment().endOf('month')],
          'Mes pasado': [
            moment().subtract(1, 'month').startOf('month'),
            moment().subtract(1, 'month').endOf('month')
          ]
        };
        const locale = {
          applyLabel: 'Aplicar',
          cancelLabel: 'Cancelar',
          fromLabel: 'Desde',
          toLabel: 'Hasta',
          customRangeLabel: 'Definido por usuario',
        };

        let adeudoSearchDates = {
          start: moment().startOf('month'),
          end: moment().endOf('month'),
        };

        let abonoSearchDates = {
          start: moment().startOf('month'),
          end: moment().endOf('month'),
        };

        const $adeudosTable = $('#cuentas-adeudos').DataTable({
          ...settings,
          ajax: {
            url: '{{ path('cliente_show_data_adeudos') }}',
            data(d) {
              d.cliente = '{{ cliente.id }}';
              d.dates = {
                start: adeudoSearchDates.start.format('YYYY-MM-DD'),
                end: adeudoSearchDates.end.format('YYYY-MM-DD'),
              };
            },
          },
          lengthMenu,
          buttons,
          dom:
              "<'row'<'col-sm-3'l><'col-sm-3'<'#datesAdeudos'>><'col-sm-3'B><'col-sm-3'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          order: [[0, 'desc']],
          createdRow(row, data) {
            let showUrl = '{{ app.request.baseUrl }}';

            switch (data[1].kind) {
              case 'Marina':
                showUrl += '/marina/cotizacion/' + data[3].id;
                break;
              case 'Astillero':
                showUrl += '/astillero/' + data[3].id;
                break;
              case 'Combustible':
                showUrl += '/combustible/' + data[3].id;
                break;
            }

            row.cells[1].innerHTML = `${data[1].kind} #${data[1].folio}`;
            row.cells[3].innerHTML = `
            <a href="${showUrl}" class="btn btn-xs btn-block btn-azul">Ver cotización</a>
            `;
            adeudoInput.innerHTML = 'MX $' + data[3].adeudo;
          }
        });

        const $abonosTable = $('#cuentas-abonos').DataTable({
          ...settings,
          ajax: {
            url: '{{ path('cliente_show_data_abonos') }}',
            data(d) {
              d.cliente = '{{ cliente.id }}';
              d.dates = {
                start: abonoSearchDates.start.format('YYYY-MM-DD'),
                end: abonoSearchDates.end.format('YYYY-MM-DD'),
              };
            },
          },
          lengthMenu,
          buttons,
          dom:
              "<'row'<'col-sm-3'l><'col-sm-3'<'#datesAbonos'>><'col-sm-3'B><'col-sm-3'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          order: [[0, 'desc']],
          createdRow(row, data) {
            row.cells[3].innerHTML = `<a href="${data[3].id}" class="btn btn-xs btn-block btn-azul">Recibo de pago</a>`;
            abonoInput.innerHTML = 'MX $' + data[3].total;
          }
        });

        $('#datesAdeudos, #datesAbonos')
            .html(`
              <div class="dataTables_filter">
                <label for="date-range">Fecha
                <input type="text" class="form-control" id="date-range" readonly>
                </label>
              </div>
            `);

        $('#datesAdeudos')
            .find('#date-range')
            .daterangepicker({
              startDate: adeudoSearchDates.start,
              endDate: adeudoSearchDates.end,
              autoApply,
              ranges,
              locale
            })
            .on('apply.daterangepicker', function (e, picker) {
              adeudoSearchDates.start = picker.startDate;
              adeudoSearchDates.end = picker.endDate;
              $adeudosTable.ajax.reload();
              console.log(adeudoSearchDates);
            });

        $('#datesAbonos')
            .find('#date-range')
            .daterangepicker({
              startDate: abonoSearchDates.start,
              endDate: abonoSearchDates.end,
              autoApply,
              ranges,
              locale
            })
            .on('apply.daterangepicker', function (e, picker) {
              abonoSearchDates.start = picker.startDate;
              abonoSearchDates.end = picker.endDate;
              $abonosTable.ajax.reload();
            });

        if (location.hash) {
          const tab = document.querySelector(`a[href="${location.hash}"]`).parentNode;
          const pane = document.getElementById(`${location.hash.replace('#', '')}`);

          [
            ...document.querySelectorAll('li[role="presentation"].active'),
            ...document.querySelectorAll('.tab-pane.active')
          ].forEach(item => item.classList.remove('active'));

          tab.classList.add('active');
          tab.dataset.expanded = true;
          pane.classList.add('active');
          location.hash = '';
        }
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
