{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        :root .content-wrapper hr {
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
        }

        .table > tbody > tr.pago-agregado > td .input-group-addon {
            border-radius: 0;
        }

        .table > tbody > tr.pago-agregado > td {
            padding: 0;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Registrar Pago</h3>
                            <span>
                                {{ solicitud.id }}
                        </span>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('tienda_solicitud_ver', {'id': solicitud.id}) }}"
                               class="btn btn-contorno-azul pull-right">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Cliente</label>
                            <div class='info-input'>{{ solicitud.nombrebarco.cliente }}</div>
                            <label>Barco</label>
                            <div class='info-input'>{{ solicitud.nombrebarco }}</div>
                            <label>Total Cotización (USD)</label>
                            <div class='info-input'>$ {{ (solicitud.totalusd/100)|number_format(2) }}</div>
                            <label>Pagado hasta el momento (USD)</label>
                            <div class='info-input'>$ {{ (solicitud.cantidadpagado/100)|number_format(2) }}</div>
                            <label>Faltante (USD)</label>
                            <div class='info-input'>
                                $ {{ ((solicitud.totalusd-solicitud.cantidadpagado)/100)|number_format(2) }}</div>
                        </div>

                        {% form_theme form 'estructura/temaerror.html.twig' %}
                        {{ form_start(form) }}
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <label>Monedero actual</label>
                                    <div class='info-input'>$ {{ (solicitud.nombrebarco.cliente.monederomarinahumeda/100)|number_format(2) }} USD</div>
                                </div>
                            </div>
                            <p style="margin-bottom: 5px">Listado de pagos</p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="servicioAdicional" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Método de pago</th>
                                            <th>Divisa</th>
                                            <th>Pago</th>
                                            <th>Fecha de pago</th>
                                            <th>Valor del dolar</th>
                                            <th>Factura</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="pago-fields-list0"
                                               class="lista-pagos"
                                               data-prototype="
                                     {% filter escape %}
                                     {{ include('tienda/pagos/coleccion-pagos.html.twig', { 'form': form.pagos.vars.prototype }) }}
                                     {% endfilter %}
                                     ">
                                        {% for i, pagoField in form.pagos %}
                                            {% set factura = solicitud.pagos[i].factura %}
                                            {% form_theme pagoField 'tienda/pagos/coleccion-pagos.html.twig' %}
                                            <tr class="pago-agregado">
                                                <td>{{ form_widget(pagoField.metodopago) }}</td>
                                                <td>{{ form_widget(pagoField.divisa) }}</td>
                                                <td>{{ form_widget(pagoField.cantidad) }} </td>
                                                <td>{{ form_widget(pagoField.fecharealpago) }} </td>
                                                <td>{{ form_widget(pagoField.dolar) }}</td>
                                                <td style="vertical-align: middle">
                                                    {% if solicitud.pagos[i].factura %}
                                                        <a href="{{ path('contabilidad_factura_pdf', { 'id': factura.id }) }}"
                                                           target="_blank"
                                                           class="remove-motor btn btn-xs btn-azul"
                                                           style="margin: 5px;"
                                                        >
                                                            PDF
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td style="vertical-align: middle">
                                                    <a href="#" class="remove-pago btn btn-xs btn-naranja">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-11">
                                    <a href="#" id="" class="add-another-pago letra-azul pull-right"
                                       data-cantidad="{{ form.pagos|length }}" data-idlista="0">
                                        + Agregar Pago
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}