{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Astillero ODT
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Ordenes de Trabajo</h3>
                    Cotización aprobada #0238
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active"><a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a></li>
                        <li role="presentation"><a href="#fotografias" aria-controls="fotografias" role="tab" data-toggle="tab">Fotografias</a></li>
                        <li role="presentation"><a href="#asignacion" aria-controls="asignacion" role="tab" data-toggle="tab">Asignación</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="margenauto letra-azul textos">Nombre:</p>
                                    <p class="padingleft menu">Rodrigo Espinosa Gallardo</p>
                                    <p class="margenauto letra-azul textos">Teléfono:</p>
                                    <p class="padingleft menu">9988774455</p>
                                    <p class="margenauto letra-azul textos">Celular:</p>
                                    <p class="padingleft menu">9988774455</p>
                                    <p class="margenauto letra-azul textos">E-mail:</p>
                                    <p class="padingleft menu">rod@hotmail.com</p>
                                    <p class="margenauto letra-azul textos">Nombre de la embarcación:</p>
                                    <p class="padingleft menu">Poseidon</p>
                                    <p class="margenauto letra-azul textos">Marca:</p>
                                    <p class="padingleft menu">Maritimo</p>
                                    <p class="margenauto letra-azul textos">Modelo:</p>
                                    <p class="padingleft menu">M90</p>
                                    <p class="margenauto letra-azul textos">Año:</p>
                                    <p class="padingleft menu">2014</p>
                                    <p class="margenauto letra-azul textos">Motor:</p>
                                    <p class="padingleft menu">Caterpillar 9000</p>
                                    <p class="margenauto letra-azul textos">Calado:</p>
                                    <p class="padingleft menu">15</p>
                                    <p class="margenauto letra-azul textos">Manga:</p>
                                    <p class="padingleft menu">20</p>
                                    <p class="margenauto letra-azul textos">Eslora:</p>
                                    <p class="padingleft menu">90</p>
                                    <p class="margenauto letra-azul textos">Combustible Lts:</p>
                                    <p class="padingleft menu">20,000</p>
                                    <p class="margenauto letra-azul textos">Agua Lts:</p>
                                    <p class="padingleft menu">15,000</p>
                                </div>
                                <div class="col-sm-8">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Cant.</th>
                                            <th>Producto</th>
                                            <th>Unidad</th>
                                            <th>Prec. Unit</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Descripción</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>Producto</td>
                                            <td>Unidad</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Producto</td>
                                            <td>Unidad</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Producto</td>
                                            <td>Unidad</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Producto</td>
                                            <td>Unidad</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Producto</td>
                                            <td>Unidad</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Producto</td>
                                            <td>Unidad</td>
                                            <td>Prec. Unit.</td>
                                            <td>IVA</td>
                                            <td>Descuento</td>
                                            <td>Descripción</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="fotografias">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-contorno-azul">+ Agregar Fotografía</a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 letra-azul">
                                    Fotografias de inicio
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 letra-azul">
                                    24 de Septiembre 2017
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 letra-azul">
                                    26 de Septiembre 2017
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                                <div class="col-sm-2">
                                    <img src="http://via.placeholder.com/200x120" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="asignacion">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-contorno-azul">+ Asignar Personal</a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="letra-azul">Fermin Larralde</div>

                                    <a href="{{ path('astillero-odt-dias') }}">+ Abrir calendario y tiempos</a>
                                </div>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="{{ asset('img/status-asignar-personal-02.png') }}" class="estatus-personal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <hr>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="letra-azul">Jesús Ochoa</div>

                                    <a href="{{ path('astillero-odt-dias') }}">+ Abrir calendario y tiempos</a>
                                </div>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="{{ asset('img/status-asignar-personal.png') }}" class="estatus-personal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <hr>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="letra-azul">Luis Fernando</div>

                                    <a href="{{ path('astillero-odt-dias') }}">+ Abrir calendario y tiempos</a>
                                </div>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="{{ asset('img/status-asignar-personal.png') }}" class="estatus-personal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <hr>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}