{% extends 'estructura/plantilla.twig' %}
{#{% import 'estructura/modalborrar.twig' as modal %}#}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Nueva factura
                            </h3>
                        </div>
                        <div class="panel-body panel-pestanias">
                            {{ form_start(form) }}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="primero active">
                                    <a href="#generales" data-toggle="tab">Generales</a>
                                </li>
                                <li class="primero">
                                    <a href="#conceptos" data-toggle="tab">Conceptos</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="generales">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.cotizacion) }}
                                        </div>
                                    </div>
                                    <hr style="margin: 1em 0 !important;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.rfc) }}
                                            {{ form_row(form.cliente) }}
                                            {{ form_row(form.empresa) }}
                                            {{ form_row(form.direccionFiscal) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.pais) }}
                                            {{ form_row(form.estado) }}
                                            {{ form_row(form.ciudad) }}
                                            {{ form_row(form.codigoPostal) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.numeroTelefonico) }}
                                            {{ form_row(form.correoElectronico) }}
                                            {{ form_row(form.fechaExpedicion) }}
                                            {{ form_row(form.lugarExpedicion) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(form.tipoCambio) }}
                                            {{ form_row(form.condicionesPago) }}
                                            {{ form_row(form.cuenta) }}
                                            {{ form_row(form.referenciaPago) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="conceptos">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{ form_row(form.iva) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th width="35%">Servicios</th>
                                                    <th>Precio unidad</th>
                                                    <th>Sub-total</th>
                                                    <th>IVA</th>
                                                    <th>Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><input type="text" name="" id=""></td>
                                                    <td><input type="text" name="" id=""></td>
                                                    <td><input type="text" name="" id=""></td>
                                                    <td><input type="text" name="" id=""></td>
                                                    <td><input type="text" name="" id=""></td>
                                                    <td><input type="text" name="" id=""></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <button class="btn btn-contorno-azul">
                                                + Agregar servicio
                                            </button>
                                        </div>
                                        <div class="col-sm-4 col-sm-push-5 text-right">
                                            <h4 class="letra-azul">Sub-total</h4>
                                            <h4 class="">$ 00.00 USD</h4>
                                            <hr>
                                            <h4 class="letra-azul">IVA</h4>
                                            <h4 class="">$ 00.00 USD</h4>
                                            <hr>
                                            <h4 class="letra-azul">Total</h4>
                                            <h4 class="">$ 00.00 USD</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-azul pull-right">
                                        {#<i class="fa fa-floppy-o" aria-hidden="true"></i>#}
                                        Facturar
                                    </button>
                                    <div class="pull-left">
                                        {#{{ delete_form is defined ? modal.deleteButton() : '' }}#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{#
{% block modals %}
    {{ delete_form is defined ? modal.deleteModal(delete_form) : '' }}
{% endblock %}
#}
