{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
            max-width: 300px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;

        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }

        .list-unstyled li {
            margin-bottom: .5rem;
        }

        .percent-input + .input-group-addon {
            border-radius: 0 17px 17px 0 !important;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ title }}
                                {% if is_granted('ROLE_INVENTARIO_MODIFICAR') %}
                                <a href="{{ path('almacen_modificacion_new', {e: empresa.id}) }}" class="pull-right btn btn-azul" style="color: #fff">
                                    Modificar Inventario
                                </a>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive scroll-novo">
                                <table class="table table-novo text-center">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Categoria / Subcategoria</th>
                                        <th>Marca</th>
                                        <th>Imagen</th>
                                        <th>Existencia</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
        (function ($, dtSettings) {
            $('.table-novo').DataTable({
                    ...dtSettings,
                ajax: '{{ path('almacen_inventario-jrf') }}',
                order: [[0, 'asc']],
                columns: [
                {responsivePriority: 0},
                {responsivePriority: 1},
                {responsivePriority: 1},
                {responsivePriority: 1},
                {responsivePriority: 0},
                {responsivePriority: 0},
            ],
        });

        })(jQuery, datatablesSettings);
    </script>
{% endblock %}
