{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Reporte de Marina</h3>
                </div>
                <div class="panel-body">
                    <table class="table-novo table text-center">
                        <thead>
                        <tr>
                            <th>Cotización</th>
                            <th>Cliente</th>
                            <th class="no-sort">Inicio</th>
                            <th class="no-sort">Final</th>
                            <th class="no-sort">Último pago</th>
                            <th class="no-sort">Adeudo</th>
                            <th class="no-sort">Pagado</th>
                            <th class="no-sort"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/es.js') }}"></script>
    <script type="text/javascript">
      (function ($, settings) {
        moment.locale('es');

        $('.table-novo').DataTable({
          ...settings,
          ajax: '{{ path('reporte_mar_index_data') }}',
          order: [[1, 'asc']],
          columns: [
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 0},
          ],
          createdRow: function (row, cliente) {
            let paymentDate = moment(cliente[4], 'YYYY-MM-DD HH:mm:ss', true);
            row.cells[2].innerHTML = moment(cliente[2], 'YYYY-MM-DD HH:mm:ss', true).format('D-MM-YYYY');
            row.cells[3].innerHTML = moment(cliente[3], 'YYYY-MM-DD HH:mm:ss', true).format('D-MM-YYYY');
            row.cells[4].innerHTML = paymentDate.isValid() ? paymentDate.format('D-MM-YYYY') : cliente[4];

            row.cells[7].innerHTML = `
                <a class="btn btn-xs btn-block btn-naranja"
                href="{{ path('cliente_notificacion_index') }}?u=${cliente[7].cliente}&f=${cliente[0]}">Notificar</a>

                <a class="btn btn-xs btn-block btn-morado-claro"
                href="{{ app.request.baseUrl }}/astillero/${cliente[7].cotizacion}">Ver cotización</a>
            `;
          },
        });
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}