{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        .list-unstyled li {
            margin-bottom: .5rem;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">

                <div class="panel-heading">
                    <h3 class="panel-title">Solicitudes</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-novo">
                        <thead>
                        <tr>
                            <th>folio</th>
                            <th>Fecha</th>
                            <th>Embarcación</th>
                            <th>Solicitud Especial</th>
                            <th>Total (MXN)</th>
                            <th>Total (USD)</th>
                            <th>Pagado</th>
                            <th>Entregado</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        const aceptado = `<img src="{{ asset('img/status-aprobado-icon.svg') }}" class="center-block">`;
        const rechazado = `<img src="{{ asset('img/status-desaprovado-icon.svg') }}" class="center-block">`;
        const pendiente = `<img src="{{ asset('img/status-pendiente-icon.svg') }}" class="center-block">`;

        $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: '{{ path('tienda_solicitud_index_data') }}',
          order: [[0, 'desc']],
          columns: [
            {responsivePriority: 1},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 0},
          ],
          createdRow: function (row, data) {
            for (let i of [6, 7]) {
              if (!data[i]) row.children[i].innerHTML = rechazado;
              if (data[i] === 1) row.children[i].innerHTML = aceptado;
              if (data[i] === 2) row.children[i].innerHTML = pendiente;
            }

            row.lastElementChild.innerHTML = writeLastChild(data[6], data[7], data[8]);
          }
        });

        function writeLastChild(pagado, entregado, id) {
          const btnClass = 'btn btn-xs btn-block btn-';
          return `
          <td>
            <ul class="list-unstyled">
              <li><a class="${btnClass}morado-claro" href="${id}">Detalle</a></li>
              ${pagado === 0 || pagado >= 2 ? `<li><a class="${btnClass}verde" href="${id}/pago">Pagos</a></li>` : ''}
              ${entregado ? `<li><a class="${btnClass}naranja" href="entregar/${id}">No Entregado</a></li>` : `<li><a class="${btnClass}azul" href="entregar/${id}">Entregado</a></li>`}
            </ul>
          </td>
        `;
        }
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
