{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Servicios Adicionales
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">

                <div class="panel-heading">
                    <h3 class="panel-title">Solicitudes</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive scroll-novo">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Embarcación</th>
                                <th>Solicitud Especial</th>
                                <th>Total (MXN)</th>
                                <th>Total (USD)</th>
                                <th>Pagado</th>
                                <th>Entregado</th>
                                <th>Acciones</th>
                                <th>Productos</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for solicitud in solicituds %}
                                <tr>
                                    <td>{{ solicitud.id }}</td>
                                    <td>{{ solicitud.fecha|date("m/d/Y") }}</td>
                                    <td>{{ solicitud.nombrebarco }}</td>
                                    {% if solicitud.solicitudEspecial is empty %}
                                        <td>N/A</td>
                                    {% else %}
                                        <td> {{ solicitud.solicitudEspecial }}</td>
                                    {% endif %}
                                    <td>$ {{ (solicitud.total/100)|number_format(2,'.',',') }}</td>
                                    <td>$ {{ (solicitud.totalusd/100)|number_format(2,'.',',') }}</td>
                                    <td class="align-middle">
                                        {% if solicitud.pagado >= 2 %}
                                            <img src="{{ asset('img/status-pendiente-icon.svg') }}"
                                                 class="center-block" title="Pendiente">
                                        {% elseif solicitud.pagado == 0 %}
                                            <img src="{{ asset('img/status-desaprovado-icon.svg') }}"
                                                 class="center-block" title="Adeudo">
                                        {% elseif solicitud.pagado == 1 %}
                                            <img src="{{ asset('img/status-aprobado-icon.svg') }}"
                                                 class="center-block" title="Pagado">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if solicitud.entregado >= 2 %}
                                            <img src="{{ asset('img/status-pendiente-icon.svg') }}"
                                                 class="center-block" title="Pendiente">
                                        {% elseif solicitud.entregado == 0 %}
                                            <img src="{{ asset('img/status-desaprovado-icon.svg') }}"
                                                 class="center-block" title="Rechazado">
                                        {% elseif solicitud.entregado == 1 %}
                                            <img src="{{ asset('img/status-aprobado-icon.svg') }}"
                                                 class="center-block" title="Entregado">
                                        {% endif %}
                                    </td>
                                    <td align="center" valign="middle">
                                        <ul class="list-inline">
                                            <li>
                                                {% if solicitud.pagado >= 2 %}
                                                    <a href="{{ path('solicitud_pago_edit', {'id': solicitud.id}) }}" class="btn btn-block btn-xs btn-verde">
                                                        Pagos</a>
                                                {% elseif solicitud.pagado == 0 %}
                                                    <a href="{{ path('solicitud_pago_edit', {'id': solicitud.id}) }}" class="btn btn-block btn-xs btn-verde">
                                                        Pagos</a>
                                                {% endif %}
                                                {% if solicitud.entregado >= 2 %}
                                                            <a href="entregar/{{ solicitud.id }}" class="btn btn-block btn-xs btn-azul">
                                                                Entregado</a>
                                                            <a href="noentregado/{{ solicitud.id }}" class="btn btn-block btn-xs btn-naranja">
                                                                No entregado</a>
                                                {% elseif solicitud.entregado == 1 %}
                                                    <a href="entregar/{{ solicitud.id }}" class="btn btn-block btn-xs btn-naranja">
                                                        No entregado</a>
                                                {% elseif solicitud.entregado == 0 %}
                                                    <a href="entregar/{{ solicitud.id }}" class="btn btn-block btn-xs btn-azul">
                                                        Entregado</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="{{ path('tienda_solicitud_ver', {'id' : solicitud.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
