{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .p-0{
            padding: 0 !important;
        }
    </style>
{% endblock %}
{% import 'estructura/modalborrar.twig' as modal %}
{% form_theme form.conceptos '/gasto/_concepto.html.twig' %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            {{ form_start(form) }}
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('gasto_index') }}">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div id="products-pane" class="panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            {{ form_row(form.empresa) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.total) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="3%" valign="middle" class="text-center">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </th>
                                    <th width="15%">Servicio</th>
                                    <th width="8%">Total</th>
                                </tr>
                                </thead>
                                <tbody id="conceptos" data-prototype="{{ form_widget(form.conceptos.vars.prototype)|e('html_attr') }}">
                                {% for concepto in form.conceptos %}
                                    <tr class="servicio-agregado table-item">
                                        <td valign="middle" class="text-center">
                                        </td>
                                        <td class="p-0">
                                            {{ form_widget(concepto.servicio) }}
                                            {{ form_errors(concepto.servicio) }}
                                        </td>
                                        <td class="p-0">
                                            {{ form_widget(concepto.total) }}
                                            {{ form_errors(concepto.total) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-6">
                            <button id="submit-btn" class="btn btn-azul">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                        {% if is_granted(expression('has_role("GASTO_DELETE") or (user.isAdmin())')) %}
                            <div class="col-sm-6 text-right">
                                {{ delete_form is defined ? modal.deleteButton('Gasto') : '' }}
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#" id="add" class="btn btn-block btn-contorno-azul pull-right">
                                + Concepto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
{% block modals %}
    {{ delete_form is defined ? modal.deleteModal(delete_form) : '' }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    (($) => {
        const body = document.querySelector('body');
        const ventaForm = document.querySelector('form[name="appbundle_gasto"]');
        const SubmitButton = document.getElementById('submit-btn');
        const AddButton = document.getElementById('add');
        const EntradasHolder = document.getElementById('conceptos');
        const SelectEmpresa = document.getElementById('appbundle_gasto_empresa');
        const InputGranTotal = document.getElementById('appbundle_gasto_total');
        let counter = EntradasHolder.childElementCount;

        /**
         * Da formato a un numero en decimales y reduce sus decimales a 2
         */
        function transformToMoneyFormat(numero) {
            return numero.replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }

        /**
         * Crea una fila en la tabla de entradas con un boton que la remueve
         */
        function createRow()
        {
            let prototipo = EntradasHolder.dataset.prototype.replace(/__name__/g, counter);
            let tempTable = document.createElement('table');
            tempTable.innerHTML = prototipo;
            let row = tempTable.querySelector('tr');
            row.cells[1].querySelectorAll('option').forEach(opcion => ocultaOptions(opcion));
            addRowListeners(row);
            addRowRemove(row);
            EntradasHolder.appendChild(row);
            counter++;
            return row;
        }

    function ocultaOptions(opcion){
            let empresaActual = Number(SelectEmpresa.value);
            var valor = JSON.parse("[" + opcion.value + "]");
            if (valor[1] !== empresaActual) {
                //opcion.className += ' hide';
                //opcion.remove();
                opcion.parentNode.removeChild(opcion);
            }
    }

    /**
     * Agrega un boton para remover su propia row
     */
    function addRowRemove(row) {
        let celda = row.cells[0];
        let removeButton = document.createElement('a');

        removeButton.className = 'badge btn-xs btn-naranja';
        removeButton.innerHTML = '<i class="fa fa-times"></i>';
        removeButton.addEventListener('click', (event) => {
            event.preventDefault();
        event.stopPropagation();
        removeButton.parentNode.parentNode.remove(removeButton);
        sumaGranTotal();
        });

        celda.appendChild(removeButton);
    }

    function addRowListeners(row){
        row.cells[2].querySelector('input').onkeyup =  function (ev) {
            sumaGranTotal();
        };
        row.cells[2].querySelector('input').onkeypress = function(ev){
            return esNumeroDecimal(ev,this);
        };
    }

    function sumaGranTotal(){
        let sumGranTot = 0;
        EntradasHolder.querySelectorAll('tr').forEach(
            fila => sumGranTot += Number((fila.cells[2].querySelector('input').value).replace(',',''))
        );
        InputGranTotal.value  = transformToMoneyFormat(String(sumGranTot));
    }

    AddButton.addEventListener('click', (event) => {
        event.preventDefault();
        event.stopPropagation();
        if(Number(SelectEmpresa.value) !== 0){
            $(createRow().cells[1].querySelector('select')); //.select2('open');
        }
    });

    SubmitButton
        .addEventListener('click', (event) => {
        event.preventDefault();
         event.stopPropagation();

         $('<input type="submit" class="hidden">')
            .appendTo(ventaForm)
            .click()
            .remove();
         if (ventaForm.checkValidity()) {
            ventaForm.submit();
         }
    });

    EntradasHolder
        .querySelectorAll('tr')
        .forEach((row) => {
        addRowListeners(row);
        addRowRemove(row);
    });

    SelectEmpresa.addEventListener('change',function (ev) {
        EntradasHolder.querySelectorAll('tr').forEach(fila => fila.remove());
        sumaGranTotal();
    });

    })(jQuery);
    </script>
{% endblock %}