{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de {{ tipo }}s</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Referencia</th>
                                    <th>Total</th>
                                    <th class="no-sort text-center" valign="middle" width="10%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: {
            url: 'registros.json',
            data(d) {
              d.tipo = '{{ tipo }}'
            }
          },
          order: [[0, 'desc']],
          columns: [
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 2},
            {responsivePriority: 0},
          ],
          createdRow: function (row, registro) {
            let conceptoButton = document.createElement('a');
            conceptoButton.className = 'btn btn-xs btn-azul';
            conceptoButton.innerHTML = 'Productos';
            conceptoButton.href = `entradas/${registro[3]}`;

            row.cells[3].innerHTML = '';
            row.cells[3].appendChild(conceptoButton);
          }
        });
      })(jQuery, datatablesSettings)
    </script>
{% endblock %}
