{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautica | Nueva cotización
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Recotización</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('astillero_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {% form_theme form 'estructura/temaerror.html.twig' %}
                    {{ form_start(form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios
                                Básicos</a>
                        </li>
                        <li role="presentation">
                            <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalmxn" aria-controls="totalmxn" role="tab" data-toggle="tab">Total (MXN)</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form_errors(form.fechaLlegada) }}
                                {{ form_errors(form.fechaSalida) }}
                                {{ form_errors(form.barco) }}
                                {{ form_errors(form.diasEstadia) }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente.direccion }}</div>
                                        <label>R.F.C.</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente.rfc }}</div>
                                        <label>Razón social</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente.razonsocial }}</div>
                                        <label>Dirección fiscal</label>
                                        <div class='info-input'>{{ astilleroCotizacion.cliente.direccionfiscal }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div id='barcopies' class='info-input' data-valor="{{ astilleroCotizacion.barco.eslora }}">{{ astilleroCotizacion.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.manga }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-daterange" id="rangoFehas">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaLlegada) }}
                                                {{ form_widget(form.fechaLlegada) }}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaSalida) }}
                                                {{ form_widget(form.fechaSalida) }}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ form_label(form.diasEstadia) }}
                                            {{ form_widget(form.diasEstadia) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ form_label(form.dolar) }}
                                            {{ form_widget(form.dolar) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">

                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <label class="tipo-letra1">Uso de grua</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <label>Precio por pie</label>
                                    {% if form.acservicios.0.precio is defined %}
                                        {{ form_widget(form.acservicios.0.precio) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <label class="tipo-letra1">Uso de suelo</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-3">
                                    <label>Precio por día</label>
                                    {% if form.acservicios.1.precio is defined %}
                                        {{ form_widget(form.acservicios.1.precio) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <label class="tipo-letra1">Uso de rampa (precio)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="input-estatus">
                                        <span class="cont-label-novo">
                                             {% if form.acservicios.2.estatus is defined %}
                                                 {{ form_errors(form.acservicios.2.estatus) }}
                                                 {{ form_widget(form.acservicios.2.estatus) }}
                                                 {{ form_label(form.acservicios.2.estatus) }}
                                             {% endif %}
                                         </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Precio</label>
                                    {% if form.acservicios.2.precio is defined %}
                                        {{ form_widget(form.acservicios.2.precio) }}
                                    {% endif %}

                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <label class="tipo-letra1">Uso de karcher</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="input-estatus">
                                        <span class="cont-label-novo">
                                             {% if form.acservicios.3.estatus is defined %}
                                                 {{ form_errors(form.acservicios.3.estatus) }}
                                                 {{ form_widget(form.acservicios.3.estatus) }}
                                                 {{ form_label(form.acservicios.3.estatus) }}
                                             {% endif %}
                                         </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Precio</label>
                                    {% if form.acservicios.3.precio is defined %}
                                        {{ form_widget(form.acservicios.3.precio) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <label class="tipo-letra1">Sacar varada y botadura</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="input-estatus">
                                        <span class="cont-label-novo">
                                              {% if form.acservicios.4.estatus is defined %}
                                                  {{ form_errors(form.acservicios.4.estatus) }}
                                                  {{ form_widget(form.acservicios.4.estatus) }}
                                                  {{ form_label(form.acservicios.4.estatus) }}
                                              {% endif %}
                                         </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Precio por pie</label>
                                    {% if form.acservicios.4.precio is defined %}
                                        {{ form_widget(form.acservicios.4.precio) }}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="total">
                            <div class="row">
                                <div class="col-sm-9 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="valdolar" class="" ><span class="dolarval">{{ (astilleroCotizacion.dolar/100)|number_format(2) }}</span> MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <small>Precios en USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <table id="a_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Servicio</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                            <th class="col-sm-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="servicio-fields-list0"
                                               class="lista-servicios"
                                               data-prototype="
                                                    {% filter escape %}
                                                        {{ include('astillero/cotizacion/coleccion-servicio.twig', { 'form': form.acservicios.vars.prototype }) }}
                                                        {#{{ form_widget(form.acservicios.vars.prototype) }}#}
                                                    {% endfilter %}"
                                        >
                                        <tr id="fila_grua" class="servicio-agregado">
                                            <td id="grua_cantidad" class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.0.cantidad }}">{{ astilleroCotizacion.acservicios.0.cantidad }}</td>
                                            <td>Uso de grua</td>
                                            <td id="grua_precio" class="valorprecio" data-valor="{{ astilleroCotizacion.acservicios.0.precio/100 }}">$ {{ (astilleroCotizacion.acservicios.0.precio/100)|number_format(2) }}</td>
                                            <td id="grua_subtotal" class="valorsubtotal" data-valor="{{ astilleroCotizacion.acservicios.0.subtotal/100 }}">$ {{ (astilleroCotizacion.acservicios.0.subtotal/100)|number_format(2) }}</td>
                                            <td id="grua_iva" class="valoriva" data-valor="{{ astilleroCotizacion.acservicios.0.iva/100 }}">$ {{ (astilleroCotizacion.acservicios.0.iva/100)|number_format(2) }}</td>
                                            <td id="grua_total" class="valortotal" data-valor="{{ astilleroCotizacion.acservicios.0.total/100 }}">$ {{ (astilleroCotizacion.acservicios.0.total/100)|number_format(2) }}</td>
                                            <td></td>
                                        </tr>
                                        <tr id="fila_suelo" class="servicio-agregado">
                                            <td id="suelo_cantidad" class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.1.cantidad }}">{{ astilleroCotizacion.acservicios.1.cantidad }}</td>
                                            <td>Uso de suelo</td>
                                            <td id="suelo_precio" class="valorprecio" data-valor="{{ astilleroCotizacion.acservicios.1.precio/100 }}">$ {{ (astilleroCotizacion.acservicios.1.precio/100)|number_format(2) }}</td>
                                            <td id="suelo_subtotal" class="valorsubtotal" data-valor="{{ astilleroCotizacion.acservicios.1.subtotal/100 }}">$ {{ (astilleroCotizacion.acservicios.1.subtotal/100)|number_format(2) }}</td>
                                            <td id="suelo_iva" class="valoriva" data-valor="{{ astilleroCotizacion.acservicios.1.iva/100 }}">$ {{ (astilleroCotizacion.acservicios.1.iva/100)|number_format(2) }}</td>
                                            <td id="suelo_total" class="valortotal" data-valor="{{ astilleroCotizacion.acservicios.1.total/100 }}">$ {{ (astilleroCotizacion.acservicios.1.total/100)|number_format(2) }}</td>
                                            <td></td>
                                        </tr>
                                        <tr id="cotizarampa" class="{% if astilleroCotizacion.acservicios.2.estatus == 0 %}hidden{% endif %} servicio-agregado">
                                            <td class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.2.cantidad }}">{{ astilleroCotizacion.acservicios.2.cantidad }}</td>
                                            <td>Uso de rampa</td>
                                            <td id="rampa_precio" class="valorprecio" data-valor="{{ astilleroCotizacion.acservicios.2.precio/100 }}">$ {{ (astilleroCotizacion.acservicios.2.precio/100)|number_format(2) }}</td>
                                            <td id="rampa_subtotal" class="valorsubtotal" data-valor="{{ astilleroCotizacion.acservicios.2.subtotal/100 }}">$ {{ (astilleroCotizacion.acservicios.2.subtotal/100)|number_format(2) }}</td>
                                            <td id="rampa_iva" class="valoriva" data-valor="{{ astilleroCotizacion.acservicios.2.iva/100 }}">$ {{ (astilleroCotizacion.acservicios.2.iva/100)|number_format(2) }}</td>
                                            <td id="rampa_total" class="valortotal" data-valor="{{ astilleroCotizacion.acservicios.2.total/100 }}">$ {{ (astilleroCotizacion.acservicios.2.total/100)|number_format(2) }}</td>
                                            <td></td>
                                        </tr>
                                        <tr id="cotizakarcher" class="{% if astilleroCotizacion.acservicios.3.estatus == 0 %}hidden{% endif %} servicio-agregado">
                                            <td class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.3.cantidad }}">{{ astilleroCotizacion.acservicios.3.cantidad }}</td>
                                            <td>Uso de karcher</td>
                                            <td id="karcher_precio" class="valorprecio" data-valor="{{ astilleroCotizacion.acservicios.3.precio/100 }}">$ {{ (astilleroCotizacion.acservicios.3.precio/100)|number_format(2) }}</td>
                                            <td id="karcher_subtotal" class="valorsubtotal" data-valor="{{ astilleroCotizacion.acservicios.3.subtotal/100 }}">$ {{ (astilleroCotizacion.acservicios.3.subtotal/100)|number_format(2) }}</td>
                                            <td id="karcher_iva" class="valoriva" data-valor="{{ astilleroCotizacion.acservicios.3.iva/100 }}">$ {{ (astilleroCotizacion.acservicios.3.iva/100)|number_format(2) }}</td>
                                            <td id="karcher_total" class="valortotal" data-valor="{{ astilleroCotizacion.acservicios.3.total/100 }}">$ {{ (astilleroCotizacion.acservicios.3.total/100)|number_format(2) }}</td>
                                            <td></td>
                                        </tr>
                                        <tr id="cotizavarada" class="{% if astilleroCotizacion.acservicios.4.estatus == 0 %}hidden{% endif %} servicio-agregado">
                                            <td id="varada_cantidad" class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.4.cantidad }}">{{ astilleroCotizacion.acservicios.4.cantidad }}</td>
                                            <td>Sacar varada y boadura</td>
                                            <td id="varada_precio" class="valorprecio" data-valor="{{ astilleroCotizacion.acservicios.4.precio/100 }}">$ {{ (astilleroCotizacion.acservicios.4.precio/100)|number_format(2) }}</td>
                                            <td id="varada_subtotal" class="valorsubtotal" data-valor="{{ astilleroCotizacion.acservicios.4.subtotal/100 }}">$ {{ (astilleroCotizacion.acservicios.4.subtotal/100)|number_format(2) }}</td>
                                            <td id="varada_iva" class="valoriva" data-valor="{{ astilleroCotizacion.acservicios.4.iva/100 }}">$ {{ (astilleroCotizacion.acservicios.4.iva/100)|number_format(2) }}</td>
                                            <td id="varada_total" class="valortotal" data-valor="{{ astilleroCotizacion.acservicios.4.total/100 }}">$ {{ (astilleroCotizacion.acservicios.4.total/100)|number_format(2) }}</td>
                                            <td></td>
                                        </tr>

                                        {% for servicioagregado in form.acservicios %}
                                            {% if (servicioagregado.producto.vars.value is not empty) or (servicioagregado.servicio.vars.value is not empty) or (servicioagregado.otroservicio.vars.value is not empty) %}
                                            {#{% form_theme servicioagregado 'astillero/cotizacion/coleccion-servicio.twig' %}#}
                                            <tr class="servicio-agregado" data-id="{{ servicioagregado.vars.name }}">
                                                <td class="valorcantidad" data-valor="{{ servicioagregado.cantidad.vars.value }}" >{{ form_widget(servicioagregado.cantidad) }}</td>
                                                    {% if servicioagregado.producto.vars.value is not empty %}
                                                        <td class="td-producto">{{ form_widget(servicioagregado.producto) }}</td>
                                                        <td class="td-servicio hide">{{ form_widget(servicioagregado.servicio) }}</td>
                                                        <td class="td-otroservicio hide">{{ form_widget(servicioagregado.otroservicio) }}</td>
                                                    {% elseif servicioagregado.servicio.vars.value is not empty %}
                                                        <td class="td-producto hide">{{ form_widget(servicioagregado.producto) }}</td>
                                                        <td class="td-servicio">{{ form_widget(servicioagregado.servicio) }}</td>
                                                        <td class="td-otroservicio hide">{{ form_widget(servicioagregado.otroservicio) }}</td>
                                                    {% elseif servicioagregado.otroservicio.vars.value is not empty %}
                                                        <td class="td-producto hide">{{ form_widget(servicioagregado.producto) }}</td>
                                                        <td class="td-servicio hide">{{ form_widget(servicioagregado.servicio) }}</td>
                                                        <td class="td-otroservicio">{{ form_widget(servicioagregado.otroservicio) }}</td>
                                                    {% endif %}
                                                {{ form_widget(servicioagregado.estatus,{'attr':{'class':'hidden'}}) }}
                                                <td class="valorprecio" data-valor="{{ servicioagregado.precio.vars.value }}">
                                                    {% if servicioagregado.otroservicio.vars.value is not empty %}
                                                        {{ form_widget(servicioagregado.precio) }}
                                                    {% else %}
                                                        $ {{ servicioagregado.precio.vars.value|number_format(2) }}
                                                        <div class="hide">
                                                            {{ form_widget(servicioagregado.precio,{'attr':{'class':'hidden'}}) }}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td class="valorsubtotal" data-valor="{{ servicioagregado.vars.value.subtotal/100 }}">$ {{ (servicioagregado.vars.value.subtotal/100)|number_format(2) }}</td>
                                                <td class="valoriva" data-valor="{{ servicioagregado.vars.value.iva/100 }}">$ {{ (servicioagregado.vars.value.iva/100)|number_format(2)}}</td>
                                                <td class="valortotal" data-valor="{{ servicioagregado.vars.value.total/100 }}">$ {{ (servicioagregado.vars.value.total/100)|number_format(2)}}</td>
                                                <td>
                                                    <a href="#" class="remove-servicio btn btn-naranja">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div id="valorsistemaiva" class="" data-valor="{{ astilleroCotizacion.iva }}">
                                        <small>IVA: {{ astilleroCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-9">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="add-producto btn btn-contorno-azul">
                                        + Agrega Producto
                                    </a>
                                    <a href="#" class="add-servicio btn btn-contorno-azul">
                                        + Agrega Servicio
                                    </a>
                                    <a href="#" id="" class="add-another-servicio btn btn-contorno-azul" data-cantidad="{{ form.acservicios|length }}" data-idlista="0">
                                        + Agregar Otro
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot">{{ (astilleroCotizacion.subtotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $ <span id="graniva">{{ (astilleroCotizacion.iva/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot">{{ (astilleroCotizacion.total/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalmxn">
                            <div class="row">
                                <div class="col-sm-9 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="valdolar" class="" ><span class="dolarval">{{ (astilleroCotizacion.dolar/100)|number_format(2) }}</span> MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <table id="a_nuevacotizacion_mxn" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Servicio</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr id="fila_grua_mxn" class="servicio-agregado">
                                            <td id="grua_cantidad_mxn" class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.0.cantidad }}">{{ astilleroCotizacion.acservicios.0.cantidad }}</td>
                                            <td>Uso de grua</td>
                                            <td id="grua_precio_mxn" class="valorprecio" data-valor="{{ (astilleroCotizacion.acservicios.0.precio * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.0.precio * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="grua_subtotal_mxn" class="valorsubtotal" data-valor="{{ (astilleroCotizacion.acservicios.0.subtotal * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.0.subtotal * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="grua_iva_mxn" class="valoriva" data-valor="{{ (astilleroCotizacion.acservicios.0.iva * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.0.iva * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="grua_total_mxn" class="valortotal" data-valor="{{ (astilleroCotizacion.acservicios.0.total * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.0.total * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        <tr id="fila_suelo_mxn" class="servicio-agregado">
                                            <td id="suelo_cantidad_mxn" class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.1.cantidad }}">{{ astilleroCotizacion.acservicios.1.cantidad }}</td>
                                            <td>Uso de suelo</td>
                                            <td id="suelo_precio_mxn" class="valorprecio" data-valor="{{ (astilleroCotizacion.acservicios.1.precio * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.1.precio * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="suelo_subtotal_mxn" class="valorsubtotal" data-valor="{{ (astilleroCotizacion.acservicios.1.subtotal * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.1.subtotal * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="suelo_iva_mxn" class="valoriva" data-valor="{{ (astilleroCotizacion.acservicios.1.iva * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.1.iva * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="suelo_total_mxn" class="valortotal" data-valor="{{ (astilleroCotizacion.acservicios.1.total * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.1.total * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        <tr id="cotizarampa_mxn" class="{% if astilleroCotizacion.acservicios.2.estatus == 0 %}hidden{% endif %} servicio-agregado">
                                            <td class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.2.cantidad }}">{{ astilleroCotizacion.acservicios.2.cantidad }}</td>
                                            <td>Uso de rampa</td>
                                            <td id="rampa_precio_mxn" class="valorprecio" data-valor="{{ (astilleroCotizacion.acservicios.2.precio * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.2.precio * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="rampa_subtotal_mxn" class="valorsubtotal" data-valor="{{ (astilleroCotizacion.acservicios.2.subtotal * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.2.subtotal * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="rampa_iva_mxn" class="valoriva" data-valor="{{ (astilleroCotizacion.acservicios.2.iva * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.2.iva * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="rampa_total_mxn" class="valortotal" data-valor="{{ (astilleroCotizacion.acservicios.2.total * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.2.total * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        <tr id="cotizakarcher_mxn" class="{% if astilleroCotizacion.acservicios.3.estatus == 0 %}hidden{% endif %} servicio-agregado">
                                            <td class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.3.cantidad }}">{{ astilleroCotizacion.acservicios.3.cantidad }}</td>
                                            <td>Uso de karcher</td>
                                            <td id="karcher_precio_mxn" class="valorprecio" data-valor="{{ (astilleroCotizacion.acservicios.3.precio * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.3.precio * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="karcher_subtotal_mxn" class="valorsubtotal" data-valor="{{ (astilleroCotizacion.acservicios.3.subtotal * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.3.subtotal * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="karcher_iva_mxn" class="valoriva" data-valor="{{ (astilleroCotizacion.acservicios.3.iva * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.3.iva * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="karcher_total_mxn" class="valortotal" data-valor="{{ (astilleroCotizacion.acservicios.3.total * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.3.total * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        <tr id="cotizavarada_mxn" class="{% if astilleroCotizacion.acservicios.4.estatus == 0 %}hidden{% endif %} servicio-agregado">
                                            <td id="varada_cantidad_mxn" class="valorcantidad" data-valor="{{ astilleroCotizacion.acservicios.4.cantidad }}">{{ astilleroCotizacion.acservicios.4.cantidad }}</td>
                                            <td>Sacar varada y boadura</td>
                                            <td id="varada_precio_mxn" class="valorprecio" data-valor="{{ (astilleroCotizacion.acservicios.4.precio * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.4.precio * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="varada_subtotal_mxn" class="valorsubtotal" data-valor="{{ (astilleroCotizacion.acservicios.4.subtotal * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.4.subtotal * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="varada_iva_mxn" class="valoriva" data-valor="{{ (astilleroCotizacion.acservicios.4.iva * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.4.iva * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="varada_total_mxn" class="valortotal" data-valor="{{ (astilleroCotizacion.acservicios.4.total * astilleroCotizacion.dolar)/10000 }}">
                                                $ {{ ((astilleroCotizacion.acservicios.4.total * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        {% for servicioagregado in form.acservicios %}
                                            {% if (servicioagregado.producto.vars.value is not empty) or (servicioagregado.servicio.vars.value is not empty) or (servicioagregado.otroservicio.vars.value is not empty) %}
                                            <tr class="servicio-agregado_mxn" id="{{ servicioagregado.vars.name }}">
                                                <td class="valorcantidad" data-valor="{{ servicioagregado.cantidad.vars.value }}" >{{ servicioagregado.cantidad.vars.value }}</td>
                                                {% if servicioagregado.producto.vars.value is not empty %}
                                                    <td class="td-producto">{{ servicioagregado.producto.vars.data.nombre }}</td>
                                                {% elseif servicioagregado.servicio.vars.value is not empty %}
                                                    <td class="td-servicio">{{ servicioagregado.servicio.vars.data.nombre }}</td>
                                                {% elseif servicioagregado.otroservicio.vars.value is not empty %}
                                                    <td class="td-otroservicio">{{ servicioagregado.otroservicio.vars.value }}</td>
                                                {% endif %}
                                                <td class="valorprecio" data-valor="{{ (servicioagregado.precio.vars.value * astilleroCotizacion.dolar)/10000 }}">
                                                    $ {{ ((servicioagregado.precio.vars.value * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                                </td>
                                                <td class="valorsubtotal" data-valor="{{ (servicioagregado.vars.value.subtotal * astilleroCotizacion.dolar)/10000 }}">
                                                    $ {{ ((servicioagregado.vars.value.subtotal * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                                </td>
                                                <td class="valoriva" data-valor="{{ (servicioagregado.vars.value.iva * astilleroCotizacion.dolar)/10000 }}">
                                                    $ {{ ((servicioagregado.vars.value.iva * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                                </td>
                                                <td class="valortotal" data-valor="{{ (servicioagregado.vars.value.total * astilleroCotizacion.dolar)/10000 }}">
                                                    $ {{ ((servicioagregado.vars.value.total * astilleroCotizacion.dolar)/10000)|number_format(2) }}
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div id="" class="">
                                        <small>IVA: {{ astilleroCotizacion.iva}} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $ <span id="graniva_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-10">
                                    {{ form_row(form.mensaje) }}
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-azul">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.cliente,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.barco,{'attr':{'class':'hidden'}}) }}
                    {% if form.acservicios.0.estatus is defined %}
                        {{ form_widget(form.acservicios.0.estatus,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.1.estatus is defined %}
                        {{ form_widget(form.acservicios.1.estatus,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.0.cantidad is defined %}
                        {{ form_widget(form.acservicios.0.cantidad,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.1.cantidad is defined %}
                        {{ form_widget(form.acservicios.1.cantidad,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.2.cantidad is defined %}
                        {{ form_widget(form.acservicios.2.cantidad,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.3.cantidad is defined %}
                        {{ form_widget(form.acservicios.3.cantidad,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.0.otroservicio is defined %}
                        {{ form_widget(form.acservicios.0.otroservicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.1.otroservicio is defined %}
                        {{ form_widget(form.acservicios.1.otroservicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.2.otroservicio is defined %}
                        {{ form_widget(form.acservicios.2.otroservicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.3.otroservicio is defined %}
                        {{ form_widget(form.acservicios.3.otroservicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.4.otroservicio is defined %}
                        {{ form_widget(form.acservicios.4.otroservicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.0.producto is defined %}
                        {{ form_widget(form.acservicios.0.producto,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.1.producto is defined %}
                        {{ form_widget(form.acservicios.1.producto,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.2.producto is defined %}
                        {{ form_widget(form.acservicios.2.producto,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.3.producto is defined %}
                        {{ form_widget(form.acservicios.3.producto,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.4.producto is defined %}
                        {{ form_widget(form.acservicios.4.producto,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.0.servicio is defined %}
                        {{ form_widget(form.acservicios.0.servicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.1.servicio is defined %}
                        {{ form_widget(form.acservicios.1.servicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.2.servicio is defined %}
                        {{ form_widget(form.acservicios.2.servicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.3.servicio is defined %}
                        {{ form_widget(form.acservicios.3.servicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.4.cantidad is defined %}
                        {{ form_widget(form.acservicios.4.cantidad,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {% if form.acservicios.4.servicio is defined %}
                        {{ form_widget(form.acservicios.4.servicio,{'attr':{'class':'hidden'}}) }}
                    {% endif %}
                    {{ form_end(form) }}
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function ($) {
            $('.selectclientebuscar').change(function (e) {
                $('#loading').show();
                $("#info-barco").empty();
                $("#info-cliente").empty();

                var url = "{{ path('ajax_busca_cliente_todo',{'id':'iddelcliente','_format':'json'}) }}";
                url = url.replace("iddelcliente", $(this).val());
                $.ajax({
                    method: "GET",
                    url: url,
                    dataType: 'json',
                    success: function (cliente) {
                        JSON.stringify(cliente);
                        var html = "<label>Correo electrónico</label>" + "<div class='info-input'>" + cliente.correo + "</div>" +
                            "<label>Número de teléfono</label>" + "<div class='info-input'>" + cliente.telefono + "</div>" +
                            "<label>Dirección</label>" + "<div class='info-input'>" + cliente.direccion + "</div>" +
                            "<label>R.F.C.</label>" + "<div class='info-input'>" + cliente.rfc + "</div>" +
                            "<label>Razón social</label>" + "<div class='info-input'>" + cliente.razonsocial + "</div>" +
                            "<label>Dirección fiscal</label>" + "<div class='info-input'>" + cliente.direccionfiscal + "</div>";
                        $("#info-cliente").append(html);

                        $('#loading').hide();
                    },
                    error: function (jqXHR, exception) {
                        if (jqXHR.status === 405) {
                            console.error("METHOD NOT ALLOWED!");
                        }
                        $('#loading').hide();
                    }
                }).fail(function () {
                    $('#loading').hide();
                });
            });

            var x = 1;
            $('.buscabarcomh').click(function () {
                if (x == 2) {
                    if ($("input[type=radio]:checked").val() != null) {
                        $('#loading').show();
                        $("#info-barco").empty();
                        var idbarco = $("input[type=radio]:checked").val();
                        buscaDatosBarco(idbarco);
                        x = 1;
                    }
                } else {
                    x++;
                }
            });

            function buscaDatosBarco(idbarco) {
                $.ajax({
                    method: "GET",
                    url: `{{ app.request.baseUrl }}/ajax/buscabarcotodo/${idbarco}.json`,
                    dataType: 'json',
                    success: function (barco) {
                        JSON.stringify(barco);
                        var html = "<label>Modelo</label>" + "<div class='info-input'>" + barco.modelo + "</div>" +
                            "<label>Eslora</label>" + "<div class='info-input'>" + barco.eslora + "</div>" +
                            "<label>Manga</label>" + "<div class='info-input'>" + barco.manga + "</div>" +
                            "<label>Nombre del capitán</label>" + "<div class='info-input'>" + barco.nombreCapitan + "</div>" +
                            "<label>Teléfono del capitán</label>" + "<div class='info-input'>" + barco.telefonoCapitan + "</div>" +
                            "<label>Correo del capitán</label>" + "<div class='info-input'>" + barco.correoCapitan + "</div>";
                        $("#info-barco").append(html);
                        $("#grua_cantidad").data('valor', barco.eslora);
                        $("#varada_cantidad").data('valor', barco.eslora);
                        $("#grua_cantidad").html(barco.eslora);
                        $("#varada_cantidad").html(barco.eslora);
                        calculaSubtotalesAstillero($('#fila_grua'));
                        calculaSubtotalesAstillero($('#cotizavarada'));


                        // Filtrado de opcions de slip por tamaño de eslora
                        const slipOptions = [...document.querySelectorAll('#appbundle_marinahumedacotizacion_slip > option')]
                    .filter((slip) => barco.eslora >= Number(slip.dataset.feet)
                            ? slip.style.display = 'none'
                            : slip.style.display = 'block');
                    },
                    complete: () => { $("#loading").hide(); }
            })
            }

        })(jQuery);
        $('#a_nuevacotizacion>tbody').change('.select-busca-producto',function (e) {
            //console.log('seleccionando un servicio '+ $('.select-busca-producto:focus option:selected' ).val());
            var idservicio = $('.select-busca-producto:focus option:selected' ).val();
            if(idservicio > 0){
                var url = "{{ path('ajax_astillero_busca_producto',{'id':'iddelserivicio','_format':'json'}) }}";
                url = url.replace("iddelserivicio", idservicio);
                $.ajax({
                    method: "GET",
                    url: url,
                    dataType: 'json',
                    success: function(datos) {
                        JSON.stringify(datos);
                        var fila = $('.select-busca-producto:focus option:selected').parent().parent().parent();
                        fila.children('.valorprecio').html('$ '+(datos.precio/100));
                        fila.children('.valorprecio').data('valor',(datos.precio/100));
                        calculaSubtotalesAstillero(fila);

                        var idfila = fila.data('id');
                        var dolar = $('#appbundle_astillerocotizacion_dolar').val();
                        var valormxn = (datos.precio/100) * dolar;
                        $('#a_nuevacotizacion_mxn>tbody>#'+idfila+'>.valorprecio').data('valor',valormxn);
                        $('#a_nuevacotizacion_mxn>tbody>#'+idfila+'>.valorprecio').html('$ '+parseFloat(valormxn).toFixed(2));
                        $('#a_nuevacotizacion_mxn>tbody>#'+idfila+'>.td-producto').html(datos.nombre);
                        fila =  $('#a_nuevacotizacion_mxn>tbody>#'+idfila);
                        calculaSubtotalesAstillero(fila);
                    }
                });
            }
        });
        $('#a_nuevacotizacion>tbody').change('.select-busca-servicio',function (e) {
            //console.log('seleccionando un servicio '+ $('.select-busca-producto:focus option:selected' ).val());
            var idservicio = $('.select-busca-servicio:focus option:selected' ).val();
            if(idservicio > 0){
                var url = "{{ path('ajax_astillero_busca_servicio',{'id':'iddelserivicio','_format':'json'}) }}";
                url = url.replace("iddelserivicio", idservicio);
                $.ajax({
                    method: "GET",
                    url: url,
                    dataType: 'json',
                    success: function(datos) {
                        JSON.stringify(datos);
                        var fila = $('.select-busca-servicio:focus option:selected').parent().parent().parent();
                        fila.children('.valorprecio').html('$ '+(datos.precio/100));
                        fila.children('.valorprecio').data('valor',(datos.precio/100));
                        calculaSubtotalesAstillero(fila);

                        var idfila = fila.data('id');
                        var dolar = $('#appbundle_astillerocotizacion_dolar').val();
                        var valormxn = (datos.precio/100) * dolar;
                        $('#a_nuevacotizacion_mxn>tbody>#'+idfila+'>.valorprecio').data('valor',valormxn);
                        $('#a_nuevacotizacion_mxn>tbody>#'+idfila+'>.valorprecio').html('$ '+parseFloat(valormxn).toFixed(2));
                        $('#a_nuevacotizacion_mxn>tbody>#'+idfila+'>.td-servicio').html(datos.nombre);
                        fila =  $('#a_nuevacotizacion_mxn>tbody>#'+idfila);
                        calculaSubtotalesAstillero(fila);
                    }
                });
            }
        });
    </script>
{% endblock %}