{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautica | Cotizacion Astillero
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Cotización Astillero</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('astillero_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Cliente</th>
                                            <td>{{ astilleroCotizacion.cliente }}</td>
                                        </tr>
                                        <tr>
                                            <th>Barco</th>
                                            <td>{{ astilleroCotizacion.barco }}</td>
                                        </tr>
                                        <tr>
                                            <th>Eslora</th>
                                            <td>{{ astilleroCotizacion.barco.eslora }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha llegada</th>
                                            <td>{% if astilleroCotizacion.fechaLlegada %}{{ astilleroCotizacion.fechaLlegada|date('Y-m-d') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha salida</th>
                                            <td>{% if astilleroCotizacion.fechaSalida %}{{ astilleroCotizacion.fechaSalida|date('Y-m-d') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha cotización</th>
                                            <td>{% if astilleroCotizacion.fecharegistro %}{{ astilleroCotizacion.fecharegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Estatus validación</th>
                                            <td>
                                                {% if astilleroCotizacion.validanovo == 0 %}
                                                    Pendiente validación de Novonautica
                                                {% elseif astilleroCotizacion.validanovo == 1 %}
                                                    Rechazado
                                                {% elseif astilleroCotizacion.validanovo == 2 %}
                                                    Aprobado
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-10 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="tipocambio" class="">{{ (astilleroCotizacion.dolar/100)|number_format(2)}} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <small>Precios en USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <table id="a_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for servicio in astilleroCotizacion.acservicios %}
                                            {% if servicio.estatus %}
                                                <tr>
                                                    <td>{{ servicio.cantidad }}</td>
                                                    {% if servicio.astilleroserviciobasico.nombre is defined %}
                                                        <td>{{ servicio.astilleroserviciobasico.nombre }}</td>
                                                    {% elseif servicio.otroservicio is defined %}
                                                        <td>{{ servicio.otroservicio }}</td>
                                                    {% endif %}
                                                    <td>$ {{ (servicio.precio/100)|number_format(2) }}</td>
                                                    <td>$ {{ (servicio.subtotal/100)|number_format(2) }}</td>
                                                    <td>$ {{ (servicio.iva/100)|number_format(2) }}</td>
                                                    <td>$ {{ (servicio.total/100)|number_format(2) }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div id="valiva" class="" data-valor="{{ astilleroCotizacion.iva }}">
                                        <small>IVA: {{ astilleroCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $
                                        <span id="gransubtot">{{ astilleroCotizacion.subtotal|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $
                                        <span id="graniva">{{ astilleroCotizacion.ivatotal|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $
                                        <span id="grantot">{{ astilleroCotizacion.total|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <a target="_blank" class="btn btn-morado-claro pull-right"
                               href="{{ path('astillero-pdf',{'id':astilleroCotizacion.id }) }}">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Ver
                            </a>
                        </div>
                    </div>
                    {% if astilleroCotizacion.validanovo == 2 %}
                        <div class="row espacio-linea-arriba2">
                            <div class="col-sm-12">
                                <button class="btn btn-morado-2 pull-right loadpage" id="reenviar"
                                        data-idcotizacion="{{astilleroCotizacion.id }}">
                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                    Reenviar
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#reenviar').on('click',function () {
            var url = "{{ path('astillero_reenviar',{'id':'idcotizacion'}) }}";
            url = url.replace("idcotizacion", $(this).data('idcotizacion'));
            $.ajax({
                method: "POST",
                url: url,
                success: function () {
                    $('#loading').hide();
                    $('#estatusEnvio').modal('show');
                    setTimeout(function(){  $('#estatusEnvio').modal('hide'); }, 3000);
                }
            });
        });
    </script>
{% endblock %}
{% block modals %}
    <div id="estatusEnvio" class="modal fade ventanaborrar" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mensaje</h4>
                </div>
                <div class="modal-body">
                    <p>Correo enviado con éxito</p>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}