{% extends 'estructura/plantilla.twig' %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                            <span>
                                {% if astilleroCotizacion.foliorecotiza == 0 %}
                                    {{ astilleroCotizacion.folio }}
                                {% else %}
                                    {{ astilleroCotizacion.folio }}-{{ astilleroCotizacion.foliorecotiza }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('astillero_show',{'id':astilleroCotizacion.id}) }}">Regresar</a>
                        </div>
                    </div>

                </div>
                <div class="panel-body panel-pestanias">
                    {{ form_start(edit_form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Información</a>
                        </li>
                        <li role="presentation">
                            <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Totales</a>
                        </li>
                        {#<li role="presentation">#}
                            {#<a href="#totalmxn" aria-controls="totalmxn" role="tab" data-toggle="tab">Total (USD)</a>#}
                        {#</li>#}
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#validacion" aria-controls="validacion" role="tab" data-toggle="tab">Validación</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.nombre }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.manga }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.cliente.nombre }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ astilleroCotizacion.barco.cliente.direccion }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-daterange" id="rangoFehas">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Fecha inicio</label>
                                                <div class='info-input'>{{ astilleroCotizacion.fechaLlegada|date('d-m-Y') }}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Fecha fin</label>
                                                <div class='info-input'>{{ astilleroCotizacion.fechaSalida|date('d-m-Y') }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Días estadía</label>
                                    <div class='info-input'>{{ astilleroCotizacion.diasEstadia }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Dolar</label>
                                    <div class='info-input'>${{ (astilleroCotizacion.dolar/100)|number_format(2) }} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Descuento</label>
                                    <div class='info-input'>{{ astilleroCotizacion.descuento }} %</div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="total">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                        {{ (astilleroCotizacion.dolar/100)|number_format(2) }} <small>MXN</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <div id="valorsistemaiva" class="">
                                        IVA: {{ astilleroCotizacion.iva }} %
                                    </div>
                                </div>
                            </div>
                            {% if astilleroCotizacion.descuento %}
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        Descuento: {{ astilleroCotizacion.descuento }} %
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-azul" type="button" data-toggle="collapse"
                                            data-target="#fila-tabla-servicios-basicos" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fa fa-compress" aria-hidden="true"></i> Desplegar
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <h3 class="mt-0">Servicios básicos</h3>
                                </div>
                            </div>
                            <div class="row collapse" id="fila-tabla-servicios-basicos">
                                <div class="col-sm-12">
                                    <table id="serviciosbasicos" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Servicio</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for AstilleroServicio in astilleroCotizacion.acservicios %}
                                            {% if AstilleroServicio.estatus %}
                                                {% if AstilleroServicio.astilleroserviciobasico %}
                                                    <tr>
                                                        <td>
                                                            {% if (AstilleroServicio.astilleroserviciobasico.id == 2 or AstilleroServicio.astilleroserviciobasico.id == 9) %}
                                                                {{ AstilleroServicio.cantidad/astilleroCotizacion.barco.eslora }} (pie por día)
                                                            {% else %}
                                                                {{ AstilleroServicio.cantidad }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ AstilleroServicio.astilleroserviciobasico.nombre }}</td>
                                                        <td>$ {{ (AstilleroServicio.precio/100)|number_format(2) }}
                                                            <small>{{ AstilleroServicio.divisa }}</small></td>
                                                        <td>$ {{ (AstilleroServicio.subtotal/100)|number_format(2) }} <small>MXN</small></td>
                                                        <td>$ {{ (AstilleroServicio.iva/100)|number_format(2) }} <small>MXN</small></td>
                                                        <td>$ {{ (AstilleroServicio.total/100)|number_format(2) }} <small>MXN</small></td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-azul" type="button" data-toggle="collapse"
                                            data-target="#fila-tabla-servicios" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fa fa-compress" aria-hidden="true"></i> Desplegar
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <h3 class="mt-0">Servicios</h3>
                                </div>
                            </div>
                            <div class="row collapse" id="fila-tabla-servicios">
                                <div class="col-sm-12">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Servicio</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                            <th class="col-sm-1">Días decuento</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for AstilleroServicio in astilleroCotizacion.acservicios %}
                                            {% if AstilleroServicio.estatus %}
                                                {% if AstilleroServicio.servicio %}
                                                    <tr>
                                                        <td>{{ AstilleroServicio.cantidad }}</td>
                                                        <td>{{ AstilleroServicio.servicio.nombre }}</td>
                                                        <td>$ {{ (AstilleroServicio.precio/100)|number_format(2) }}
                                                            <small>{{ AstilleroServicio.divisa }}</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.subtotal/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.iva/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.total/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>{{ AstilleroServicio.promedio }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-azul" type="button" data-toggle="collapse"
                                            data-target="#fila-tabla-otros" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fa fa-compress" aria-hidden="true"></i> Desplegar
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <h3 class="mt-0">Otros</h3>
                                </div>
                            </div>
                            <div class="row collapse" id="fila-tabla-otros">
                                <div class="col-sm-12">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Servicio</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="otros" class="lista-servicios">
                                        {% for AstilleroServicio in astilleroCotizacion.acservicios %}
                                            {% if AstilleroServicio.estatus %}
                                                {% if AstilleroServicio.otroservicio %}
                                                    <tr>
                                                        <td>{{ AstilleroServicio.cantidad }}</td>
                                                        <td>{{ AstilleroServicio.otroservicio }}</td>
                                                        <td>$ {{ (AstilleroServicio.precio/100)|number_format(2) }}
                                                            <small>{{ AstilleroServicio.divisa }}</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.subtotal/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.iva/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.total/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row espacio-linea">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-azul" type="button" data-toggle="collapse"
                                            data-target="#fila-tabla-productos" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fa fa-compress" aria-hidden="true"></i> Desplegar
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <h3 class="mt-0">Productos</h3>
                                </div>
                            </div>
                            <div class="row collapse" id="fila-tabla-productos">
                                <div class="col-sm-12">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Producto</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="productos" class="lista-servicios">
                                        {% for AstilleroServicio in astilleroCotizacion.acservicios %}
                                            {% if AstilleroServicio.estatus %}
                                                {% if AstilleroServicio.producto %}
                                                    <tr>
                                                        <td>{{ AstilleroServicio.cantidad }}</td>
                                                        <td>{{ AstilleroServicio.producto.nombre }}</td>
                                                        <td>$ {{ (AstilleroServicio.precio/100)|number_format(2) }}
                                                            <small>{{ AstilleroServicio.divisa }}</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.subtotal/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.iva/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>$ {{ (AstilleroServicio.total/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $
                                        <span id="gransubtot">{{ (astilleroCotizacion.subtotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $
                                        <span id="gransubtot">{{ (astilleroCotizacion.subtotal/astilleroCotizacion.dolar)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            {% if astilleroCotizacion.descuento %}
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-4 text-right tipo-letra1">
                                        <p class="letra-azul">Descuento:</p>
                                        <p>
                                            $
                                            <span>{{ (astilleroCotizacion.descuentototal/100)|number_format(2) }}</span>
                                            <span class="tipo-letra2">MXN</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-4 text-right tipo-letra1">
                                        <p class="letra-azul">Descuento:</p>
                                        <p>
                                            $
                                            <span>{{ (astilleroCotizacion.descuentototal/astilleroCotizacion.dolar)|number_format(2) }}</span>
                                            <span class="tipo-letra2">USD</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-6">
                                        <hr>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $
                                        <span id="graniva">{{ (astilleroCotizacion.ivatotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $
                                        <span id="graniva">{{ (astilleroCotizacion.ivatotal/astilleroCotizacion.dolar)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $
                                        <span id="grantot">{{ (astilleroCotizacion.total/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $
                                        <span id="grantot">{{ (astilleroCotizacion.total/astilleroCotizacion.dolar)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Mensaje en el correo:</label>
                                    <div class="info-input">{{ astilleroCotizacion.mensaje|raw }}</div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="validacion">
                            {% if edit_form.validanovo is defined %}
                                <div class="row">
                                    <div class="col-sm-12 espacio-linea">
                                        <label>Indique su respuesta</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="middle">
                                            {{ form_widget(edit_form.validanovo) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-azul pull-right loadpage">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <div id="notarechazado">
                                    <div class="row">
                                        <div class="col-sm-8 espacio-linea-arriba2">
                                            {{ form_row(edit_form.notasnovo) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if edit_form.validacliente is defined %}
                                <div class="row">
                                    <div class="col-sm-12 espacio-linea">
                                        <label>Aceptación como cliente</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="middle">
                                            {{ form_widget(edit_form.validacliente) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-azul pull-right loadpage">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <div id="notarechazado">
                                    <div class="row">
                                        <div class="col-sm-8 espacio-linea-arriba2">
                                            {{ form_row(edit_form.notascliente) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
