{% block money_widget -%}
    {% set prepend = not (money_pattern starts with '{{') %}
    {% set append = not (money_pattern ends with '}}') %}
    {% if prepend or append %}
        <div class="input-group{{ group_class|default('') }}">
            {% if prepend %}
                <span class="input-group-addon" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
            {% endif %}
            {{- block('form_widget_simple') -}}
            {% if append %}
                <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
            {% endif %}
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock money_widget %}

{% block appbundle_contabilidad_facturacion_concepto_widget %}
    {% spaceless %}
        <tr class="servicio-agregado concepto-item">
            <td align="center" style="vertical-align: middle">
                <a href="#" class="remove-concepto badge btn-xs btn-naranja">
                    <i class="fa fa-times"></i>
                </a>
            </td>
            <td>
                {{ form_widget(form.cantidad) }}
                {{ form_errors(form.cantidad) }}
            </td>
            <td>
                {{ form_widget(form.claveProdServ) }}
                {{ form_errors(form.claveProdServ) }}
            </td>
            <td>
                {{ form_widget(form.claveUnidad) }}
                {{ form_errors(form.claveUnidad) }}
            </td>
            <td>
                {{ form_widget(form.descripcion) }}
                {{ form_errors(form.descripcion) }}
            </td>
            <td>
                {{ form_widget(form.valorunitario) }}
                {{ form_errors(form.valorunitario) }}
            </td>
            <td>
                {{ form_widget(form.descuento, { 'attr': { 'class': 'descuento-column' } }) }}
                {{ form_errors(form.descuento) }}
            </td>
            <td>
                {{ form_widget(form.iva, { 'attr': { 'class': 'iva-column' } }) }}
                {{ form_errors(form.iva) }}
            </td>
            <td>
                {{ form_widget(form.subtotal, { 'attr': { 'readonly': true, 'class': 'subtotal-column' } }) }}
                {{ form_errors(form.subtotal) }}
            </td>
            <td>
                {{ form_widget(form.total, { 'attr': { 'readonly': true, 'class': 'total-column' } }) }}
                {{ form_errors(form.total) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock %}