<header class="main-header">
    <a href="{{ path('inicio') }}" class="logo">
        <span class="logo-mini">
            <img src="{{ asset('img/logo.svg') }}" class="img-responsive center-block">
        </span>
        <span class="logo-lg">
            <img src="{{ asset('img/logo.svg') }}">
        </span>
    </a>
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {#<span class="hidden-xs">Bienvenido:  </span>#}
                                    <span class="hidden-xs letra-azul letra-etiqueta-usuario">{{ app.user.username }}</span>
                                </a>
                                <ul class="dropdown-menu" style="background-color: transparent; border: 0;">
                                    <li class="user-body" style="background-color: #363c52; border-color: #1c1f29;">
                                        <div class="pull-left">
                                            <a href="{{ path('perfil') }}" class="btn btn-morado-claro btn-flat">Perfil</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('logout') }}" class="btn btn-azul btn-flat">
                                                <i class="fa fa-power-off" aria-hidden="true"></i>
                                                Salir
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {#<div class="row">
                <div class="col-sm-12">
                    <hr>
                    <a href="{{ path('logout') }}" class="btn btn-salir pull-right">
                        <i class="fa fa-power-off fa-2x" aria-hidden="true"></i>
                        <span>Salir</span>
                    </a>
                </div>
            </div>#}
        </div>
    </nav>

</header>