{% set menuClientes='' %}
{% set menuMarina='' %}
{% set menuAstillero='' %}
{% set menuProductos='' %}
{% set menuRH='' %}
{% set menuConta='' %}
{% set menuReportes='' %}
{% set menuUsuarios='' %}
{% set menuAjustes='' %}

{% set actCA='' %}
{% set actCL='' %}
{% set actMAg='' %}
{% set actMA='' %}
{% set actMN='' %}
{% set actMC='' %}
{% set actAN='' %}
{% set actAC='' %}
{% set actAA='' %}
{% set actAO='' %}


{% if clienteagregar is defined %}
    {% set menuClientes =' active menu-open' %}
    {% set actCA=' active' %}
{% endif %}
{% if clientelistado is defined %}
    {% set menuClientes=' active menu-open' %}
    {% set actCL=' active' %}
{% endif %}
{% if marinaagenda is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set actMAg=' active' %}
{% endif %}
{% if marinaadministracion is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set actMA=' active' %}
{% endif %}
{% if marinanuevacotizacion is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set actMN=' active' %}
{% endif %}
{% if marinacotizaciones is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set actMC=' active' %}
{% endif %}
{% if astilleronuevacotizacion is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAN = ' active' %}
{% endif %}
{% if astillerocotizaciones is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAC=' active' %}
{% endif %}
{% if astilleroaceptaciones is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAA=' active' %}
{% endif %}
{% if astilleroodt is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAO=' active' %}
{% endif %}
{% if productos is defined %}
    {% set menuProductos=' active' %}
{% endif %}
{% if recursoshumanos is defined %}
    {% set menuRH=' active' %}
{% endif %}
{% if contabilidad is defined %}
    {% set menuConta=' active' %}
{% endif %}
{% if reportes is defined %}
    {% set menuReportes=' active' %}
{% endif %}
{% if usuariosmenu is defined %}
    {% set menuUsuarios =' active' %}
{% endif %}
{% if ajustesmenu is defined %}
    {% set menuAjustes=' active' %}
{% endif %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            {#<li class="header">MAIN NAVIGATION</li>#}
            <li class="treeview {{ menuClientes }}"> {# class="active menu-open" #}
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Clientes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ actCA }}">
                        <a href="{{ path('cliente_new') }}">
                            <i class="fa fa-minus"></i> Agregar
                        </a>
                    </li>
                    <li class="{{ actCL }}">
                        <a href="{{ path('cliente_index') }}">
                            <i class="fa fa-minus"></i> Listado
                        </a>
                    </li>
                </ul>
                <hr>
            </li>
            <li class="treeview {{ menuMarina }}">
                <a href="#">
                    <i class="fa fa-ship"></i>
                    <span>Marina Humeda</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ actMAg }}">
                        <a href="{{ path('marina-agenda') }}">
                            <i class="fa fa-minus"></i> Agenda
                        </a>
                    </li>
                    <li class="{{ actMA }}">
                        <a href="{{ path('marina-administracion') }}">
                            <i class="fa fa-minus"></i> Administración
                        </a>
                    </li>
                    <li class="{{ actMN }}">
                        <a href="{{ path('marina-humeda_new') }}">
                            <i class="fa fa-minus"></i> Nueva cotización
                        </a>
                    </li>
                    <li class="{{ actMC }}">
                        <a href="{{ path('marina-humeda_index') }}">
                            <i class="fa fa-minus"></i> Cotizaciones
                        </a>
                    </li>
                </ul>
                <hr>
            </li>
            <li class="treeview  {{ menuAstillero }}">
                <a href="#">
                    <i class="fa fa-anchor"></i>
                    <span>Astillero</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ actAN }}">
                        <a href="{{ path('astillero-nueva-cotizacion') }}"><i class="fa fa-minus"></i> Nueva cotización
                        </a>
                    </li>
                    <li class="{{ actAC }}">
                        <a href="{{ path('astillero-cotizaciones') }}"><i class="fa fa-minus"></i> Cotizaciones</a>
                    </li>
                    <li class="{{ actAA }}">
                        <a href="{{ path('astillero-aceptaciones') }}"><i class="fa fa-minus"></i> Aceptaciones</a>
                    </li>
                    <li class="{{ actAO }}">
                        <a href="{{ path('astillero-odt') }}"><i class="fa fa-minus"></i> ODT</a>
                    </li>
                </ul>
                <hr>
            </li>
            <li class="{{ menuProductos }} only">
                <a href="{{ path('productos') }}">
                    <i class="fa fa-th"></i>
                    <span>Productos</span>
                </a>
                <hr>
            </li>
            <li class="{{ menuRH }} only">
                <a href="{{ path('recursos-humanos') }}">
                    <i class="fa fa-address-book-o"></i>
                    <span>Recursos Humanos</span>
                </a>
                <hr>
            </li>
            <li class="{{ menuConta }} only">
                <a href="{{ path('contabilidad') }}">
                    <i class="fa fa-archive"></i>
                    <span>Contabilidad</span>
                </a>
                <hr>
            </li>
            <li class="{{ menuReportes }} only">
                <a href="{{ path('reportes') }}">
                    <i class="fa fa-file-text-o"></i>
                    <span>Reportes</span>
                </a>
                <hr>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ menuUsuarios }} only">
                    <a href="{{ path('usuario_index') }}">
                        <i class="fa fa-user-o"></i>
                        <span>Usuarios</span>
                    </a>
                    <hr>
                </li>
            {% endif %}
            <li class="{{ menuAjustes }} only">
                <a href="{{ path('ajustes_index') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Ajustes</span>
                </a>
                <hr>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>