{% set menuClientes='' %}
{% set menuMarina='' %}
{% set submenuMarinaCotizacion='' %}
{% set submenuMarinaAdicional='' %}
{% set menuAstillero='' %}
{% set menuProductos='' %}
{% set menuRH='' %}
{% set menuConta='' %}
{% set menuReportes='' %}
{% set menuUsuarios='' %}
{% set menuAjustes='' %}

{% set actCA='' %}
{% set actCL='' %}
{% set actMAg='' %}
{% set actMA='' %}
{% set actMN='' %}
{% set actMC='' %}
{% set actMCA='' %}
{% set actMT='' %}
{% set actMS='' %}
{% set actAN='' %}
{% set actAC='' %}
{% set actAA='' %}
{% set actAO='' %}


{% if clienteagregar is defined %}
    {% set menuClientes =' active menu-open' %}
    {% set actCA=' active' %}
{% endif %}
{% if clientelistado is defined %}
    {% set menuClientes=' active menu-open' %}
    {% set actCL=' active' %}
{% endif %}
{% if marinaagenda is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set actMAg=' active' %}
{% endif %}
{% if marinaadministracion is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set actMA=' active' %}
{% endif %}
{% if marinanuevacotizacion is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set submenuMarinaCotizacion=' active' %}
    {% set actMN=' active' %}
{% endif %}
{% if marinacotizaciones is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set submenuMarinaCotizacion=' active' %}
    {% set actMC=' active' %}
{% endif %}
{% if marinatarifamenu is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set submenuMarinaCotizacion=' active' %}
    {% set actMT=' active' %}
{% endif %}
{% if menumarinaadicional is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set submenuMarinaAdicional=' active' %}
    {% set actMCA=' active' %}
{% endif %}
{% if marinaserviciomenu is defined %}
    {% set menuMarina=' active menu-open' %}
    {% set submenuMarinaAdicional=' active' %}
    {% set actMS=' active' %}
{% endif %}
{% if astilleronuevacotizacion is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAN = ' active' %}
{% endif %}
{% if astillerocotizaciones is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAC=' active' %}
{% endif %}
{% if astilleroaceptaciones is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAA=' active' %}
{% endif %}
{% if astilleroodt is defined %}
    {% set menuAstillero = ' active menu-open' %}
    {% set actAO=' active' %}
{% endif %}
{% if productosMenu is defined %}
    {% set menuProductos=' active' %}
{% endif %}
{% if recursoshumanos is defined %}
    {% set menuRH=' active' %}
{% endif %}
{% if contabilidad is defined %}
    {% set menuConta=' active' %}
{% endif %}
{% if reportes is defined %}
    {% set menuReportes=' active' %}
{% endif %}
{% if usuariosmenu is defined %}
    {% set menuUsuarios =' active' %}
{% endif %}
{% if ajustesmenu is defined %}
    {% set menuAjustes=' active' %}
{% endif %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            {#<li class="header">MAIN NAVIGATION</li>#}
            <li class="treeview {{ menuClientes }}"> {# class="active menu-open" #}
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Clientes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ actCA }}">
                        <a href="{{ path('cliente_new') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Agregar
                        </a>
                    </li>
                    <li class="{{ actCL }}">
                        <a href="{{ path('cliente_index') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Listado
                        </a>
                    </li>
                </ul>
                <hr>
            </li>
            <li class="treeview {{ menuMarina }}">
                <a href="#">
                    <i class="fa fa-ship"></i>
                    <span>Marina Humeda</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ actMAg }}">
                        <a href="{{ path('marina-agenda') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Agenda
                        </a>
                    </li>
                    <li class="{{ actMA }}">
                        <a href="{{ path('marina-administracion') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Administración
                        </a>
                    </li>
                    <li class="treeview {{ submenuMarinaCotizacion }}">
                        <a href="#"><i class="fa fa-minus"></i>Cotizaciones</a>
                        <ul class="treeview-menu">
                            <li class="{{ actMC }}">
                                <a href="{{ path('marina-humeda_index') }}" class="loadpage">
                                    <i class="fa fa-circle-o"></i>Listado
                                </a>
                            </li>
                            <li class="{{ actMN }}">
                                <a href="{{ path('marina-humeda_new') }}" class="loadpage">
                                    <i class="fa fa-circle-o"></i> Nuevo
                                </a>
                            </li>
                            <li class="{{ actMT }}">
                                <a href="{{ path('marinahumeda-tarifas_index') }}" class="loadpage">
                                    <i class="fa fa-circle-o"></i> Tarifas
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview {{ submenuMarinaAdicional }}">
                        <a href="#"><i class="fa fa-minus"></i>Servicios Adicionales</a>
                        <ul class="treeview-menu">
                            <li class="{{ actMCA }}">
                                <a href="{{ path('marina-humeda-cotizacion-adicional_index') }}" class="loadpage">
                                    <i class="fa fa-circle-o"></i> Listado
                                </a>
                            </li>
                            <li class="{{ actMS }}">
                                <a href="{{ path('marina-humeda-servicio_index') }}" class="loadpage">
                                    <i class="fa fa-circle-o"></i> Catálogo
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <hr>
            </li>
            <li class="treeview  {{ menuAstillero }}">
                <a href="#">
                    <i class="fa fa-anchor"></i>
                    <span>Astillero</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ actAN }}">
                        <a href="{{ path('astillero_new') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Nueva cotización
                        </a>
                    </li>
                    <li class="{{ actAC }}">
                        <a href="{{ path('astillero_index') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Cotizaciones</a>
                    </li>
                    <li class="{{ actAA }}">
                        <a href="{{ path('astillero-aceptaciones') }}" class="loadpage">
                            <i class="fa fa-minus"></i> Aceptaciones
                        </a>
                    </li>
                    <li class="{{ actAO }}">
                        <a href="{{ path('astillero-odt') }}" class="loadpage">
                            <i class="fa fa-minus"></i> ODT
                        </a>
                    </li>
                </ul>
                <hr>
            </li>
            <li class="{{ menuProductos }}">
                <a href="{{ path('producto_index') }}" class="loadpage">
                    <i class="fa fa-th"></i>
                    <span>Productos</span>
                </a>
                <hr>
            </li>
            <li class="{{ menuRH }}">
                <a href="{{ path('recursos-humanos') }}" class="loadpage">
                    <i class="fa fa-address-book-o"></i>
                    <span>Recursos Humanos</span>
                </a>
                <hr>
            </li>
            <li class="{{ menuConta }}">
                <a href="{{ path('contabilidad') }}" class="loadpage">
                    <i class="fa fa-archive"></i>
                    <span>Contabilidad</span>
                </a>
                <hr>
            </li>
            <li class="{{ menuReportes }}">
                <a href="{{ path('reportes') }}" class="loadpage">
                    <i class="fa fa-file-text-o"></i>
                    <span>Reportes</span>
                </a>
                <hr>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="{{ menuUsuarios }}">
                    <a href="{{ path('usuario_index') }}" class="loadpage">
                        <i class="fa fa-user-o"></i>
                        <span>Usuarios</span>
                    </a>
                    <hr>
                </li>
            {% endif %}
            <li class="{{ menuAjustes }}">
                <a href="{{ path('ajustes_index') }}" class="loadpage">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Ajustes</span>
                </a>
                <hr>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>