<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title is defined ? title ~ ' | ' : '' }} Novonautica</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="theme-color" content="#292e41"/>
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-novo.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css') }}">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body class="skin-novo sidebar-mini {{ app.session.get('isExpanded') == 'true' ?: 'sidebar-collapse'}}">
<div id="loading">
    <i id="loading-image" class="fa fa-refresh fa-spin fa-4x fa-fw"></i>

</div>
<div class="wrapper">
    {% include 'estructura/encabezado.twig' %}
    {% include 'estructura/sidebar.html.twig' %}
    {% block contwrapper %}{% endblock %}
    {% block modals %}{% endblock %}

</div>
{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bower_components/select2/dist/js/select2.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script type="text/javascript">
      (function ($) {
        $(document).on('expanded.pushMenu collapsed.pushMenu', function (e) {
          $.ajax('{{ app.request.baseUrl }}/usuario/', {
            type: 'POST',
            data: {isExpanded: e.type === 'expanded'}
          })
        })
      })(jQuery);
    </script>
{% endblock %}
</body>
</html>
