{#
<aside class="main-sidebar">
    <section class="sidebar clearfix">
        <ul class="sidebar-menu" data-widget="tree">
            {% for menu in menus %}
                {% if menu.submenu is defined %}
                    <li class="treeview {{ menu.path in current_path ? 'menu-open' : '' }}">
                        <a href="#">
                            <i class="fa fa-{{ menu.icon|default('asterisk') }}"></i>
                            <span>{{ menu.name }}</span>
                        </a>
                        <ul class="treeview-menu" {{ menu.path in current_path ? 'style="display: block;"' : '' }}>
                            {% for submenu in menu.submenu %}
                                <li class="{{ submenu.path == current_path ? 'active' : '' }}">
                                    <a href="{{ submenu.path }}">
                                        <i class="fa fa-{{ submenu.icon|default('minus') }}"></i>
                                        {{ submenu.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <hr>
                {% else %}
                    <li class="{{ menu.path in current_path ? 'active' : '' }}">
                        <a href="{{ menu.path }}">
                            <i class="fa fa-{{ menu.icon|default('asterisk') }}"></i>
                            <span>{{ menu.name }}</span>
                        </a>
                    </li>
                    <hr>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
</aside>#}

{% macro submenu(menus, current_path, start) %}
    {% import _self as macros %}

    <ul class="treeview-menu">
        {% for menu in menus %}
            <li class="
                {{ menu.submenu is defined ? 'treeview ' }}
                {{ menu.path|split('/')|slice(start, 1) == current_path|split('/')|slice(start, 1) ? 'active' }}
            ">
                <a href="{{ menu.path }}">
                    <i class="fa fa-{{ start % 2 ? 'minus' : 'circle-o' }}"></i> {{ menu.name }}
                    {% if menu.submenu is defined %}
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    {% endif %}
                </a>
                {% if menu.submenu is defined %}
                    {{ macros.submenu(menu.submenu, current_path, start + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endmacro %}

{% import _self as macros %}

<aside class="main-sidebar">
    <section class="sidebar clearfix">
        <ul class="sidebar-menu" data-widget="tree">
            {% for menu in menus %}
                {% set start = 4 %}
                <li class="
                    {{ menu.submenu is defined ? 'treeview ' }}
                    {{ menu.path|split('/')|slice(start, 1) == current_path|split('/')|slice(start, 1) ? 'active ' }}
                ">
                    <a href="{{ menu.path }}">
                        <i class="fa fa-{{ menu.icon|default('asterisk') }}"></i>
                        <span>{{ menu.name }}</span>
                        {% if menu.submenu is defined %}
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        {% endif %}
                    </a>
                    {% if menu.submenu is defined %}
                        {{ macros.submenu(menu.submenu, current_path, start + 1) }}
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
        </ul>
    </section>
</aside>

