{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Listado de usuarios</h3>
                </div>
                <div class="panel-body">
                    <table class="table-novo table text-center">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Nombre de usuario</th>
                            <th>Correo</th>
                            <th>Estatus</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, settings) {
        $('.table-novo').DataTable({
          ...settings,
          ajax: '{{ path('usuario_index_data') }}',
          order: [[4, 'desc']],
          columns: [
            {responsivePriority: 1},
            {responsivePriority: 3},
            {responsivePriority: 3},
            {responsivePriority: 2},
            {responsivePriority: 0},
          ],
          createdRow: function (row, usuario) {
            let lastCell = row.cells[4];
            lastCell.innerHTML = `
            {% if is_granted(expression('has_role("RH_EDIT") or (user.isAdmin())')) %}
            <a class="btn btn-xs btn-block btn-azul" href="{{ app.request.requestUri ~ '${usuario[4]}/edit' }}">Editar</a>
            {% endif %}
            `
          },
        });
      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
