<!DOCTYPE html>
<html>
<link rel="stylesheet"
      type="text/css"
      href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}"
>
<style type="text/css">
    body {
        font-size: 10px;
    }

    .letra-blanca {
        color: #ffffff;
    }

    .imagenlogo {
        min-width: 200px;
        padding: 10px;
    }

    .fondo-bicolor-arriba {
        background: url("{{ absolute_url(asset('img/imagen-03.jpg')) }}") no-repeat top right;
        background-size: 100% auto;
        padding-top: 1rem;
    }
</style>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <img src="{{ absolute_url(asset('img/cotizacion-03.png') ) }}" class="img-responsive imagenlogo">
        </div>
        <div class="col-xs-9 text-right letra-blanca fondo-bicolor-arriba" style="height: 80px">
            <h4 style="margin: 0">
                <strong>Cotización</strong>
            </h4>
            <p>
                Folio: {{ combustible.folioCompleto }}
                <br>
                Fecha: {{ combustible.fecha|date('d-m-Y') }}
                <br>
                Tipo de cambio: $ {{ (combustible.dolar/100 )|number_format(2) }} MXN
            </p>
        </div>
    </div>
</div>

</body>
</html>
