{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}
{% block contwrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="panel panel-novo">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-novo">
                            <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Tipo Trabajador</th>
                                <th>Nombre</th>
                                <th>Razón Social</th>
                                <th>RFC</th>
                                <th>Dirección Fiscal</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Porcentaje</th>
                                <th>Tipo</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
        (function ($, settings) {
            $('.table-novo').DataTable({
                    ...settings,
                ajax: '{{ path('proveedor_index') }}',
                order: [[2, 'desc']],
                createdRow: function (row, data) {
                let actionsCell = row.cells[10];
                actionsCell.innerHTML = `<a href="${data[10]}"><i class="fa fa-eye" aria-hidden="true"></i></a>`;
                {% if is_granted(expression('has_role("PROVEEDOR_EDIT") or (user.isAdmin())')) %}
                    actionsCell.innerHTML = actionsCell.innerHTML +
                        `<a href="${data[10]}/editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>`;
                {% endif %}
            },
        });
        })(jQuery, datatablesSettings);
    </script>
{% endblock %}
