{% block form_widget %}
    {% spaceless %}
        <div class="row">
            <a href="#" class="remove-motor btn btn-borrar">Quitar Motor</a>
            <div class="col-sm-5">
                {{ form_row(form.marca) }}
                {{ form_row(form.modelo) }}
                {{ form_row(form.calado) }}
                {{ form_row(form.manga) }}
                {{ form_row(form.eslora) }}
                {{ form_row(form.combustible) }}
                {{ form_row(form.agua) }}
                <div>
                    Estatus Motor
                    <span class="cont-label-novo">
                        {{ form_errors(form.estatus) }}
                        {{ form_widget(form.estatus,{'attr':{'checked':'true'}}) }}
                        {{ form_label(form.estatus) }}
                    </span>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget %}