{% extends ':mail:base.html.twig' %}
{% block body %}
    <h3>Notificaci贸n de compras</h3>
    <p class="lead">Se le ha enviado este correo para notificarle el siguiente evento:</p>
    <p>
        <strong>Folio: </strong> {{ solicitud.folio }}
        <br>
        <strong>Evento: </strong> {{ asunto }}
        <br>
        <strong>Estatus validaci贸n: </strong>
        {% if solicitud.validadoCompra is null %}
            Pendiente
        {% elseif solicitud.validadoCompra %}
            Aceptado
            <br>
            <strong>Validado por: </strong> {{ solicitud.nombreValidoCompra }}
            <br>
            <strong>Fecha de validaci贸n: </strong> {{ solicitud.fechaValidoCompra|date('d/m/Y') }}
        {% else %}
            Rechazado
        {% endif %}
        <br>
        <strong>Notas: </strong> {{ solicitud.notaCompra }}
        <br>
    </p>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th colspan="8">Productos</th>
        </tr>
        <tr>
            <th>Proveedor</th>
            <th>Producto</th>
            <th>Unidad</th>
            <th>C贸digo</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Sub-Total</th>
            <th>IVA {{ solicitud.iva|number_format(2) }}%</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for concepto in solicitud.conceptos %}
            <tr>
                <td>
                    {% if concepto.proveedor %}
                        {{ concepto.proveedor.nombre }}
                    {% endif %}
                </td>
                <td>
                    {% if concepto.marinaServicio %}
                        {{ concepto.marinaServicio }}
                        {% set unidad = concepto.marinaServicio.claveUnidad %}
                        {% set codigo = '' %}
                    {% elseif concepto.combustibleCatalogo %}
                        {{ concepto.combustibleCatalogo }}
                        {% set unidad = concepto.combustibleCatalogo.claveUnidad %}
                        {% set codigo = '' %}
                    {% elseif concepto.astilleroProducto %}
                        {{ concepto.astilleroProducto }}
                        {% set unidad = concepto.astilleroProducto.claveUnidad %}
                        {% set codigo = concepto.astilleroProducto.identificador %}
                    {% elseif concepto.tiendaProducto %}
                        {{ concepto.tiendaProducto }}
                        {% set unidad = concepto.tiendaProducto.claveUnidad %}
                        {% set codigo = '' %}
                    {% else %}
                        {% set unidad = '' %}
                        {% set codigo = '' %}
                    {% endif %}
                </td>
                <td>
                    {% if unidad %}
                        {{ unidad.nombre }}
                    {% endif %}
                </td>
                <td>{{ codigo }}</td>
                <td>{{ concepto.cantidad|number_format(2) }}</td>
                <td>${{ (concepto.precio/100)|number_format(2) }} <small>MXN</small></td>
                <td>${{ (concepto.subtotal/100)|number_format(2) }} <small>MXN</small></td>
                <td>${{ (concepto.ivatotal/100)|number_format(2) }} <small>MXN</small></td>
                <td>${{ (concepto.total/100)|number_format(2) }} <small>MXN</small></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
    <hr>
    <strong>Sub-Total:</strong> MX$ {{ (solicitud.subtotal / 100)|number_format(2) }}
    <br>
    <hr>
    <strong>IVA {{ solicitud.iva|number_format(2) }}%: </strong> MX$ {{ (solicitud.ivatotal / 100)|number_format(2) }}
    <br>
    <hr>
    <strong>Total: </strong> MX$ {{ (solicitud.total / 100)|number_format(2) }}
    </p>
{% endblock body %}