{% extends ':mail:base.html.twig' %}

{% if notificacion.evento == 1 %}
    {% set evento = 'Se ha generado una nueva cotización' %}
{% elseif notificacion.evento == 2 %}
    {% set evento = 'La cotización se ha validado' %}
{% elseif notificacion.evento == 3 %}
    {% set evento = 'El cliente ha revisado la cotizacón' %}
{% endif %}

{% block body %}
    {% if notificacion.tipo == 1 %}
        <h3>Notificación de Marina</h3>
    {% elseif notificacion.tipo == 2 %}
        <h3>Notificación de Astillero</h3>
    {% elseif notificacion.tipo == 3 %}
        <h3>Notificación de ODT</h3>
    {% else %}
        <h3>Notificación de Servícios Marinos</h3>
    {% endif %}

    <p class="lead">Se le ha enviado este correo para notificarle el siguiente evento:</p>
    <p>
        <strong>Folio: </strong> {{ cotizacion.foliorecotiza ? cotizacion.folio ~ '-' ~ cotizacion.foliorecotiza : cotizacion.folio }}
        <br>
        <strong>Evento: </strong> {{ evento }}
        <br>
        <strong>Creada por: </strong> {{ cotizacion.creador.nombre }}
        <br>

        {% if cotizacion.validanovo == 2 %}
            <strong>Validada por: </strong> {{ cotizacion.nombrevalidanovo }}
            <br>
        {% endif %}

        {% if cotizacion.validacliente == 2 %}
            <strong>Revisada por: </strong> {{ cotizacion.quienAcepto }}
        {% endif %}
    </p>
    <br/>
{% endblock body %}
