{% block appbundle_modificacioninventario_concepto_widget %}
    <tr class="concepto-agregado table-item">
        <td></td>
        <td>
            {{ form_widget(form.producto) }}
            {{ form_errors(form.producto) }}
        </td>
        <td>
            {{ form_widget(form.antiguaExistencia) }}
            {{ form_errors(form.antiguaExistencia) }}
        </td>
        <td>
            {{ form_widget(form.existencia) }}
            {{ form_errors(form.existencia) }}
        </td>
    </tr>
{% endblock %}
