{% extends 'estructura/plantilla.twig' %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Embarcaciones</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-novo">
                                    <thead>
                                    <tr>
                                        <th>Nombre de la embarcación</th>
                                        <th>Modelo</th>
                                        <th>Marca</th>
                                        <th>Longitud</th>
                                        <th>Precio</th>
                                        <th>Año</th>
                                        <th width="10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for embarcacion in embarcacions %}
                                        <tr>
                                            <td>{{ embarcacion.nombre }}</td>
                                            <td>{{ embarcacion.modelo ?: 'Custom' }}</td>
                                            <td>{{ embarcacion.marca ?: 'Custom' }}</td>
                                            <td>{{ embarcacion.longitud }}</td>
                                            <td>${{ (embarcacion.precio / 100)|number_format(2) }} USD</td>
                                            <td>{{ embarcacion.ano }}</td>
                                            <td>
                                                <a href="{{ path('embarcacion_edit', { 'id': embarcacion.id }) }}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
