{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Embarcaciones</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Embarcación</th>
                                    <th class="with-choices">Países</th>
                                    <th class="with-choices">Modelos</th>
                                    <th class="with-choices">Marcas</th>
                                    <th>Longitud</th>
                                    <th>Precio</th>
                                    <th class="with-choices">Años</th>
                                    <th class="no-sort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: '{{ path('embarcacion_index') }}',
          order: [[7, 'desc']],
          createdRow: function (tr, data) {
            let lastTd = tr.querySelector('td:last-child');
            let entryPath = `{{ app.request.requestUri }}${data[7]}/edit`;
            lastTd.innerHTML = `
                <a href="${entryPath}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            `
          },
        });
      })(jQuery, datatablesSettings)
    </script>
{% endblock %}