{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
            max-width: 300px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;

        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
        .list-unstyled li {
            margin-bottom: .5rem;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ producto.id is null ? 'Nuevo producto' : 'Editar: ' ~ producto.nombre }}
                            </h3>
                        </div>
                        <div class="panel-body" style="min-height: initial">
                            {{ form_start(form) }}
                            {{ form_row(form.nombre) }}
                            {{ form_row(form.precio) }}
                            {{ form_row(form.preciocolaborador) }}
                            {{ form_row(form.categoria) }}
                            {{ form_row(form.codigoBarras) }}
                            {{ form_row(form.claveProdServ) }}
                            {{ form_row(form.claveUnidad) }}
                            {{ form_row(form.imagenFile) }}
                            {% if producto.id is not null %}
                                <a href="{{ path('tienda_producto_index') }}"
                                   class="btn btn-naranja">Cancelar</a>
                            {% endif %}
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de productos</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive scroll-novo">
                                <table class="table table-novo text-center">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio Público</th>
                                        <th>Precio Colaborador</th>
                                        <th>Imagen</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
        (function ($, dtSettings) {
            const conceptoSettings = {
                dataType: 'json',
                deferRequestBy: 150,
                showNoSuggestionNotice: true,
                noSuggestionNotice: 'No se encontraron resultados',
                triggerSelectOnValidInput: true,
                minChars: 1,
                paramName: 'q',
                params: {},
                autoSelectFirst: true,
                onSearchStart: function (params) {
                    if (params.q.includes('/')) {
                        params.q = params.q.split(' / ')[1].trim();
                    }
                    return params;
                },
            };

            $('#appbundle_tienda_producto_claveProdServ').autocomplete({
                ...conceptoSettings,
                serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/claveprodserv.json`,
                transformResult: function (claves) {
                    return {
                        suggestions: claves.map(clave => {
                            return {
                                value: `${clave.claveProdServ} / ${clave.descripcion}`,
                                data: clave.id
                            }
                        })
                    }
                }
            });

            $('#appbundle_tienda_producto_claveUnidad').autocomplete({
                ...conceptoSettings,
                serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/clave_unidad.json`,
                transformResult: function (claves) {
                    return {
                        suggestions: claves.map(clave => {
                            return {
                                value: `${clave.claveUnidad} / ${clave.nombre}`,
                                data: clave.id
                            }
                        })
                    }
                }
            });

            $('.table-novo').DataTable({
                ...dtSettings,
                ajax: '{{ path('tienda_producto_index_data') }}',
                order: [[0, 'desc']],
                createdRow: function (row, producto) {
                  let imgSource = producto[3]
                      ? `{{ asset('uploads/tienda/producto/imagenes') }}/${producto[3]}`
                      : "{{ asset('img/image-not-found.jpg') }}";

                  row.cells[3].innerHTML = `
                  <a href="${imgSource}" target="_blank">
                   <img src="${imgSource}" width="50px">
                  </a>
                  `;

                  row.cells[4].innerHTML = `
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ app.request.requestUri ~ '?producto=${producto[4].id}' }}" class="btn btn-xs btn-block btn-azul">
                            Editar
                            </a>
                        </li>
                        <li>
                            <a href="{{ app.request.requestUri ~ 'eliminar/${producto[4].id}' }}"
                             class="btn btn-xs btn-block ${producto[4].estatus ? 'btn-danger' : 'btn-success'}"
                             >
                            ${producto[4].estatus ? 'Desactivar' : 'Activar'}
                            </a>
                        </li>
                    </ul>
                    `
                },
            });
        })(jQuery, datatablesSettings);
    </script>
{% endblock %}
