{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
            max-width: 300px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;

        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }

        .list-unstyled li {
            margin-bottom: .5rem;
        }

        .percent-input + .input-group-addon {
            border-radius: 0 17px 17px 0 !important;
        }
    </style>
{% endblock %}

{% set canCreate = false %}

{% if is_granted(expression('has_role("TIENDA_PRODUCTO_CREATE") or (user.isAdmin())')) %}
    {% set canCreate = true %}
{% endif %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">

                {% if canCreate %}
                <div class="col-md-4">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ producto.id is null ? 'Nuevo producto' : 'Editar: ' ~ producto.nombre }}
                            </h3>
                        </div>
                        <div class="panel-body" style="min-height: initial">
                            {{ form_start(form) }}
                            {{ form_row(form.nombre) }}
                            {{ form_row(form.precio) }}
                            {{ form_row(form.preciocolaborador) }}
                            {{ form_row(form.categoria) }}
                            {{ form_row(form.codigoBarras) }}
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.iESPS) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.iVA) }}
                                </div>
                            </div>

                            {{ form_row(form.claveProdServ) }}
                            {{ form_row(form.claveUnidad) }}
                            {{ form_row(form.imagenFile) }}
                            {% if producto.id is not null %}
                                <a href="{{ path('tienda_producto_index') }}"
                                   class="btn btn-naranja">Cancelar</a>
                            {% endif %}
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="col-md-{{ canCreate == true ? '4' : '12' }}">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de productos</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive scroll-novo">
                                <table class="table table-novo text-center">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Categoria</th>
                                        <th>Precio Público</th>
                                        <th>Precio Colaborador</th>
                                        <th>Imagen</th>
                                        {% if canCreate %}
                                        <th>Acciones</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, dtSettings) {
        const baseUrl = '{{ app.request.baseUrl }}';

        $('#appbundle_tienda_producto_claveUnidad')
            .select2({ajax: {url: baseUrl + '/contabilidad/claves-sat/select2/claveunidad'}});
        $('#appbundle_tienda_producto_claveProdServ')
            .select2({ajax: {url: baseUrl + '/contabilidad/claves-sat/select2/claveprodserv'}});

        $('.table-novo').DataTable({
          ...dtSettings,
          ajax: '{{ path('tienda_producto_index_data') }}',
          order: [[0, 'asc']],
          columns: [
            {responsivePriority: 0},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 0},
            {% if canCreate %}
            {responsivePriority: 0},
            {% endif %}
          ],
          createdRow: function (row, producto) {
            let imgSource = producto[4]
                ? `{{ asset('uploads/tienda/producto/imagenes') }}/${producto[4]}`
                : "{{ asset('img/image-not-found.jpg') }}";

            row.cells[4].innerHTML = `
                  <a href="${imgSource}" target="_blank">
                   <img src="${imgSource}" width="50px">
                  </a>
                  `;

            {% if canCreate %}
            row.cells[5].innerHTML = `
                    <ul class="list-unstyled">
                        <li>
                            <a href="?producto=${producto[5].id}" class="btn btn-xs btn-block btn-azul">
                            Editar
                            </a>
                        </li>
                        <li>
                            <a href="{{ app.request.baseUrl ~ app.request.pathInfo }}eliminar/${producto[5].id}"
                             class="btn btn-xs btn-block ${producto[5].estatus ? 'btn-danger' : 'btn-success'}"
                             >
                            ${producto[5].estatus ? 'Desactivar' : 'Activar'}
                            </a>
                        </li>
                    </ul>
                    `;
            {% endif %}
          },
        });

      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
