{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
            max-width: 300px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;

        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ producto.id is null ? 'Nuevo producto' : 'Editar: ' ~ producto.nombre }}
                            </h3>
                        </div>
                        <div class="panel-body" style="min-height: initial">
                            {{ form_start(form) }}
                            {{ form_row(form.nombre) }}
                            {{ form_row(form.precio) }}
                            {{ form_row(form.claveProdServ) }}
                            {{ form_row(form.claveUnidad) }}
                            {% if producto.id is not null %}
                                <a href="{{ path('tienda_producto_index') }}"
                                   class="btn btn-naranja">Cancelar</a>
                            {% endif %}
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Listado de productos</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="table-responsive">
                                <table class="table table-novo">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th width="33%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i, item in productos %}
                                        <tr>
                                            <td align="center" valign="middle">{{ item.nombre }}</td>
                                            <td align="center" valign="middle">
                                                $ {{ (item.precio/100)|number_format(2,'.',',') }}</td>
                                            <td align="center" valign="middle">
                                                <ul class="list-inline">
                                                    <li>
                                                        <a href="{{ path('tienda_producto_index', {'producto': item.id}) }}"
                                                           class="btn btn-xs btn-azul">Editar</a>
                                                    </li>
                                                    <li>
                                                        {{ form_start(deleteForms[i]) }}
                                                        <input type="submit" class="btn btn-xs btn-naranja"
                                                               value="Eliminar">
                                                        {{ form_end(deleteForms[i]) }}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript">
      (function ($) {
        const conceptoSettings = {
          dataType: 'json',
          deferRequestBy: 150,
          showNoSuggestionNotice: true,
          noSuggestionNotice: 'No se encontraron resultados',
          triggerSelectOnValidInput: true,
          minChars: 1,
          paramName: 'q',
          params: {},
          autoSelectFirst: true,
          onSearchStart: function (params) {
            if (params.q.includes('/')) {
              params.q = params.q.split(' / ')[1].trim();
            }
            return params;
          },
        };

        $('#appbundle_tienda_producto_claveProdServ').autocomplete({
          ...conceptoSettings,
          serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/claveprodserv.json`,
          transformResult: function (claves) {
            return {
              suggestions: claves.map(clave => {
                return {
                  value: `${clave.claveProdServ} / ${clave.descripcion}`,
                  data: clave.id
                }
              })
            }
          }
        });

        $('#appbundle_tienda_producto_claveUnidad').autocomplete({
          ...conceptoSettings,
          serviceUrl: `{{ app.request.BaseUrl }}/contabilidad/facturacion/clave_unidad.json`,
          transformResult: function (claves) {
            return {
              suggestions: claves.map(clave => {
                return {
                  value: `${clave.claveUnidad} / ${clave.nombre}`,
                  data: clave.id
                }
              })
            }
          }
        });
      })(jQuery);
    </script>
{% endblock %}