{% extends 'estructura/plantilla.twig' %}
{% import 'estructura/modalborrar.twig' as modal %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon fa fa-warning"></i> {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('marinahumeda-tarifas_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {% form_theme form 'estructura/temaerror.html.twig' %}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_row(form.tipo) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.costo) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.clasificacion) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Rango de eslora</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            {{ form_errors(form.piesA) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">Entre:</div>
                                {{ form_widget(form.piesA) }}
                                <div class="input-group-addon br-tl-0 br-bl-0 br-tr-17 br-br-0">fts</div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">y:</div>
                                {{ form_widget(form.piesB) }}
                                <div class="input-group-addon br-tl-0 br-bl-0 br-tr-17 br-br-0">fts</div>
                            </div>

                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-sm-12">
                            {{ form_row(form.descripcion) }}
                        </div>
                    </div>
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                            {{ form_end(form) }}
                            {% if delete_form is defined %}
                                {{ delete_form is defined ? modal.deleteButton('Tarifa') : '' }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    {{ delete_form is defined ? modal.deleteModal(delete_form) : '' }}
{% endblock %}
