{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">Embarcaciones</h3>
                        </div>
                        <div class="panel-body panel-pestanias">
                            {{ form_start(edit_form) }}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="primero active">
                                    <a href="#especificaciones" data-toggle="tab">Generales</a>
                                </li>
                                <li>
                                    <a href="#imagenes" data-toggle="tab">Imagenes & Video</a>
                                </li>
                                <li>
                                    <a href="#layout" data-toggle="tab">Brochure & Layout</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="especificaciones">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_row(edit_form.nombre) }}
                                            {{ form_row(edit_form.precio) }}
                                            {{ form_row(edit_form.construccion) }}
                                            <div id="prefabricado">
                                                {{ form_row(edit_form.marca) }}
                                                {{ form_row(edit_form.modelo) }}
                                            </div>
                                            <div id="custom" style="display: none">
                                                {{ form_row(edit_form.builder) }}
                                                {{ form_row(edit_form.interiorDesigner) }}
                                                {{ form_row(edit_form.exteriorDesigner) }}
                                            </div>
                                            {{ form_row(edit_form.ano) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(edit_form.longitud) }}
                                            {{ form_row(edit_form.eslora) }}
                                            {{ form_row(edit_form.manga) }}
                                            {{ form_row(edit_form.calado) }}
                                            {{ form_row(edit_form.peso) }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_row(edit_form.capacidadCombustible) }}
                                            {{ form_row(edit_form.capacidadAgua) }}
                                            {{ form_row(edit_form.capacidadDeposito) }}
                                            {{ form_row(edit_form.cabinas) }}
                                            {{ form_row(edit_form.pasajerosDormidos) }}
                                            {{ form_row(edit_form.generador) }}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {{ form_row(edit_form.descripcion) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="imagenes">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{ form_row(edit_form.video) }}
                                            {% form_theme edit_form.imagenes 'embarcacion/form-themes/_embarcacion_imagen.html.twig' %}
                                            {{ form_row(edit_form.imagenes) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="boat-img" class="dropzone">
                                                <div class="dz-message imagenes-message">
                                                    Puedes arrastrar tus imagenes aquí.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="layout">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-azul pull-right">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}