{% extends 'estructura/plantilla.twig' %}

{% import 'estructura/modalborrar.twig' as modal %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-novo">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Productos
                            </h3>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form_row(form.nombre) }}
                                    {{ form_row(form.precio) }}
                                    {{ form_row(form.unidad) }}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form_row(form.modelo) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(form.ucp) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    {{ form_row(form.marca) }}
                                    {{ form_row(form.categoria) }}
                                    {{ form_row(form.subcategoria) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_row(form.imagenFile) }}
                                    {{ form_row(form.fichaTecnicaFile) }}
                                </div>
                                <div class="col-sm-8">
                                    {{ form_row(form.descripcion) }}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-azul pull-right">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                    <div class="pull-left">
                                        {{ delete_form is defined ? modal.deleteButton() : '' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    {{ delete_form is defined ? modal.deleteModal(delete_form) : ''}}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      const categoriaSelect = document.getElementById('appbundle_producto_categoria');
      const subcategoriaSelect = document.getElementById('appbundle_producto_subcategoria');

      fetchModelos(categoriaSelect.value);

      categoriaSelect.addEventListener('change', function () {
        fetchModelos(this.value);
      });

      function fetchModelos(id) {
        fetch(`{{ app.request.baseUrl }}/producto/categoria/${id}/subcategorias.json`, {credentials: 'include'})
            .then(response => response.status === 200 ? response.json() : response.status)
            .then(categoria => {
              subcategoriaSelect.innerHTML = categoria.subcategorias.length
                  ? categoria.subcategorias.map(subcategoria => `<option value="${subcategoria.id}">${subcategoria.nombre}</option>`).join('')
                  : `<option>No existen subcategorias</option>`;
            });
      }
    </script>
{% endblock %}