{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    {{ parent() }}
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                    <small>Divisa: MXN</small>
                </div>
                <div class="panel-body">
                    <table class="table table-novo table-condensed text-center">
                        <thead>
                        <tr>
                            <th>Folio</th>
                            <th class="with-choices">Cliente</th>
                            <th class="with-choices">Barco</th>
                            <th>Litros</th>
                            <th>Subtotal</th>
                            <th>Iva Total</th>
                            <th>Total</th>
                            <th class="with-options">Validación</th>
                            <th class="with-options">Aceptación</th>
                            <th class="with-options">Pago</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        const aceptado = `<img src="{{ asset('img/status-aprobado-icon.svg') }}" class="center-block">`;
        const rechazado = `<img src="{{ asset('img/status-desaprovado-icon.svg') }}" class="center-block">`;
        const pendiente = `<img src="{{ asset('img/status-pendiente-icon.svg') }}" class="center-block">`;

        const $tabla = $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: '{{ path('combustible_index') }}',
          autoWidth: false,
          order: [[0, 'desc']],
          columns: [
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 1},
          ],
          rowCallback: function (row, data) {
            for (let i of [7, 8, 9]) {
              if (!data[i]) row.children[i].innerHTML = pendiente;
              if (data[i] === 1) row.children[i].innerHTML = rechazado;
              if (data[i] === 2) row.children[i].innerHTML = aceptado;
            }

            row.lastElementChild.innerHTML = writeLastChild(data[7], data[8], data[9], data[10]);
          }
        });

        $tabla.columns('.with-options').every(function () {
          const column = this;
          const columnHeader = column.header();
          const select = document.createElement('select');

          select.add(new Option(columnHeader.innerHTML, ''));
          columnHeader.innerHTML = '';
          columnHeader.appendChild(select);

          select.addEventListener('click', e => e.stopPropagation());
          select.addEventListener('change', function () {
            let val = $.fn.dataTable.util.escapeRegex(this.value);
            column.search(val, true, true).draw();
          });

          select.add(new Option('Aceptada', '2'));
          select.add(new Option('Rechazada', '1'));
          select.add(new Option('Pendiente', null));
        });

        function writeLastChild(validacion, aceptacion, pago, item) {
          return `
          <td>
            <ul class="list-unstyled">
              <li><a class="btn btn-xs btn-block btn-morado-claro" href="{{ app.request.requestUri ~ '${item.id}' }}">Detalle</a></li>
              {% if is_granted(expression('has_role("COMBUSTIBLE_COTIZACION_VALIDATE") or (user.isAdmin())')) %}
              ${validacion === 0 ? `<li><a class="btn btn-xs btn-block btn-azul" href="{{ app.request.requestUri ~ '${item.id}/validar' }}">Validar</a></li>` : ''}
              ${(validacion === 2 && aceptacion === 0) ? `<li><a class="btn btn-xs btn-block btn-azul" href="{{ app.request.requestUri ~ '${item.id}/validar' }}">Aceptar</a></li>` : ''}
              {% endif %}
              {% if is_granted(expression('has_role("COMBUSTIBLE_COTIZACION_REQUOTE") or (user.isAdmin())')) %}
              ${(validacion === 1 || aceptacion === 1) && item.estatus ? `<li><a class="btn btn-xs btn-block btn-naranja" href="{{ app.request.requestUri ~ '${item.id}/recotizar' }}">Recotizar</a></li>` : ''}
              {% endif %}
              {% if is_granted('ROLE_COMBUSTIBLE_PAGO') %}
              ${(aceptacion === 2 && pago !== 2) ? `<li><a class="btn btn-xs btn-block btn-verde" href="{{ app.request.requestUri ~ '${item.id}/pago' }}">Pagos</a></li>` : ''}
              {% endif %}
            </ul>
          </td>
        `;
        }
      })(jQuery, datatablesSettings)

    </script>
{% endblock %}