{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .novo-checkbox-container .checkbox {
            position: relative;
            padding: 20px 0 20px 20px;
            text-align: left;
        }

        .novo-checkbox-container .checkbox label {
            cursor: pointer;
            padding-left: 10px;
        }

        .novo-checkbox-container .checkbox label:before,
        .novo-checkbox-container .checkbox label:after {
            content: '';
            position: absolute;
            top: 50%;
        }

        .novo-checkbox-container .checkbox label:before {
            left: 0;
            width: 20px;
            height: 20px;
            margin: -10px 0 0;
            border-radius: 4px;
            background: #3e4766;
            -webkit-box-shadow: 0 0 1px grey;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
        }

        .novo-checkbox-container .checkbox label:after {
            width: 14px;
            height: 8px;
            top: 24px;
            left: 3px;
            border: 3px solid #0097f6;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .novo-checkbox-container .checkbox label:hover:after {
            opacity: .5;
        }

        .novo-checkbox-container .checkbox input[type="radio"],
        .novo-checkbox-container .checkbox input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

        .novo-checkbox-container .checkbox input[type="radio"]:checked + label:after,
        .novo-checkbox-container .checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('combustible_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {{ form_start(form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalmxn" aria-controls="total" role="tab" data-toggle="tab">Totales</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.barco) }}
                                    <div id="info-barco"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="info-cliente"></div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.cantidad) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.tipo) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.precioVenta) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.dolar) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.iva) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.cuotaIesps) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.comisionTipoPago) }}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane input-combustible" id="totalmxn">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div>
                                        $ <span id="valdolar">{{ (valdolar/100)|number_format(2) }}</span> <small>MXN</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 id="combustible_titulo_mxn" class="text-center">
                                        Abastecimiento de combustible
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.precioSinIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.precioSinIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_precioSinIespsUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.precioSinIvaIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.precioSinIvaIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_precioSinIvaIespsUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Litros vendidos:</label>
                                </div>
                                <div class="col-sm-8">
                                    <span id="combustible_cantidad_mxn" class="pl-1">0</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.iespsTotal) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.iespsTotal) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_iespsTotalUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.totalSinIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.totalSinIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_totalSinIespsUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Tasa IVA:</label>
                                </div>
                                <div class="col-sm-8">
                                    <span id="tasa_iva_mxn" class="pl-1">0</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.totalSinIvaIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.totalSinIvaIesps) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_totalSinIvaIespsUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.subtotal) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.subtotal) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_subtotalUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.comisionTipoPagoValue) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.comisionTipoPagoValue) }}
                                    {{ form_errors(form.comisionTipoPagoValue) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_comisionTipoPagoValueUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.ivaTotal) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.ivaTotal) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_ivaTotalUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_label(form.total) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_widget(form.total) }}
                                </div>
                                <div class="col-sm-4">
                                    $ <span id="combustible_totalUsd">0</span> <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_row(form.mensaje) }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="novo-checkbox-container">
                                        {{ form_row(form.notificarCliente) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const tipoPagoSelect = document.getElementById('appbundle_combustible_comisionTipoPago');
        let cantidad = document.getElementById('appbundle_combustible_cantidad');
        let precio_venta = document.getElementById('appbundle_combustible_precioVenta');
        let cuotaIesps = document.getElementById('appbundle_combustible_cuotaIesps');
        let dolar_combustible = document.getElementById('appbundle_combustible_dolar');
        let iva = document.getElementById('appbundle_combustible_iva');

        const appbundle_combustible_comisionTipoPagoValue = document.getElementById('appbundle_combustible_comisionTipoPagoValue');
        const appbundle_combustible_precioSinIesps = document.getElementById('appbundle_combustible_precioSinIesps');
        const appbundle_combustible_precioSinIvaIesps = document.getElementById('appbundle_combustible_precioSinIvaIesps');
        const combustible_cantidad_mxn = document.getElementById('combustible_cantidad_mxn');
        const appbundle_combustible_iespsTotal = document.getElementById('appbundle_combustible_iespsTotal');
        const appbundle_combustible_totalSinIesps = document.getElementById('appbundle_combustible_totalSinIesps');
        const tasa_iva_mxn = document.getElementById('tasa_iva_mxn');
        const appbundle_combustible_totalSinIvaIesps = document.getElementById('appbundle_combustible_totalSinIvaIesps');
        const appbundle_combustible_subtotal = document.getElementById('appbundle_combustible_subtotal');
        const appbundle_combustible_ivaTotal = document.getElementById('appbundle_combustible_ivaTotal');
        const appbundle_combustible_total = document.getElementById('appbundle_combustible_total');

        tipoPagoSelect.addEventListener('change', function () {
          combustibleCalculaTotales();
        });

        seleccionaBarco(document.getElementById('appbundle_combustible_barco').value);
        seleccionaCombustible(document.getElementById('appbundle_combustible_tipo').value);
        $('.selecttipocombustible').change(function (e) {
           seleccionaCombustible($(this).val());
        });
        $('.selectbarcobuscar').change(function (e) {
            seleccionaBarco($(this).val())
        });
        document.querySelectorAll('.calcular-costos').forEach(function(elem) {
            elem.addEventListener('keyup', function (input) {
                combustibleCalculaTotales();
            });
        });
        dolar_combustible.addEventListener('keyup', function (input) {
            console.log(input);
            document.getElementById('valdolar').innerHTML = Number(input.target.value).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            combustibleCalculaTotalesUSD();
        });

        function seleccionaBarco(id) {
          if (!id) return;

            $('#loading').show();
            $("#info-barco").empty();
            $("#info-cliente").empty();
            var url = "{{ path('ajax_busca_barco_todo',{'id':'iddelbarco'}) }}";
            url = url.replace("iddelbarco", id);
            $.ajax({
                method: "GET",
                url: url,
                dataType: 'json',
                success: function (barco) {
                    let barcoModeloAux = barco.modelo?barco.modelo:'';
                    let barcoEsloraAux = barco.eslora?barco.eslora:0;
                    let mangaAux = barco.manga?barco.manga:'';
                    let nombreCapitanAux = barco.nombreCapitan?barco.nombreCapitan:'';
                    let telefonoCapitanAux = barco.telefonoCapitan?barco.telefonoCapitan:'';
                    let correoCapitanAux = barco.correoCapitan?barco.correoCapitan:'';
                    let cliente = barco.cliente;
                    let clienteNombreAux = cliente.nombre?cliente.nombre:'';
                    let clienteCorreoAux = cliente.correo?cliente.correo:'';
                    let clienteTelefonoAux = cliente.telefono?cliente.telefono:'';
                    let clienteDireccionAux = cliente.direccion?cliente.direccion:'';
                    var htmlBarco = "<label>Modelo</label>" +
                        "<div class='info-input'>" + barcoModeloAux + "</div>" +
                        "<label>Eslora</label>" +
                        "<div id='eslora' class='info-input' data-valor='" + barcoEsloraAux + "'>" + barcoEsloraAux + "</div>" +
                        "<label>Manga</label>" + "<div class='info-input'>" + mangaAux + "</div>" +
                        "<label>Nombre del capitán</label>" +
                        "<div class='info-input'>" + nombreCapitanAux + "</div>" +
                        "<label>Teléfono del capitán</label>" +
                        "<div class='info-input'>" + telefonoCapitanAux + "</div>" +
                        "<label>Correo del capitán</label>" +
                        "<div class='info-input'>" + correoCapitanAux + "</div>";
                    var htmlCliente = "<label>Cliente</label>" +
                        "<div class='info-input'>" + clienteNombreAux + "</div>" +
                        "<label>Correo electrónico</label>" +
                        "<div class='info-input'>" + clienteCorreoAux + "</div>" +
                        "<label>Número de teléfono</label>" +
                        "<div class='info-input'>" + clienteTelefonoAux + "</div>" +
                        "<label>Dirección</label>" +
                        "<div class='info-input'>" + clienteDireccionAux + "</div>";
                    $("#info-barco").append(htmlBarco);
                    $("#info-cliente").append(htmlCliente);
                    $('#loading').hide();
                }
            });
        }
        function seleccionaCombustible(id) {
          if (!id) return;
            $('#loading').show();
            var urlTipo = "{{ path('json_tipo_combustible',{'id':'idtipo'}) }}";
            urlTipo = urlTipo.replace('idtipo', id);
            $.ajax({
                method: "GET",
                url: urlTipo,
                dataType: 'json',
                success: function (tipo) {
                    document.getElementById('combustible_titulo_mxn').innerHTML = 'Abastecimiento de combustible ' + tipo.nombre;
                    precio_venta.value = (tipo.precio / 100);
                    cuotaIesps.value = tipo.cuotaIesps;
                    combustibleCalculaTotales();
                }
            }).always(function () {
                $('#loading').hide();
            });
        }
        function combustibleCalculaTotales() {
            let tasa_iva = (100 + Number(iva.value)) / 100;
            let precio_sin_iesps = Number(precio_venta.value) - Number(cuotaIesps.value);
            let precio_sin_iva_iesps = precio_sin_iesps / tasa_iva;
            let total = Number(cantidad.value) * Number(precio_venta.value);
            let iespstot = Number(cantidad.value) * Number(cuotaIesps.value);
            let total_sin_iesps = total - iespstot;
            let total_sin_iva_iesps = total_sin_iesps / tasa_iva;
            let subtotal = total_sin_iva_iesps + iespstot;
            let ivatot = total_sin_iva_iesps * (Number(iva.value) / 100);
            const comisionTipoPago = tipoPagoSelect.value ? (subtotal * (Number(tipoPagoSelect.value) / 100)) : 0;

            total = total + comisionTipoPago;

            appbundle_combustible_comisionTipoPagoValue.value = comisionTipoPago.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_precioSinIesps.value = precio_sin_iesps.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_precioSinIvaIesps.value = precio_sin_iva_iesps.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            combustible_cantidad_mxn.innerHTML = cantidad.value;
            appbundle_combustible_iespsTotal.value = iespstot.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_totalSinIesps.value = total_sin_iesps.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            tasa_iva_mxn.innerHTML = tasa_iva.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_totalSinIvaIesps.value = total_sin_iva_iesps.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_subtotal.value = subtotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_ivaTotal.value = ivatot.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            appbundle_combustible_total.value = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            combustibleCalculaTotalesUSD();
        }
        function combustibleCalculaTotalesUSD() {
            let dolar = Number(dolar_combustible.value);
            let precio_sin_iesps_usd = Number((appbundle_combustible_precioSinIesps.value).replace(/,/g, '')) / dolar;
            let precio_sin_iva_iesps_usd = Number((appbundle_combustible_precioSinIvaIesps.value).replace(/,/g, '')) / dolar;
            let iesps_total_usd = Number((appbundle_combustible_iespsTotal.value).replace(/,/g, '')) / dolar;
            let total_sin_iesps_usd = Number((appbundle_combustible_totalSinIesps.value).replace(/,/g, '')) / dolar;
            let total_sin_iva_iesps_usd = Number((appbundle_combustible_totalSinIvaIesps.value).replace(/,/g, '')) / dolar;
            let subtotal_usd = Number((appbundle_combustible_subtotal.value).replace(/,/g, '')) / dolar;
            let iva_total_usd = Number((appbundle_combustible_ivaTotal.value).replace(/,/g, '')) / dolar;
            let total_usd = Number((appbundle_combustible_total.value).replace(/,/g, '')) / dolar;
            const comisionTipoPago = Number((appbundle_combustible_comisionTipoPagoValue.value).replace(/,/g, '')) / dolar;

            document.getElementById('combustible_comisionTipoPagoValueUsd').innerHTML = comisionTipoPago.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');;
            document.getElementById('combustible_precioSinIespsUsd').innerHTML = precio_sin_iesps_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_precioSinIvaIespsUsd').innerHTML = precio_sin_iva_iesps_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_iespsTotalUsd').innerHTML = iesps_total_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_totalSinIespsUsd').innerHTML = total_sin_iesps_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_totalSinIvaIespsUsd').innerHTML = total_sin_iva_iesps_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_subtotalUsd').innerHTML = subtotal_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_ivaTotalUsd').innerHTML = iva_total_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_totalUsd').innerHTML = total_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }
    </script>
{% endblock %}
