{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .novo-checkbox-container .checkbox {
            position: relative;
            padding: 20px 0 20px 20px;
            text-align: left;
        }

        .novo-checkbox-container .checkbox label {
            cursor: pointer;
            padding-left: 10px;
        }

        .novo-checkbox-container .checkbox label:before,
        .novo-checkbox-container .checkbox label:after {
            content: '';
            position: absolute;
            top: 50%;
        }

        .novo-checkbox-container .checkbox label:before {
            left: 0;
            width: 20px;
            height: 20px;
            margin: -10px 0 0;
            border-radius: 4px;
            background: #3e4766;
            -webkit-box-shadow: 0 0 1px grey;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
        }

        .novo-checkbox-container .checkbox label:after {
            width: 14px;
            height: 8px;
            top: 24px;
            left: 3px;
            border: 3px solid #0097f6;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .novo-checkbox-container .checkbox label:hover:after {
            opacity: .5;
        }

        .novo-checkbox-container .checkbox input[type="radio"],
        .novo-checkbox-container .checkbox input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

        .novo-checkbox-container .checkbox input[type="radio"]:checked + label:after,
        .novo-checkbox-container .checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                            <span>Recotizado de {{ folioAnt }}</span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('combustible_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {{ form_start(form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalmxn" aria-controls="totalmxn" role="tab" data-toggle="tab">Total (MXN)</a>
                        </li>
                        <li role="presentation">
                            <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Total (USD)</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div id='barcopies' class='info-input' data-valor="{{ marinaHumedaCotizacion.barco.eslora }}">{{ marinaHumedaCotizacion.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.manga }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.direccion }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_row(form.mhcservicios.children.0.cantidad) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.mhcservicios.children.0.precioAux) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_row(form.dolar) }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form_row(form.mhcservicios.children.0.tipo) }}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane input-combustible" id="totalmxn">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div class="valdolar">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2) }} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Subtotal</th>
                                            <th>IVA</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="combustible_cantidad_mxn" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}">
                                                {{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}
                                            </td>
                                            <td>Abastecimiento de combustible</td>
                                            <td>{{ form_widget(form.mhcservicios.children.0.precio) }}</td>
                                            <td>{{ form_widget(form.mhcservicios.children.0.subtotal) }}</td>
                                            <td>{{ form_widget(form.mhcservicios.children.0.iva) }}</td>
                                            <td>{{ form_widget(form.mhcservicios.children.0.total) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    {{ form_row(form.subtotal) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    {{ form_row(form.ivatotal) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    {{ form_row(form.total) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="total">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div class="valdolar">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2)}}
                                        MXN
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>Precios en USD</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="combustible_cantidad_usd" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}">
                                                {{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}
                                            </td>
                                            <td>Abastecimiento de combustible</td>
                                            <td id="combustible_precio_usd" data-valor="{{ (marinaHumedaCotizacion.mhcservicios.0.precio/marinaHumedaCotizacion.dolar)|number_format(2) }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.precio/marinaHumedaCotizacion.dolar)|number_format(2) }}
                                            </td>
                                            <td id="combustible_subtotal_usd">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.subtotal/marinaHumedaCotizacion.dolar)|number_format(2) }}
                                            </td>
                                            <td id="combustible_iva_usd">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.iva/marinaHumedaCotizacion.dolar)|number_format(2) }}
                                            </td>
                                            <td id="combustible_total_usd">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.total/marinaHumedaCotizacion.dolar)|number_format(2) }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 tipo-letra1">
                                    <label class="letra-azul">Subtotal:</label>
                                    <p>
                                        $ <span id="combustible_gran_subtotal_usd">{{ (marinaHumedaCotizacion.subtotal/marinaHumedaCotizacion.dolar)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 tipo-letra1">
                                    <label class="letra-azul">I.V.A:</label>
                                    <p>
                                        $ <span id="combustible_gran_iva_usd">{{ (marinaHumedaCotizacion.ivatotal/marinaHumedaCotizacion.dolar)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 tipo-letra1">
                                    <label class="letra-azul">Total:</label>
                                    <p>
                                        $ <span id="combustible_gran_total_usd">{{ (marinaHumedaCotizacion.total/marinaHumedaCotizacion.dolar)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-10">
                                    {{ form_row(form.mensaje) }}
                                    <div class="novo-checkbox-container">
                                        {{ form_row(form.notificarCliente) }}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-azul">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.cliente,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.barco,{'attr':{'class':'hidden'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        let cantidad_mxn = document.getElementById('combustible_cantidad_mxn');
        let cantidad_usd = document.getElementById('combustible_cantidad_usd');
        let precio_mxn = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_precio');
        let precio_usd = document.getElementById('combustible_precio_usd');
        let iva = Number(document.getElementById('valiva').dataset.valor);

        $('#appbundle_marinahumedacotizacion_mhcservicios_0_cantidad').keyup(function (cantidad) {
            cantidad_mxn.dataset.valor = cantidad.target.value;
            cantidad_mxn.innerHTML = cantidad.target.value;
            cantidad_usd.dataset.valor = cantidad.target.value;
            cantidad_usd.innerHTML = cantidad.target.value;
            combustibleCalculaTotales();
            combustibleCalculaTotalesUSD();
        });
        $('#appbundle_marinahumedacotizacion_mhcservicios_0_precioAux').keyup(function (precio_iva_mxn) {
            let dolar = Number(document.getElementById('appbundle_marinahumedacotizacion_dolar').value);
            let precio_sin_iva_mxn = (precio_iva_mxn.target.value * 100) / (100 + iva);
            let precio_sin_iva_usd = precio_sin_iva_mxn / dolar;
            precio_mxn.value = precio_sin_iva_mxn.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            precio_usd.dataset.valor = precio_sin_iva_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            precio_usd.innerHTML = precio_sin_iva_usd.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            combustibleCalculaTotales();
            combustibleCalculaTotalesUSD();
        });
        $('#appbundle_marinahumedacotizacion_dolar').keyup(function (dolarval) {
            let precio_usd_aux = precio_mxn.value / dolarval.target.value;
            precio_usd.dataset.valor = precio_usd_aux.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            precio_usd.innerHTML = precio_usd_aux.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            combustibleCalculaTotalesUSD();
        });
        function combustibleCalculaTotales(){
            let subtotal = cantidad_mxn.dataset.valor * precio_mxn.value;
            let ivatot = (subtotal * iva) / 100;
            let total = subtotal + ivatot;
            document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_subtotal').value = subtotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_iva').value = ivatot.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_total').value = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('appbundle_marinahumedacotizacion_subtotal').value = subtotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('appbundle_marinahumedacotizacion_ivatotal').value = ivatot.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('appbundle_marinahumedacotizacion_total').value = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }
        function combustibleCalculaTotalesUSD(){
            let subtotal = cantidad_usd.dataset.valor * precio_usd.dataset.valor;
            let ivatot = (subtotal * iva) / 100;
            let total = subtotal + ivatot;
            document.getElementById('combustible_subtotal_usd').innerHTML = subtotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_iva_usd').innerHTML = ivatot.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_total_usd').innerHTML = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_gran_subtotal_usd').innerHTML = subtotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_gran_iva_usd').innerHTML = ivatot.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('combustible_gran_total_usd').innerHTML = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }
    </script>
{% endblock %}