{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .help-block {
            color: #B0413E;
        }
    </style>
{% endblock stylesheets %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                            <span>{{ folio }}</span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('combustible_show',{'id': combustible.id }) }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {{ form_start(edit_form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Totales</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#validacion" aria-controls="validacion" role="tab" data-toggle="tab">Validación</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ combustible.barco.nombre }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ combustible.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div class='info-input'>{{ combustible.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ combustible.barco.manga }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ combustible.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ combustible.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ combustible.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ combustible.cliente.nombre }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ combustible.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ combustible.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ combustible.cliente.direccion }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="total">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div>
                                        $ <span id="valdolar">{{ (combustible.dolar/100)|number_format(2) }}</span>
                                        <small>MXN</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 id="combustible_titulo_mxn" class="text-center">
                                        Abastecimiento de combustible {{ combustible.tipo }}
                                    </h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Precio venta:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.precioVenta/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.precioVenta/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Cuota IESPS:</label>
                                </div>
                                <div class="col-sm-4">
                                    {{ combustible.cuotaIesps }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Precio sin IESPS:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.precioSinIesps/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.precioSinIesps/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Precio sin IVA/IESPS:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.precioSinIvaIesps/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.precioSinIvaIesps/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Litros vendidos:</label>
                                </div>
                                <div class="col-sm-8">
                                    <span class="pl-1">{{ combustible.cantidad }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">IESPS:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.iespsTotal/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.iespsTotal/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Total sin IESPS:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.totalSinIesps/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.totalSinIesps/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Tasa IVA:</label>
                                </div>
                                <div class="col-sm-8">
                                    <span class="pl-1">{{ (combustible.iva + 100)/100 }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Total sin IVA/IESPS:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.totalSinIvaIesps/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.totalSinIvaIesps/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Subtotal:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.subtotal/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.subtotal/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">IVA:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.ivaTotal/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.ivaTotal/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="letra-azul tipo-letra2">Total:</label>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.total/100)|number_format(2) }}
                                    <small>MXN</small>
                                </div>
                                <div class="col-sm-4">
                                    $ {{ (combustible.total/combustible.dolar)|number_format(2) }}
                                    <small>USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                                <div class="col-sm-4">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="validacion">
                            {% if edit_form.validanovo is defined %}
                                <div class="row">
                                    <div class="col-sm-12 espacio-linea">
                                        {{ form_errors(edit_form.validanovo) }}
                                        <label>Indique su respuesta</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="middle">
                                            {{ form_widget(edit_form.validanovo) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-azul pull-right">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <div id="notarechazado">
                                    <div class="row">
                                        <div class="col-sm-8 espacio-linea-arriba2">
                                            {{ form_row(edit_form.notasnovo) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if edit_form.validacliente is defined %}
                                <div class="row">
                                    <div class="col-sm-12 espacio-linea">
                                        <label>Aceptación como cliente</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="middle">
                                            {{ form_widget(edit_form.validacliente) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-azul pull-right">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                <div id="notarechazado">
                                    <div class="row">
                                        <div class="col-sm-8 espacio-linea-arriba2">
                                            {{ form_row(edit_form.notascliente) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
