{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}
{% block contwrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="panel panel-novo">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
                <small>Divisa: MXN</small>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-daterange" id="rangoFehas">
                            <div class="row">
                                <div class="col-sm-6">
                                    {{ form_row(form.inicio) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.fin) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.producto) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(form.buscar) }}
                    </div>
                </div>
                {{ form_end(form) }}
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table tabla-reporte">
                            <thead>
                            <tr>
                                <th>Fecha venta</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Sub-Total</th>
                                <th>IVA</th>
                                <th>Descuento</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for venta in ventas %}
                                <tr>
                                    <td>{{ venta.fecha }}</td>
                                    <td>{{ venta.producto }}</td>
                                    <td>{{ venta.cantidad }}</td>
                                    <td>{{ venta.precio }}</td>
                                    <td>{{ venta.subtotal }}</td>
                                    <td>{{ venta.iva }}</td>
                                    <td>{{ venta.descuento }}</td>
                                    <td>{{ venta.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript">
        $('.tabla-reporte').DataTable({
            responsive: true,
            language: {
                lengthMenu: 'Mostrar _MENU_ registros',
                zeroRecords: 'No hay registros',
                info: 'Mostrando la pagina _PAGE_ de _PAGES_',
                infoEmpty: 'No hay registros disponibles',
                infoFiltered: '(filtados de _MAX_ total de registros)',
                processing: 'Procesando...',
                loadingRecords: 'Cargando registros...',
                search: 'Buscar',
                paginate: {
                    first: 'Primera',
                    last: 'Ultima',
                    next: 'Siguiente',
                    previous: 'Anterior'
                }
            },
            searchDelay: 500,
            searching: false,
            order: [[0, 'desc']],
            dom:
                "<'row'<'col-sm-3'l><'col-sm-3'><'col-sm-3'B><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: {
                buttons: [
                    {
                        extend: 'excel',
                        text: 'XLS',
                        className: 'btn btn-verde btn-sm',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    }
                ]
            },
        });
    </script>
{% endblock %}