{#Para saber como utilizar este tema hay que checar EmbarcacionType, EmbarcacionImagenType y /Embarcacion/new.html.twig#}
{% block appbundle_embarcacionimagen_label %}
{% endblock %}

{% block appbundle_embarcacionimagen_widget %}
    {{ form_widget(form.basename) }}
    {{ form_widget(form.size) }}
{% endblock %}

{% block appbundle_embarcacionlayout_label %}
{% endblock %}

{% block appbundle_embarcacionlayout_widget %}
    {{ form_widget(form.basename) }}
    {{ form_widget(form.size) }}
{% endblock %}

{% block vich_file_label %}
{% endblock %}
{% block vich_file_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-md-6">
                {{ form_widget(form.file) }}
            </div>
            {% if download_uri %}
                <div class="col-md-6">
                    <a href="{{ download_uri }}" target="_blank">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
                    {% if form.delete is defined %}
                        {{ form_row(form.delete) }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}