{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .novo-checkbox-container .form-group{
            margin-bottom: 0;
        }
        table > tbody > .table-item > td{
            vertical-align: middle;
        }

        .novo-checkbox-container .checkbox {
            position: relative;
            padding-left: 20px;
            text-align: left;
            margin: 0;
        }

        .novo-checkbox-container .checkbox label {
            cursor: pointer;
            padding-left: 10px;
        }

        .novo-checkbox-container .checkbox label:before,
        .novo-checkbox-container .checkbox label:after {
            content: '';
            position: absolute;
            top: 50%;
        }

        .novo-checkbox-container .checkbox label:before {
            left: 0;
            width: 20px;
            height: 20px;
            margin: -10px 0 0;
            border-radius: 4px;
            background: #3e4766;
            -webkit-box-shadow: 0 0 1px grey;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
        }

        .novo-checkbox-container .checkbox label:after {
            width: 14px;
            height: 8px;
            top: 7px;
            left: 3px;
            border: 3px solid #0097f6;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .novo-checkbox-container .checkbox label:hover:after {
            opacity: .5;
        }

        .novo-checkbox-container .checkbox input[type="radio"],
        .novo-checkbox-container .checkbox input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

        .novo-checkbox-container .checkbox input[type="radio"]:checked + label:after,
        .novo-checkbox-container .checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }
    </style>
{% endblock %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            {{ form_start(form) }}
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                                {{ solicitud.folio }}
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('almacen_show',{'id':solicitud.id }) }}">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div id="products-pane" class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Fecha solicitud</label>
                            <div class="info-input">
                                {% if solicitud.fecha %}
                                    {{ solicitud.fecha|date("d/m/Y") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            {{ form_row(form.referencia) }}
                        </div>
                        <div class="col-sm-4">
                            <div class="novo-checkbox-container">
                                {{ form_row(form.validadoAlmacen) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Validación</th>
                                    <th width="8%">Cantidad</th>
                                    <th width="15%">Producto</th>
                                    <th>Proveedor</th>
                                    <th>Precio</th>
                                    <th>Sub-Total</th>
                                    <th>IVA {{ solicitud.iva }}%</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody id="conceptos" class="text-center">
                                {% for concepto in form.conceptos %}
                                    <tr class="table-item">
                                        <td class="novo-checkbox-container pl-1 {% if concepto.vars.value.validadoAlmacen %}
                                                                                    hide
                                                                                {% else %}
                                                                                    visible
                                                                                {% endif %}">
                                            {{ form_row(concepto.validadoAlmacen) }}
                                        </td>
                                        <td class="{% if concepto.vars.value.validadoAlmacen == false %}hide{% endif %}">
                                            {{ concepto.vars.value.fechaValidoAlmacen|date('d/m/Y') }} -
                                            {{ concepto.vars.value.nombreValidoAlmacen }}
                                        </td>
                                        <td>
                                            {{ concepto.vars.value.cantidad }}
                                        </td>
                                        <td>
                                            {% if concepto.vars.value.marinaServicio %}
                                                {{ concepto.vars.value.marinaServicio.nombre }}
                                                {% if concepto.vars.value.marinaServicio.claveUnidad %}
                                                    - {{ concepto.vars.value.marinaServicio.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.vars.value.combustibleCatalogo %}
                                                {{ concepto.vars.value.combustibleCatalogo.nombre }}
                                                {% if concepto.vars.value.combustibleCatalogo.claveUnidad %}
                                                    - {{ concepto.vars.value.combustibleCatalogo.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.vars.value.astilleroProducto %}
                                                {{ concepto.vars.value.astilleroProducto.nombre }}
                                                {% if concepto.vars.value.astilleroProducto.claveUnidad %}
                                                    - {{ concepto.vars.value.astilleroProducto.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.vars.value.tiendaProducto %}
                                                {{ concepto.vars.value.tiendaProducto.nombre }}
                                                {% if concepto.vars.value.tiendaProducto.claveUnidad %}
                                                    - {{ concepto.vars.value.tiendaProducto.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ concepto.vars.value.proveedor }}
                                        </td>
                                        <td>${{ (concepto.vars.value.precio/100)|number_format(2) }} <small>MXN</small></td>
                                        <td>${{ (concepto.vars.value.subtotal/100)|number_format(2) }} <small>MXN</small></td>
                                        <td>${{ (concepto.vars.value.ivatotal/100)|number_format(2) }} <small>MXN</small></td>
                                        <td>${{ (concepto.vars.value.total/100)|number_format(2) }} <small>MXN</small></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6 text-right">
                            <h4 class="letra-azul">Sub-Total</h4>
                            <hr>
                            <h4>MX$ {{ (solicitud.subtotal / 100)|number_format(2) }}</h4>
                            <h4 class="letra-azul">IVA {{ solicitud.iva|number_format(2) }}%</h4>
                            <hr>
                            <h4>MX$ {{ (solicitud.ivatotal / 100)|number_format(2) }}</h4>
                            <h4 class="letra-azul">Total</h4>
                            <hr>
                            <h4>MX$ {{ (solicitud.total / 100)|number_format(2) }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            {{ form_row(form.notaAlmacen) }}
                        </div>
                    </div>
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-6">
                            <button id="submit-btn" class="btn btn-azul">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">

                </div>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function () {
            const tabla = document.querySelector('table');
            const checkboxes = tabla.querySelectorAll('.visible [type="checkbox"]'); //chekbox que se ven
            const validaTodo = document.getElementById('appbundle_solicitud_validadoAlmacen');

            validaTodo.addEventListener('click',function () {
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = validaTodo.checked;
                });
            });
            checkboxes.forEach(function(checkbox){
               checkbox.addEventListener('click',function () {
                   revisaValidaciones();
               });
            });
            function revisaValidaciones(){
                let estatusValidacionTodo = true;
                checkboxes.forEach(function (checkbox) {
                    if(!checkbox.checked){
                        estatusValidacionTodo = false;
                    }
                });
                validaTodo.checked = estatusValidacionTodo;
            }
        })();
    </script>
{% endblock %}