{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
{% endblock %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Unidad</th>
                                    <th>Descripción</th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
        (function ($, settings) {
            $('.table-novo').DataTable({
                    ...settings,
                ajax: '{{ path('astillero_servicio_index') }}',
                order: [[0, 'desc']],
                createdRow: function (row, data) {
                let actionsCell = row.cells[4];
                actionsCell.innerHTML = `
            <ul class="unstyled-list list-inline" style="margin: 0">
                <li>
                <a href="${data[4]}/editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a href="${data[4]}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
            `
            },
        });
        })(jQuery, datatablesSettings);
    </script>
{% endblock %}