<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cotización PDF</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
        * {
            margin: 0;
            padding: 0;
        }
        * {
            font-family: 'Montserrat', sans-serif;
        }
        img {
            max-width: 100%;
        }
        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
            color: #666666
        }
        a{
            color:#ffffff;
        }
        hr{
            border-top: 2px solid;
        }
        .texto1{
            font-size: 24px;
        }
        .texto2{
            font-size: 18px;
        }
        .texto3{
            font-size: 14px;
        }
        .texto4{
            font-size: 12px;
        }
        .letra-azul{
            color: #458fce
        }
        .letra-gris{
            color: #666666
        }
        .letra-blanca{
            color:#ffffff;
        }
        .fondo-verde{
            background-color: #7a9b4a;
        }
        .fondo-naranja{
            background-color: #e6670a;
        }
        .fondo-azul{
            background: #458fce
        }
        table.head-wrap {
            width: 100%;
        }
        table.body-wrap {
            width: 100%;
        }
        table.footer-wrap {
            width: 100%;
            clear: both !important;
        }
        .container {
            display: block !important;
            max-width: 800px !important;
            margin: 0 auto !important;
            clear: both !important;
        }
        .content {
            padding: 15px;
            max-width: 800px;
            margin: 0 auto;
            display: block;
        }
        .content table {
            width: 100%;
        }
        .column {
            width: 300px;
            float: left;
        }
        .column tr td {
            padding: 15px;
        }
        .column table {
            width: 100%;
        }
        .fondo-bicolor{
            background: url("{{ absolute_url(asset('img/imagencorreo-02.jpg')) }}") no-repeat;
            background-size: cover;
        }
        .fondo-portada{
            {#background: url("{{ absolute_url(asset('img/imagencorreo-01.jpg')) }}") no-repeat;#}
            {#background-size: 100% 100%;#}
            height: 150px;
        }
        .imagenlogo{
            min-width: 200px;
            padding: 10px;
        }
        .btn-opcion{
            min-width: 130px;
            font-weight: bold;
            border-radius: 0px;
        }
        .espacio-pie{
            height: 100px;
        }
        .btnverde{
            padding: 5px 5px 5px 5px;
            border-radius: 3px;
            border: 1px solid #000000;
            background: #7a9b4a;
        }
        .btnnaranja{
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #000000;
            background: #e6670a;
        }
    </style>
</head>
<body>
{#<table class="head-wrap fondo-bicolor">#}
    {#<tr>#}
        {#<td valign="middle">#}
            {#<img src="{{ absolute_url(asset('img/logo.png')) }}" class="img-responsive imagenlogo"/>#}
        {#</td>#}
    {#</tr>#}
{#</table>#}
<table class="body-wrap">
    <tr class="fondo-portada">
        <td></td>
        <td class="container text-center">
            <div class="content">
                <table>
                    <tr>
                        <td class="texto3">
                            <h4 class="texto1">LA MARINA MÁS GRANDE DEL CARIBE</h4>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        {#<td class="texto3 text-justify">#}
                        <td>
                         {{ marinaHumedaCotizacion.mensaje|raw }}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <a class="btnverde"
                               href="{{ url('respuesta-cliente', {'token': tokenAcepta }) }}">Autorizar</a>
                        </td>
                        <td align="center">
                            <a class="btnnaranja"
                               href="{{ url('respuesta-cliente', {'token': tokenRechaza }) }}">Rechazar</a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="container">
            <hr>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        <td>
                           {# <h4 class="texto3 letra-azul"><strong>Términos y Condiciones</strong></h4>
                            <p class="texto4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend a magna et
                                rhoncus. In in mattis elit. Nulla gravida nisi massa, non euismod turpis faucibus eu.
                                Praesent at porttitor erat, posuere pellentesque orci. Nam quam nunc, ornare vitae
                                iaculis a, consectetur quis metus. Nulla facilisi. Class aptent taciti sociosqu ad
                                litora torquent per conubia nostra, per inceptos himenaeos. Phasellus aliquet aliquet
                                justo. Maecenas nunc purus, pellentesque eu suscipit eget, mollis non dui. Cras id
                                turpis vitae metus posuere sagittis ut sit amet metus. Quisque dictum urna quis quam
                                convallis, nec tincidunt sem auctor.
                            </p>#}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
<table class="footer-wrap espacio-pie fondo-azul">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                       <td></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>

</html>

