{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautica | Cotizaciones Marina Húmeda
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Marina Húmeda Cotizaciones</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive scroll-novo">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Cliente</th>
                                <th>Barco</th>
                                <th>Fecha llegada</th>
                                <th>Fecha salida</th>
                                <th>Slip</th>
                                <th>Descuento(%)</th>
                                <th>Subtotal</th>
                                <th>Iva Total</th>
                                <th>Descuento Total</th>
                                <th>Total</th>
                                <th>Validación</th>
                                <th>Aceptación</th>
                                <th>Pago</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for marinaHumedaCotizacion in marinaHumedaCotizacions|sort|reverse %}
                                <tr>
                                    <td>
                                        {% if marinaHumedaCotizacion.foliorecotiza == 0 %}
                                            {{ marinaHumedaCotizacion.folio }}
                                        {% else %}
                                            {{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}
                                        {% endif %}
                                    </td>
                                    <td>{{ marinaHumedaCotizacion.cliente }}</td>
                                    <td>{{ marinaHumedaCotizacion.barco }}</td>
                                    <td>{% if marinaHumedaCotizacion.fechaLlegada %}{{ marinaHumedaCotizacion.fechaLlegada|date('d-m-Y') }}{% endif %}</td>
                                    <td>{% if marinaHumedaCotizacion.fechaSalida %}{{ marinaHumedaCotizacion.fechaSalida|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{ marinaHumedaCotizacion.slip }}</td>
                                    <td>{{ marinaHumedaCotizacion.descuento }}%</td>
                                    <td>${{ (marinaHumedaCotizacion.subtotal/100)|number_format(2) }}</td>
                                    <td>${{ (marinaHumedaCotizacion.ivatotal/100)|number_format(2) }}</td>
                                    <td>${{ (marinaHumedaCotizacion.descuentototal/100)|number_format(2) }}</td>
                                    <td>${{ (marinaHumedaCotizacion.total/100)|number_format(2) }}</td>
                                    <td class="align-middle">
                                        {% if marinaHumedaCotizacion.validanovo == 0 %}
                                            <img src="{{ asset('img/status-pendiente-icon.svg') }}"
                                                 class="center-block" data-toggle="tooltip" data-placement="left" title="Pendiente">
                                        {% elseif marinaHumedaCotizacion.validanovo == 1 %}
                                            <img src="{{ asset('img/status-desaprovado-icon.svg') }}"
                                                 class="center-block" data-toggle="tooltip" data-placement="left" title="Rechazado">
                                        {% elseif marinaHumedaCotizacion.validanovo == 2 %}
                                            <img src="{{ asset('img/status-aprobado-icon.svg') }}"
                                                 class="center-block" data-toggle="tooltip" data-placement="left" title="Aceptado">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if marinaHumedaCotizacion.validacliente == 0 %}
                                            <img src="{{ asset('img/status-pendiente-icon.svg') }}"
                                                 class="center-block" data-toggle="tooltip" data-placement="left" title="Pendiente">
                                        {% elseif marinaHumedaCotizacion.validacliente == 1 %}
                                            <img src="{{ asset('img/status-desaprovado-icon.svg') }}"
                                                 class="center-block" data-toggle="tooltip" data-placement="left" title="Rechazado">
                                        {% elseif marinaHumedaCotizacion.validacliente == 2 %}
                                            <img src="{{ asset('img/status-aprobado-icon.svg') }}"
                                                 class="center-block" data-toggle="tooltip" data-placement="left" title="Aceptado">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% if marinaHumedaCotizacion.validacliente == 2 %}

                                            {% if marinaHumedaCotizacion.estatuspago == 2 %}
                                                <img src="{{ asset('img/status-aprobado-icon.svg') }}"
                                                    class="center-block" data-toggle="tooltip" data-placement="left" title="Pagado">
                                            {% elseif marinaHumedaCotizacion.estatuspago == 1 %}
                                                <img src="{{ asset('img/status-pendiente-icon.svg') }}"
                                                     class="center-block" data-toggle="tooltip" data-placement="left" title="Con adeudo">
                                                {% else %}
                                                <img src="{{ asset('img/status-desaprovado-icon.svg') }}"
                                                     class="center-block" data-toggle="tooltip" data-placement="left" title="No pagado">
                                            {% endif %}

                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-morado-claro"
                                           href="{{ path('marina-humeda_show', { 'id': marinaHumedaCotizacion.id }) }}">Detalle</a>
                                        {% if marinaHumedaCotizacion.validanovo == 0 %}
                                            <a class="btn btn-azul" href="{{ path('marina-humeda_validar', { 'id': marinaHumedaCotizacion.id }) }}">Validar</a>
                                        {% endif %}
                                        {% if (marinaHumedaCotizacion.validanovo == 1 or
                                              marinaHumedaCotizacion.validacliente == 1) and
                                              marinaHumedaCotizacion.estatus == 1
                                        %}
                                            <a class="btn btn-naranja" href="{{ path('marina-humeda_recotizar', { 'id': marinaHumedaCotizacion.id }) }}">Recotizar</a>
                                        {% endif %}
                                        {% if marinaHumedaCotizacion.validacliente == 2 %}
                                            <a class="btn btn-verde" href="{{ path('marina_cotizacion_pago_edit',{'id': marinaHumedaCotizacion.id}) }}">Pagos</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
