{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Ver Cotización Marina Humeda
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Cotización Marina Humeda</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('marina-humeda_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#totales" aria-controls="totales" role="tab" data-toggle="tab">Totales (USD)</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalesmxn" aria-controls="totalesmxn" role="tab" data-toggle="tab">Totales (MXN)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Folio</th>
                                            <td>
                                                {% if marinaHumedaCotizacion.foliorecotiza == 0 %}
                                                    {{ marinaHumedaCotizacion.folio }}
                                                {% else %}
                                                    {{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Cliente</th>
                                            <td>{{ marinaHumedaCotizacion.cliente }}</td>
                                        </tr>
                                        <tr>
                                            <th>Barco</th>
                                            <td>{{ marinaHumedaCotizacion.barco }}</td>
                                        </tr>
                                        <tr>
                                            <th>Eslora</th>
                                            <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha llegada</th>
                                            <td>{% if marinaHumedaCotizacion.fechaLlegada %}{{ marinaHumedaCotizacion.fechaLlegada|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha salida</th>
                                            <td>{% if marinaHumedaCotizacion.fechaSalida %}{{ marinaHumedaCotizacion.fechaSalida|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Descuento %</th>
                                            <td>{{ marinaHumedaCotizacion.descuento }}%</td>
                                        </tr>
                                        <tr>
                                            <th>Estatus validación</th>
                                            <td>
                                                {% if marinaHumedaCotizacion.validanovo == 0 %}
                                                    Pendiente validación de Novonautica
                                                {% elseif marinaHumedaCotizacion.validanovo == 1 %}
                                                    Rechazado por Novonautica
                                                {% elseif marinaHumedaCotizacion.validanovo == 2 %}
                                                    Aprobado por Novonautica
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Estatus aceptación</th>
                                            <td>
                                                {% if marinaHumedaCotizacion.validacliente == 0 %}
                                                    Pendiente aceptación del cliente
                                                {% elseif marinaHumedaCotizacion.validacliente == 1 %}
                                                    Rechazado por el cliente
                                                {% elseif marinaHumedaCotizacion.validacliente == 2 %}
                                                    Aprobado por el cliente
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totales">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <span>Descuento del: {{ marinaHumedaCotizacion.descuento }} %</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="tipocambio" class="">{{ marinaHumedaCotizacion.dolar }} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <small>Precios en USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for mhservicio in marinaHumedaCotizacion.mhcservicios  %}
                                            {% if mhservicio.estatus %}
                                                <tr>
                                                    <td>{{ mhservicio.cantidad }}</td>
                                                    <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                                    <td>{% if mhservicio.tipo == 1 %} Días Estadia {% else %} Conexió a electricidad {% endif %}</td>
                                                    <td>$ {{ mhservicio.precio|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ mhservicio.subtotal|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ mhservicio.iva|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ mhservicio.descuento|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ mhservicio.total|number_format(2,'.',',') }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot">{{ marinaHumedaCotizacion.subtotal|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $ <span id="graniva">{{ marinaHumedaCotizacion.ivatotal|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandescuento">{{ marinaHumedaCotizacion.descuentototal|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot">{{ marinaHumedaCotizacion.total|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalesmxn">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <span>Descuento del: {{ marinaHumedaCotizacion.descuento }} %</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="tipocambio" class="">{{ marinaHumedaCotizacion.dolar }} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for mhservicio in marinaHumedaCotizacion.mhcservicios  %}
                                            {% if mhservicio.estatus %}
                                                <tr>
                                                    <td>{{ mhservicio.cantidad }}</td>
                                                    <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                                    <td>{% if mhservicio.tipo == 1 %} Días Estadia {% else %} Conexió a electricidad {% endif %}</td>
                                                    <td>$ {{ (mhservicio.precio * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ (mhservicio.subtotal * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ (mhservicio.iva * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ (mhservicio.descuento * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</td>
                                                    <td>$ {{ (mhservicio.total * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot">{{ (marinaHumedaCotizacion.subtotal * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $ <span id="graniva">{{ (marinaHumedaCotizacion.ivatotal * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandescuento">{{ (marinaHumedaCotizacion.descuentototal * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot">{{ (marinaHumedaCotizacion.total * marinaHumedaCotizacion.dolar)|number_format(2,'.',',') }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a target="_blank" class="btn btn-morado-claro pull-right" href="{{ path('marina-pdf',{'id': marinaHumedaCotizacion.id }) }}">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Ver
                            </a>
                        </div>
                    </div>
                    {% if marinaHumedaCotizacion.validanovo == 0 %}
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <a class="btn btn-azul pull-right" href="{{ path('marina-humeda_validar', { 'id': marinaHumedaCotizacion.id }) }}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Validar
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if (marinaHumedaCotizacion.validanovo == 1 or
                    marinaHumedaCotizacion.validacliente == 1) and
                    marinaHumedaCotizacion.estatus == 1
                    %}
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <a class="btn btn-naranja pull-right" href="{{ path('marina-humeda_recotizar', { 'id': marinaHumedaCotizacion.id }) }}">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                Recotizar
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {#<div class="row">#}
                        {#<div class="col-sm-12">#}
                            {#form_start(delete_form)#}
                            {#<input type="submit" value="Borrar" class="btn btn-borrar pull-right">#}
                            {#form_end(delete_form)#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
