{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Ver Cotización Marina Humeda
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Cotización Marina Húmeda</h3>
                            <span>
                                 {% if marinaHumedaCotizacion.foliorecotiza == 0 %}
                                     {{ marinaHumedaCotizacion.folio }}
                                 {% else %}
                                     {{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}
                                 {% endif %}
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('marina-humeda_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#totales" aria-controls="totales" role="tab" data-toggle="tab">Totales (USD)</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalesmxn" aria-controls="totalesmxn" role="tab" data-toggle="tab">Totales
                                (MXN)</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                        {% if marinaHumedaCotizacion.validacliente == 2 %}
                            <li role="presentation">
                                <a href="#pagos" aria-controls="pagos" role="tab" data-toggle="tab">Pagos</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Folio</th>
                                            <td>
                                                {% if marinaHumedaCotizacion.foliorecotiza == 0 %}
                                                    {{ marinaHumedaCotizacion.folio }}
                                                {% else %}
                                                    {{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Cliente</th>
                                            <td>{{ marinaHumedaCotizacion.cliente }}</td>
                                        </tr>
                                        <tr>
                                            <th>Barco</th>
                                            <td>{{ marinaHumedaCotizacion.barco }}</td>
                                        </tr>
                                        <tr>
                                            <th>Eslora</th>
                                            <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha llegada</th>
                                            <td>{% if marinaHumedaCotizacion.fechaLlegada %}{{ marinaHumedaCotizacion.fechaLlegada|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha salida</th>
                                            <td>{% if marinaHumedaCotizacion.fechaSalida %}{{ marinaHumedaCotizacion.fechaSalida|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th>Slip</th>
                                            <td>{{ marinaHumedaCotizacion.slip }}</td>
                                        </tr>
                                        <tr>
                                            <th>Descuento %</th>
                                            <td>{{ marinaHumedaCotizacion.descuento }}%</td>
                                        </tr>
                                        <tr>
                                            <th>Estatus validación</th>
                                            <td>
                                                {% if marinaHumedaCotizacion.validanovo == 0 %}
                                                    Pendiente validación de Novonautica
                                                {% elseif marinaHumedaCotizacion.validanovo == 1 %}
                                                    Rechazado por {{ marinaHumedaCotizacion.nombrevalidanovo }}
                                                {% elseif marinaHumedaCotizacion.validanovo == 2 %}
                                                    Aprobado por {{ marinaHumedaCotizacion.nombrevalidanovo }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Estatus aceptación</th>
                                            <td>
                                                {% if marinaHumedaCotizacion.validacliente == 0 %}
                                                    Pendiente aceptación del cliente
                                                {% elseif marinaHumedaCotizacion.validacliente == 1 %}
                                                    Rechazado por el cliente
                                                {% elseif marinaHumedaCotizacion.validacliente == 2 %}
                                                    Aprobado por el cliente
                                                {% endif %}
                                            </td>
                                        </tr>

                                        {% if marinaHumedaCotizacion.validacliente == 2 %}
                                            <tr>
                                                <th>Estatus Pago</th>
                                                <td>
                                                    {% if marinaHumedaCotizacion.estatuspago == 2 %}
                                                        Pagado
                                                    {% elseif marinaHumedaCotizacion.estatuspago == 1 %}
                                                        Con adeudo
                                                    {% else %}
                                                        No pagado
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totales">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <span>Descuento del: {{ marinaHumedaCotizacion.descuento }} %</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="tipocambio" class="">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2)}} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <small>Precios en USD</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for mhservicio in marinaHumedaCotizacion.mhcservicios %}
                                            {% if mhservicio.estatus %}
                                                <tr>
                                                    <td>{{ mhservicio.cantidad }}</td>
                                                    <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                                    <td>{% if mhservicio.tipo == 1 %} Días Estadia {% else %} Conexión a electricidad {% endif %}</td>
                                                    <td>$ {{ (mhservicio.precio/100)|number_format(2) }}</td>
                                                    <td>$ {{ (mhservicio.subtotal/100)|number_format(2) }}</td>
                                                    <td>$ {{ (mhservicio.iva/100)|number_format(2) }}</td>
                                                    <td>$ {{ (mhservicio.descuento/100)|number_format(2) }}</td>
                                                    <td>$ {{ (mhservicio.total/100)|number_format(2) }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $
                                        <span id="gransubtot">{{ (marinaHumedaCotizacion.subtotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $
                                        <span id="graniva">{{ (marinaHumedaCotizacion.ivatotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $
                                        <span id="grandescuento">{{ (marinaHumedaCotizacion.descuentototal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $
                                        <span id="grantot">{{ (marinaHumedaCotizacion.total/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalesmxn">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <span>Descuento del: {{ marinaHumedaCotizacion.descuento }} %</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="tipocambio" class="">{{ (marinaHumedaCotizacion.dolar/100)}} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for mhservicio in marinaHumedaCotizacion.mhcservicios %}
                                            {% if mhservicio.estatus %}
                                                <tr>
                                                    <td>{{ mhservicio.cantidad }}</td>
                                                    <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                                    <td>{% if mhservicio.tipo == 1 %} Días Estadia {% else %} Conexión a electricidad {% endif %}</td>
                                                    <td>
                                                        $ {{ ((mhservicio.precio/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</td>
                                                    <td>
                                                        $ {{ ((mhservicio.subtotal/100) * (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</td>
                                                    <td>
                                                        $ {{ ((mhservicio.iva/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</td>
                                                    <td>
                                                        $ {{ ((mhservicio.descuento/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</td>
                                                    <td>
                                                        $ {{ ((mhservicio.total/100) * (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $
                                        <span id="gransubtot">{{ ((marinaHumedaCotizacion.subtotal/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $
                                        <span id="graniva">{{ ((marinaHumedaCotizacion.ivatotal/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $
                                        <span id="grandescuento">{{ ((marinaHumedaCotizacion.descuentototal/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $
                                        <span id="grantot">{{ ((marinaHumedaCotizacion.total/100)* (marinaHumedaCotizacion.dolar/100))|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-6">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label>Mensaje en el correo:</label>
                                    <div class="info-input">{{ marinaHumedaCotizacion.mensaje|raw }}</div>
                                </div>
                            </div>
                        </div>
                        {% if marinaHumedaCotizacion.validacliente == 2 %}
                            <div role="tabpanel" class="tab-pane" id="pagos">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Total a pagar</label>
                                        <div class="info-input">
                                            $ {{ (marinaHumedaCotizacion.total/100)|number_format(2) }} USD
                                        </div>
                                    </div>
                                </div>
                                <div class="row espacio-linea">
                                    <div class="col-sm-6">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>Método de pago</th>
                                                <th>Pago</th>
                                                <th>Fecha</th>
                                                <th>Tipo de cambio</th>
                                                <th>Total en MXN</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set totMxn = 0 %}
                                            {% for pago in marinaHumedaCotizacion.pagos %}
                                                <tr>
                                                    <td>{{ pago.metodopago }}</td>
                                                    <td>$ {{ (pago.cantidad/100)|number_format(2) }} USD</td>
                                                    <td>{% if pago.fechaRealPago %}
                                                            {{ pago.fechaRealPago|date('d-m-Y') }}
                                                        {% endif %}</td>
                                                    <td>$ {{ (pago.dolar/100)|number_format(2) }} MXN</td>
                                                    <td>$ {{ ((pago.cantidad * pago.dolar)/10000)|number_format(2) }} MXN</td>
                                                </tr>
                                                {% set totMxn = totMxn + (pago.cantidad * pago.dolar)  %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row espacio-linea">
                                    <div class="col-sm-6">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Pagado hasta el momento</label>
                                        <div class="info-input">
                                            $ {{ (marinaHumedaCotizacion.pagado/100)|number_format(2) }} USD
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label></label>
                                        <div class="info-input">
                                            $ {{ (totMxn/100)|number_format(2) }} MXN
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a target="_blank" class="btn btn-morado-claro pull-right"
                               href="{{ path('marina-pdf',{'id': marinaHumedaCotizacion.id }) }}">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                Ver
                            </a>
                        </div>
                    </div>
                    {% if marinaHumedaCotizacion.validanovo == 0 %}
                        <div class="row espacio-linea-arriba2">
                            <div class="col-sm-12">
                                <a class="btn btn-azul pull-right"
                                   href="{{ path('marina-humeda_validar', { 'id': marinaHumedaCotizacion.id }) }}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    Validar
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if (marinaHumedaCotizacion.validanovo == 1 or
                    marinaHumedaCotizacion.validacliente == 1) and
                    marinaHumedaCotizacion.estatus == 1 %}
                        <div class="row espacio-linea-arriba2">
                            <div class="col-sm-12">
                                <a class="btn btn-naranja pull-right"
                                   href="{{ path('marina-humeda_recotizar', { 'id': marinaHumedaCotizacion.id }) }}">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                    Recotizar
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if marinaHumedaCotizacion.validacliente == 2 %}
                        <div class="row espacio-linea-arriba2">
                            <div class="col-sm-12">
                                <a class="btn btn-verde pull-right"
                                   href="{{ path('marina_cotizacion_pago_edit',{'id': marinaHumedaCotizacion.id}) }}">
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    Pagos
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
