{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautica | Validar cotización Marina Húmeda
{% endblock %}

{% block contwrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="panel panel-novo">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">Marina Húmeda Validación</h3>
                        <span>
                                {% if marinaHumedaCotizacion.foliorecotiza == 0 %}
                                    {{ marinaHumedaCotizacion.folio }}
                                {% else %}
                                    {{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}
                                {% endif %}
                            </span>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-contorno-azul pull-right"
                           href="{% if (marinaHumedaCotizacion.mhcservicios.0.tipo == 1 or marinaHumedaCotizacion.mhcservicios.0.tipo == 2) %}
                                                                                        {{ path('marina-humeda_estadia_index') }}
                                                                                    {% else %}
                                                                                        {{ path('marina-humeda_gasolina_index') }}
                                                                                     {% endif %}">Regresar</a>
                    </div>
                </div>

            </div>
            <div class="panel-body panel-pestanias">
                {{ form_start(edit_form) }}
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="primero">
                        <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                    </li>
                    <li role="presentation">
                        <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                    </li>
                    <li role="presentation">
                        <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Total (USD)</a>
                    </li>
                    <li role="presentation">
                        <a href="#totalmxn" aria-controls="totalmxn" role="tab" data-toggle="tab">Total (MXN)</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#validacion" aria-controls="validacion" role="tab" data-toggle="tab">Validación</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="generales">
                        <div class="row">
                            <div class="col-sm-3">

                                <div id="info-cliente">
                                    <label>Cliente</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.nombre }}</div>
                                    <label>Correo electrónico</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.correo }}</div>
                                    <label>Número de teléfono</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.telefono }}</div>
                                    <label>Dirección</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.direccion }}</div>
                                    <label>R.F.C.</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.rfc }}</div>
                                    <label>Razón social</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.razonsocial }}</div>
                                    <label>Dirección fiscal</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.cliente.direccionfiscal }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">

                                <div id="info-barco">
                                    <label>Barco</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.nombre }}</div>
                                    <label>Modelo</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.modelo }}</div>
                                    <label>Eslora</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.eslora }}</div>
                                    <label>Manga</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.manga }}</div>
                                    <label>Nombre del capitán</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.nombreCapitan }}</div>
                                    <label>Teléfono del capitán</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.telefonoCapitan }}</div>
                                    <label>Correo del capitán</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.barco.correoCapitan }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="servicios">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-daterange" id="rangoFehas">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Fecha de llegada</label>
                                            <div class='info-input'>{{ marinaHumedaCotizacion.fechaLlegada|date('d-m-Y') }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Fecha de salida</label>
                                            <div class='info-input'>{{ marinaHumedaCotizacion.fechaSalida|date('d-m-Y') }}</div>
                                        </div>
                                    </div>
                                </div>
                                <label>Descuento(%)</label>
                                <div class='info-input'>{{ marinaHumedaCotizacion.descuento }}</div>
                                <label>Dolar</label>
                                <div class='info-input'>{{ (marinaHumedaCotizacion.dolar/100)|number_format(2) }}</div>
                                {% if (marinaHumedaCotizacion.mhcservicios.0.tipo == 1 or marinaHumedaCotizacion.mhcservicios.0.tipo == 2) %}
                                    <label>Slip</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacion.slip }}</div>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if (marinaHumedaCotizacion.mhcservicios.0.tipo == 1 or marinaHumedaCotizacion.mhcservicios.0.tipo == 2) %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Días Estadía:</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}</div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Precio por día:</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.mhcservicios.0.precio/100 }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-6">
                                        <label>Precio electricidad:</label>
                                        <div class='info-input'>{{ (marinaHumedaCotizacion.mhcservicios.1.precio/100) }}</div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Litros:</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.mHCservicios.0.cantidad }}</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Precio por litro</label>
                                        <div class='info-input'>{{ (marinaHumedaCotizacion.mHCservicios.0.precio/100)|number_format(2) }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Tipo:</label>
                                        <div class='info-input'>
                                            {% if marinaHumedaCotizacion.mHCservicios.0.tipo == 3 %}
                                                Magna
                                            {% elseif marinaHumedaCotizacion.mHCservicios.0.tipo == 4 %}
                                                Premium
                                            {% elseif marinaHumedaCotizacion.mHCservicios.0.tipo == 5 %}
                                                Diesel
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="total">
                        <div class="row">
                            <div class="col-sm-9 text-right">
                                <span>Tipo de cambio:</span>
                                <div id="tipocambio" class=""
                                     data-valor="{{ marinaHumedaCotizacion.dolar/100 }}">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2) }}
                                    MXN
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <small>Precios en USD</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <table id="mh_nuevacotizacion" class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Eslora (pies)</th>
                                        <th>Servicio</th>
                                        <th>Prec. Unid.</th>
                                        <th>Sub-Total</th>
                                        <th>IVA</th>
                                        <th>Descuento</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for mhservicio in marinaHumedaCotizacion.mhcservicios %}
                                        {% if mhservicio.estatus %}
                                            <tr>
                                                <td>{{ mhservicio.cantidad }}</td>
                                                <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                                <td>
                                                    {% if mhservicio.tipo == 1 %}
                                                        Días Estadia
                                                    {% elseif mhservicio.tipo == 2 %}
                                                        Conexión a electricidad
                                                    {% elseif mhservicio.tipo == 3 %}
                                                        Abastecimiento de Gasolina Magna
                                                    {% elseif mhservicio.tipo == 4 %}
                                                        Abastecimiento de Gasolina Premium
                                                    {% elseif mhservicio.tipo == 5 %}
                                                        Abastecimiento de Diesel
                                                    {% endif %}
                                                </td>
                                                <td>$ {{ (mhservicio.precio/100)|number_format(2) }}</td>
                                                <td>$ {{ (mhservicio.subtotal/100)|number_format(2) }}</td>
                                                <td>$ {{ (mhservicio.iva/100)|number_format(2) }}</td>
                                                <td>$ {{ (mhservicio.descuento/100)|number_format(2) }}</td>
                                                <td>$ {{ (mhservicio.total/100)|number_format(2) }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                    <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">Sub-Total:</p>
                                <p>
                                    $
                                    <span id="gransubtot">{{ (marinaHumedaCotizacion.subtotal/100)|number_format(2) }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">I.V.A:</p>
                                <p>
                                    $
                                    <span id="graniva">{{ (marinaHumedaCotizacion.ivatotal/100)|number_format(2) }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">Descuento:</p>
                                <p>
                                    $
                                    <span id="grandecuento">{{ (marinaHumedaCotizacion.descuentototal/100)|number_format(2) }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">Total:</p>
                                <p>
                                    $
                                    <span id="grantot">{{ (marinaHumedaCotizacion.total/100)|number_format(2) }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="totalmxn">
                        <div class="row">
                            <div class="col-sm-9 text-right">
                                <span>Tipo de cambio:</span>
                                <div id="" class=""
                                     data-valor="{{ marinaHumedaCotizacion.dolar/100 }}">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2) }}
                                    MXN
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <small>Precios en MXN</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <table id="" class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Eslora (pies)</th>
                                        <th>Servicio</th>
                                        <th>Prec. Unid.</th>
                                        <th>Sub-Total</th>
                                        <th>IVA</th>
                                        <th>Descuento</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for mhservicio in marinaHumedaCotizacion.mhcservicios %}
                                        {% if mhservicio.estatus %}
                                            <tr>
                                                <td>{{ mhservicio.cantidad }}</td>
                                                <td>{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                                <td>
                                                    {% if mhservicio.tipo == 1 %}
                                                        Días Estadia
                                                    {% elseif mhservicio.tipo == 2 %}
                                                        Conexión a electricidad
                                                    {% elseif mhservicio.tipo == 3 %}
                                                        Abastecimiento de Gasolina Magna
                                                    {% elseif mhservicio.tipo == 4 %}
                                                        Abastecimiento de Gasolina Premium
                                                    {% elseif mhservicio.tipo == 5 %}
                                                        Abastecimiento de Diesel
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    $ {{ ((mhservicio.precio * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                                <td>
                                                    $ {{ ((mhservicio.subtotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                                <td>
                                                    $ {{ ((mhservicio.iva * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                                <td>
                                                    $ {{ ((mhservicio.descuento * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                                <td>
                                                    $ {{ ((mhservicio.total * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div id="" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                    <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">Sub-Total:</p>
                                <p>
                                    $
                                    <span id="gransubtot">{{ ((marinaHumedaCotizacion.subtotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">I.V.A:</p>
                                <p>
                                    $
                                    <span id="graniva">{{ ((marinaHumedaCotizacion.ivatotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">Descuento:</p>
                                <p>
                                    $
                                    <span id="grandecuento">{{ ((marinaHumedaCotizacion.descuentototal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                <p class="letra-azul">Total:</p>
                                <p>
                                    $
                                    <span id="grantot">{{ ((marinaHumedaCotizacion.total * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-5">
                                <hr>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane active" id="validacion">
                        {% if edit_form.validanovo is defined %}
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <label>Indique su respuesta</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="middle">
                                        {{ form_widget(edit_form.validanovo) }}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-azul pull-right">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                            <div id="notarechazado">
                                <div class="row">
                                    <div class="col-sm-8 espacio-linea-arriba2">
                                        {{ form_row(edit_form.notasnovo) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if edit_form.validacliente is defined %}
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <label>Validación Cliente</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="middle">
                                        {{ form_widget(edit_form.validacliente) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 espacio-linea-arriba2">
                                    {{ form_row(edit_form.notascliente) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
