{% block appbundle_astillero_contratista_actividad_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.nombre) }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.inicio) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.fin) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.responsable) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.porcentaje) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.notas) }}
                <div class="hidden">
                {{ form_row(form.fotos, { 'attr': {'data-length': form.fotos|length }}) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="dropzone">
                            <div class="dz-message imagenes-message">
                                Puedes arrastrar tus imagenes aquí.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-12 text-right espacio-linea-arriba2">
                <a href="#" class="remove-actividad btn btn-xs btn-naranja">
                    <i class="fa fa-times" aria-hidden="true"></i> Eliminar actividad
                </a>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}