{% block form_widget %}
    {% spaceless %}
        <div class="col-sm-5">
            {{ form_row(form.nombre) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.inicio) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.fin) }}
        </div>
        <div class="col-sm-1">
            <a href="#" class="remove-actividad btn btn-xs btn-naranja">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-sm-5">
            {{ form_row(form.notas) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.responsable) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.porcentaje) }}
        </div>
    {% endspaceless %}
{% endblock %}