{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.css') }}">
    {#<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css') }}">#}
{% endblock %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                            <span>
                                 {% if ordenDeTrabajo.astilleroCotizacion.foliorecotiza == 0 %}
                                     {{ ordenDeTrabajo.astilleroCotizacion.folio }}
                                 {% else %}
                                     {{ ordenDeTrabajo.astilleroCotizacion.folio }}-{{ ordenDeTrabajo.astilleroCotizacion.foliorecotiza }}
                                 {% endif %}
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('ordendetrabajo_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#hojapagos" aria-controls="hojapagos" role="tab" data-toggle="tab">Hoja de
                                pagos</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Nombre:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.nombre }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Teléfono:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.telefono }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Celular:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.celular }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Correo:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.correo }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Embarcación:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.nombre }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Modelo:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.modelo }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Calado:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.calado }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Manga:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.manga }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Eslora:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.eslora }}</ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <small class="pull-left">Precios en USD</small>
                                    <small class="pull-right">Tipo de cambio: <span
                                                id="precio-dolar">{{ (ordenDeTrabajo.astilleroCotizacion.dolar/100)| number_format(2) }}</span>
                                        MXN
                                    </small>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Producto / Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="servicios-cotizacion">
                                        {% for Aservicio in ordenDeTrabajo.astilleroCotizacion.acservicios %}
                                            {% if Aservicio.estatus %}
                                                <tr>
                                                    <td>{{ Aservicio.cantidad }}</td>
                                                    <td>
                                                        {% if Aservicio.servicio is not null %}
                                                            {{ Aservicio.servicio.nombre }}
                                                        {% elseif Aservicio.producto is not null %}
                                                            {{ Aservicio.producto.nombre }}
                                                        {% elseif Aservicio.otroservicio is not null %}
                                                            {{ Aservicio.otroservicio }}
                                                        {% elseif Aservicio.astilleroserviciobasico is not null %}
                                                            {{ Aservicio.astilleroserviciobasico.nombre }}
                                                        {% endif %}
                                                    </td>
                                                    <td>${{ (Aservicio.precio/100)|number_format(2) }}</td>
                                                    <td>${{ (Aservicio.subtotal/100)|number_format(2) }}</td>
                                                    <td>${{ (Aservicio.iva/100)|number_format(2) }}</td>
                                                    <td>${{ (Aservicio.total/100)|number_format(2) }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <small>Iva: <span
                                                id="porcentaje-iva">{{ ordenDeTrabajo.astilleroCotizacion.iva | number_format(2) }}</span>%
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="hojapagos">
                            <div class="row">
                                <div class="col-sm-12">
                                    <small class="pull-left">Precios en MXN</small>
                                    <small class="pull-right">Tipo de cambio:
                                        <span>{{ (ordenDeTrabajo.astilleroCotizacion.dolar/100)| number_format(2) }}</span>
                                        MXN
                                    </small>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Descripción del trabajo</th>
                                            <th>Contratista</th>
                                            <th>Razón social</th>
                                            <th>Precio contratista</th>
                                            <th>IVA {{ ordenDeTrabajo.astilleroCotizacion.iva }}%</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for contratista in ordenDeTrabajo.contratistas %}
                                            <tr>
                                                <td>{{ contratista.cotizacionInicial }}</td>
                                                <td>{{ contratista.proveedor.nombre }}</td>
                                                <td>{{ contratista.proveedor.razonsocial }}</td>
                                                <td>${{ (contratista.precio/100)|number_format(2) }}</td>
                                                <td>${{ (contratista.ivatot/100)|number_format(2) }}</td>
                                                <td>${{ (contratista.total/100)|number_format(2) }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="3" rowspan="2" class="text-right">Totales:</td>
                                            <td>${{ (ordenDeTrabajo.precioTotal/100)|number_format(2) }}</td>
                                            <td>${{ (ordenDeTrabajo.ivaTotal/100)|number_format(2) }}</td>
                                            <td>${{ (ordenDeTrabajo.granTotal/100)|number_format(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ${{ ((ordenDeTrabajo.precioTotal/ordenDeTrabajo.astilleroCotizacion.dolar))|number_format(2) }}
                                                USD
                                            </td>
                                            <td>
                                                ${{ ((ordenDeTrabajo.ivaTotal/ordenDeTrabajo.astilleroCotizacion.dolar))|number_format(2) }}
                                                USD
                                            </td>
                                            <td>
                                                ${{ ((ordenDeTrabajo.granTotal/ordenDeTrabajo.astilleroCotizacion.dolar))|number_format(2) }}
                                                USD
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <small>Iva:
                                        <span>{{ ordenDeTrabajo.astilleroCotizacion.iva | number_format(2) }}</span>%
                                    </small>
                                </div>
                            </div>
                            {% for contratista in ordenDeTrabajo.contratistas %}
                                <div class="row espacio-linea-arriba2 espacio-linea-abajo2">
                                    <div class="col-sm-12">
                                        <hr>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-5">
                                        {% if is_granted(expression('has_role("ROLE_ODT_PAGO") or (user.isAdmin())')) %}
                                            <div class="row espacio-linea-abajo2">
                                                <div class="col-sm-12">
                                                    <a class="btn btn-verde loadpage"
                                                       href="{{ path('ordendetrabajo_contratista_pago', { 'id': contratista.id }) }}">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                        Pagos
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="letra-azul">Descripción del trabajo:</div>
                                                <ul>{{ contratista.cotizacionInicial }}</ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="letra-azul">Contratista:</div>
                                                <ul>{{ contratista.proveedor.nombre }}</ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="letra-azul">Razón Social:</div>
                                                <ul>{{ contratista.proveedor.razonsocial }}</ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="letra-azul">Precio contratista:</div>
                                                <ul>
                                                    ${{ (contratista.precio/100)|number_format(2) }} MXN &nbsp;&nbsp;&nbsp;
                                                    ${{ (contratista.precio/ordenDeTrabajo.astilleroCotizacion.dolar)|number_format(2) }}
                                                    USD
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="letra-azul">IVA:</div>
                                                <ul>
                                                    ${{ (contratista.ivatot/100)|number_format(2) }} MXN &nbsp;&nbsp;&nbsp;
                                                    ${{ (contratista.ivatot/ordenDeTrabajo.astilleroCotizacion.dolar)|number_format(2) }}
                                                    USD
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="letra-azul">Total:</div>
                                                <ul>
                                                    ${{ (contratista.total/100)|number_format(2) }} MXN &nbsp;&nbsp;&nbsp;
                                                    ${{ (contratista.total/ordenDeTrabajo.astilleroCotizacion.dolar)|number_format(2) }}
                                                    USD
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Pagos</th>
                                                <th>Fecha</th>
                                                <th>Forma de pago</th>
                                                <th colspan="2">Saldo</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for pago in contratista.contratistapagos %}
                                                <tr>
                                                    <td>
                                                        ${{ (pago.cantidad/100)|number_format(2) }} {{ pago.divisa }}</td>
                                                    <td>
                                                        {% if pago.fecha %}
                                                            {{ pago.fecha|date('d-m-Y') }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ pago.forma }}</td>
                                                    <td>${{ (pago.saldo/100)|number_format(2) }} MXN</td>
                                                    <td>
                                                        ${{ (pago.saldo/ordenDeTrabajo.astilleroCotizacion.dolar)|number_format(2) }}
                                                        USD
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.min.js') }}"></script>
    <script src="{{ asset('bower_components/fullcalendar/dist/locale/es.js') }}"></script>
    <script>

    </script>
{% endblock %}