{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jsgantt.css') }}">
{% endblock %}
{% block contwrapper %}
    {% set ct = ordenDeTrabajo.astilleroCotizacion %}
    {% set oc = ordenDeTrabajo.contratistas %}
    {% set sumapagos = 0 %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="panel-title">{{ title }}</h3>
                            <span>{{ folio }}</span>
                        </div>
                        <div class="col-sm-8 text-right">
                            <a class="btn btn-contorno-azul" target="_blank" href="{{ path('astillero_show',{'id':ordenDeTrabajo.astilleroCotizacion.id}) }}">
                                Ir a la cotización
                            </a>
                            <a class="btn btn-contorno-azul"
                               href="{{ path('ordendetrabajo_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#contratistas" aria-controls="contratistas" role="tab" data-toggle="tab">Contratistas</a>
                        </li>
                        <li role="presentation">
                            <a href="#utilidad" aria-controls="utilidad" role="tab" data-toggle="tab">Utilidades</a>
                        </li>
                        <li role="presentation" class="flujograma ">
                            <a href="#flujograma" aria-controls="flujograma" role="tab" data-toggle="tab">Flujograma</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Nombre:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.nombre }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Teléfono:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.telefono }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Celular:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.celular }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Correo:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.cliente.correo }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Embarcación:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.nombre }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Modelo:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.modelo }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Calado:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.calado }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Manga:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.manga }}</ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="letra-azul">Eslora:</div>
                                            <ul>{{ ordenDeTrabajo.astilleroCotizacion.barco.eslora }}</ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <small class="pull-left">Precios en USD</small>
                                    <small class="pull-right">Tipo de cambio: <span
                                                id="precio-dolar">{{ (ordenDeTrabajo.astilleroCotizacion.dolar/100)| number_format(2) }}</span>
                                        MXN
                                    </small>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Producto / Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody id="servicios-cotizacion">
                                        {% for Aservicio in ordenDeTrabajo.astilleroCotizacion.acservicios %}
                                            {% if Aservicio.estatus %}
                                                <tr>
                                                    <td>{{ Aservicio.cantidad }}</td>
                                                    <td>
                                                        {% if Aservicio.servicio is not null %}
                                                            {{ Aservicio.servicio.nombre }}
                                                        {% elseif Aservicio.producto is not null %}
                                                            {{ Aservicio.producto.nombre }}
                                                        {% elseif Aservicio.otroservicio is not null %}
                                                            {{ Aservicio.otroservicio }}
                                                        {% elseif Aservicio.astilleroserviciobasico is not null %}
                                                            {{ Aservicio.astilleroserviciobasico.nombre }}
                                                        {% endif %}
                                                    </td>
                                                    <td>${{ (Aservicio.precio/100)|number_format(2) }}</td>
                                                    <td>${{ (Aservicio.subtotal/100)|number_format(2) }}</td>
                                                    <td>${{ (Aservicio.iva/100)|number_format(2) }}</td>
                                                    <td>${{ (Aservicio.total/100)|number_format(2) }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <small>Iva: <span
                                                id="porcentaje-iva">{{ ordenDeTrabajo.astilleroCotizacion.iva | number_format(2) }}</span>%
                                    </small>
                                </div>
                            </div>
                            {% if is_granted(expression('has_role("ROLE_ODT_CONTRATISTA_EDIT") or (user.isAdmin())')) %}
                                <div class="row espacio-linea-arriba2">
                                    <div class="col-sm-12">
                                        <a class="btn btn-azul"
                                           href="{{ path('ordendetrabajo_edit',{'id': ordenDeTrabajo.id}) }}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Editar contratistas
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row espacio-linea-arriba2">
                                <div class="col-sm-12">
                                    <a class="btn btn-morado-claro"
                                        href="{{ path('odt-materiales-pdf',{'id': ordenDeTrabajo.id}) }}" target="_blank">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        Lista de Materiales
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="contratistas">
                            <div class="row">
                                <div class="col-sm-12">
                                    <small class="pull-right">Tipo de cambio:
                                        <span>{{ (ordenDeTrabajo.astilleroCotizacion.dolar/100)| number_format(2) }}</span>
                                        MXN
                                    </small>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Descripción del trabajo</th>
                                            <th>Cantidad</th>
                                            <th>Contratista</th>
                                            <th>Razón social</th>
                                            <th>Precio contratista</th>
                                            <th colspan="2">% V&V</th>
                                            <th>Utilidad V&V</th>
                                            <th>Precio V&V</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for contratista in ordenDeTrabajo.contratistas %}
                                            <tr>
                                                <td>{{ contratista.cotizacionInicial }}</td>
                                                <td>{{ contratista.cantidad }}</td>
                                                <td>{{ contratista.proveedor.nombre }}</td>
                                                <td>{{ contratista.proveedor.razonsocial }}</td>
                                                <td>
                                                    ${{ (contratista.precio/100)|number_format(2) }} <small>MXN</small>
                                                </td>
                                                <td>{{ contratista.porcentajevv|number_format(2) }}%</td>
                                                <td>{{ (100+contratista.porcentajevv)/100 }}</td>
                                                <td>
                                                    ${{ (contratista.utilidadvv/100)|number_format(2) }} <small>MXN</small>
                                                </td>
                                                <td>
                                                    ${{ (contratista.preciovv/100)|number_format(2) }} <small>MXN</small>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="4" rowspan="2" class="text-right">Totales:</td>
                                            <td>
                                                ${{ (ordenDeTrabajo.precioTotal/100)|number_format(2) }}
                                                <small>MXN</small>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                ${{ (ordenDeTrabajo.utilidadvvTotal/100)|number_format(2) }}
                                                <small>MXN</small>
                                            </td>
                                            <td>
                                                ${{ (ordenDeTrabajo.preciovvTotal/100)|number_format(2) }}
                                                <small>MXN</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                ${{ ((ordenDeTrabajo.precioTotal/ordenDeTrabajo.astilleroCotizacion.dolar))|number_format(2) }}
                                                <small>USD</small>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                ${{ ((ordenDeTrabajo.utilidadvvTotal/ordenDeTrabajo.astilleroCotizacion.dolar))|number_format(2) }}
                                                <small>USD</small>
                                            </td>
                                            <td>
                                                ${{ ((ordenDeTrabajo.preciovvTotal/ordenDeTrabajo.astilleroCotizacion.dolar))|number_format(2) }}
                                                <small>USD</small>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-azul" target="_blank"
                                       href="{{ path('odt-contratista-pdf',{'id': ordenDeTrabajo.id}) }}">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="utilidad">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Información Cotización Astillero</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small class="pull-right">
                                        Tipo de cambio: {{ (ct.dolar/100)| number_format(2) }} MXN
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Sub Total</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        $ {{ (ct.subtotal/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        $ {{ (ct.subtotal/ct.dolar)|number_format(2) }} <small>USD</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>IVA</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        $ {{ (ct.ivatotal/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        $ {{ (ct.ivatotal/ct.dolar)|number_format(2) }} <small>USD</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Total</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        $ {{ (ct.total/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        $ {{ (ct.total/ct.dolar)|number_format(2) }} <small>USD</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Resumen de anticipos</h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Fecha</th>
                                            <th>Forma de pago</th>
                                            <th>Importe</th>
                                            <th>Notas</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pago in ct.pagos %}
                                            <tr>
                                                <td>Anticipo {{ loop.index }}</td>
                                                <td>{{ pago.fecharealpago|date('d/m/Y') }}</td>
                                                <td>{{ pago.metodopago }}</td>
                                                <td>$ {{ (pago.cantidad/100)|number_format(2) }} <small>MXN</small></td>
                                                <td>
                                                    {% if pago.divisa == 'USD' %}
                                                        Pago realizado en dolares, ${{ (pago.cantidad/pago.dolar)|number_format(2) }} <small>USD</small>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-right">Total anticipos</td>
                                                <td>
                                                    $ {{ (ct.pagado/100)|number_format(2) }}
                                                    <small>MXN</small>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        Saldo pendiente de ${{ ((ct.total - ct.pagado)/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="info-input">
                                        Pagado {{ ((ct.pagado * 100) / ct.total)|number_format(2) }} % hasta el momento
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Costos Contratistas</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Costos</label>
                                    <div class="info-input">
                                        ${{ (ordenDeTrabajo.precioTotal/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                    <label>IVA</label>
                                    <div class="info-input">
                                        ${{ (ordenDeTrabajo.ivaTotal/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                    <label>Total contratistas</label>
                                    <div class="info-input">
                                        ${{ (ordenDeTrabajo.granTotal/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>Pagos a contratistas</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Fecha</th>
                                            <th>Forma de pago</th>
                                            <th>Importe</th>
                                            <th>Notas</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for cont in oc %}
                                            {% for pc in cont.contratistapagos %}
                                                <tr>
                                                    <td>{{ cont.cotizacionInicial }}</td>
                                                    <td>{{ pc.fecha|date('d/m/Y') }}</td>
                                                    <td>{{ pc.formaNombre }}</td>
                                                    {% if pc.divisa == 'USD' %}
                                                        <td>${{ ((pc.cantidad * ct.dolar)/10000)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td>Pago realizado en dolares,
                                                            ${{ (pc.cantidad/100)|number_format(2) }}
                                                            <small>USD</small>
                                                        </td>
                                                        {% set sumapagos = sumapagos + ((pc.cantidad * ct.dolar)/100) %}
                                                    {% else %}
                                                        <td>${{ (pc.cantidad/100)|number_format(2) }}
                                                            <small>MXN</small>
                                                        </td>
                                                        <td></td>
                                                        {% set sumapagos = sumapagos + pc.cantidad %}
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-right">Total pagos</td>
                                                <td>
                                                    $ {{ (sumapagos/100)|number_format(2) }}
                                                    <small>MXN</small>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <hr>
                                </div>
                            </div>
                            {% set diferenciaAnticipo = ct.pagado - sumapagos %}
                            {% if diferenciaAnticipo <= 10000 %}
                                <div class="row fondo-amarillo">
                                    <div class="col-sm-12 letra-negra text-center">
                                        <strong>
                                            El saldo de anticipos está bajo. Solicitar otro anticipo para el
                                            pago de contratistas y/o proveedores.
                                        </strong>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Anticipos menos pagos a contratistas</label>
                                    <div class="info-input">
                                        ${{ ((diferenciaAnticipo)/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 espacio-linea">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Utilida</label>
                                    <div class="info-input">
                                        ${{ ((ct.total - ordenDeTrabajo.granTotal)/100)|number_format(2) }} <small>MXN</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="flujograma">
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <div style="position:relative; " class="gantt" id="GanttChartDIV"></div>
                                </div>
                            </div>
                            <div class="row espacio-linea-arriba2 espacio-linea-abajo2">
                                <div class="col-sm-4">
                                    <label>Fecha incio en cotización</label>
                                    <div class="info-input">{{ ordenDeTrabajo.astilleroCotizacion.fechaLlegada|date('d/m/Y') }}</div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Fecha fin en cotización</label>
                                    <div class="info-input">{{ ordenDeTrabajo.astilleroCotizacion.fechaSalida|date('d/m/Y') }}</div>
                                </div>
                            </div>
                            {% for contratista in ordenDeTrabajo.contratistas if contratista.proveedor.proveedorcontratista %}
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <a data-toggle="collapse"
                                               href="#actividades{{ contratista.id }}"
                                               aria-expanded="false"
                                               class="btn btn-transparente-2">
                                                <h4 class="letra-azul">{{ contratista.cotizacionInicial }}</h4>
                                            </a>
                                        </div>
                                        <div class="col-sm-4">
                                            {% if is_granted(expression('has_role("ROLE_ODT_ACTIVIDAD") or (user.isAdmin())')) %}
                                                <a class="btn btn-azul pull-right loadpage btn-xs"
                                                   href="{{ path('ordendetrabajo_contratista_actividad', { 'id': contratista.id }) }}">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                    Subactividades
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 espacio-linea-abajo2">
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row collapse" id="actividades{{ contratista.id }}">
                                        <div class="col-sm-12">
                                            {% if contratista.contratistaactividades|length > 0 %}
                                                {% for actividad in contratista.contratistaactividades %}
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="thumbnail thumbnail-novo">
                                                                <div class="row">
                                                                    {% if actividad.fotos|length > 0 %}
                                                                    <div class="col-md-6">
                                                                        <div id="carousel{{ actividad.id }}"
                                                                             class="carousel slide galeria-actividades"
                                                                             data-ride="carousel">
                                                                            <ol class="carousel-indicators">
                                                                                {% for foto in actividad.fotos %}
                                                                                    <li data-target="#carousel{{ actividad.id }}"
                                                                                        data-slide-to="{{ (loop.index)-1 }}"
                                                                                        class="{% if loop.first %}active{% endif %}">
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ol>
                                                                            <div class="carousel-inner" role="listbox">
                                                                                {% for foto in actividad.fotos %}
                                                                                    <div class="item {% if loop.first %}active{% endif %}">
                                                                                        <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ '/uploads/actividad_fotos/' ~ foto.basename }}"
                                                                                             class="center-block">
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                            <a class="left carousel-control"
                                                                               href="#carousel{{ actividad.id }}"
                                                                               role="button"
                                                                               data-slide="prev">
                                                                        <span class="glyphicon glyphicon-chevron-left"
                                                                              aria-hidden="true"></span>
                                                                                <span class="sr-only">Previous</span>
                                                                            </a>
                                                                            <a class="right carousel-control"
                                                                               href="#carousel{{ actividad.id }}"
                                                                               role="button"
                                                                               data-slide="next">
                                                                        <span class="glyphicon glyphicon-chevron-right"
                                                                              aria-hidden="true"></span>
                                                                                <span class="sr-only">Next</span>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        {% else %}
                                                                        <div class="col-md-12">
                                                                            {% endif %}
                                                                            <div class="caption">
                                                                                {% if actividad.isPausado %}
                                                                                    <div class="row fondo-amarillo">
                                                                                        <div class="col-sm-12 text-center letra-negra tipo-letra4 linea-pausa">
                                                                                            <strong>Actividad en
                                                                                                pausa</strong>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 text-right espacio-linea-arriba2">
                                                                                        Del {{ actividad.inicio|date('d/m/Y') }}
                                                                                        al {{ actividad.fin|date('d/m/Y') }}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-12">
                                                                                        <span class=" tipo-letra4">{{ actividad.nombre }}</span>
                                                                                        <p>{{ actividad.notas }}</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 text-left">
                                                                                        {{ actividad.porcentaje|number_format(0) }}
                                                                                        % Completado
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-10">
                                                                                        <div class="progress">
                                                                                            <div class="progress-bar progress-bar-info"
                                                                                                 role="progressbar"
                                                                                                 aria-valuenow="{{ actividad.porcentaje|number_format(2) }}"
                                                                                                 aria-valuemin="0"
                                                                                                 aria-valuemax="100"
                                                                                                 style="width: {{ actividad.porcentaje|number_format(2) }}%">
                                                                                <span class="sr-only">
                                                                                    {{ actividad.porcentaje|number_format(2) }}
                                                                                    % Completado
                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-2">
                                                                                        {% if actividad.isPausado %}
                                                                                            <a class="btn btn-warning btn-pausa btn-xs letra-negra"
                                                                                               data-href="{{ path('ordendetrabajo_contratista_reanuda-actividad', { 'id': actividad.id }) }}"
                                                                                               data-toggle="modal" data-target="#quitar-pausa">
                                                                                                <i class="fa fa-play"
                                                                                                   aria-hidden="true"></i>
                                                                                            </a>
                                                                                        {% else %}
                                                                                            {% if 'now'|date('d-m-Y') >= actividad.inicio|date('d-m-Y') and 'now'|date('d-m-Y') <= actividad.fin|date('d-m-Y') %}
                                                                                            {#{% if date() >= date(actividad.inicio) and date() <= date(actividad.fin) %}#}
                                                                                                <a class="btn btn-warning btn-pausa btn-xs letra-negra"
                                                                                                   href="{{ path('ordendetrabajo_contratista_pausa-actividad', { 'id': actividad.id }) }}">
                                                                                                    <i class="fa fa-pause"
                                                                                                       aria-hidden="true"></i>
                                                                                                </a>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 espacio-linea-abajo2">
                                                                                        <hr>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-sm-6">
                                                                                        Ejecutor: {{ contratista.proveedor.nombre }}
                                                                                    </div>
                                                                                    <div class="col-sm-6 text-right">
                                                                                        Responsable: {{ actividad.responsable }}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% if actividad.pausas|length > 0 %}
                                                            <div class="col-md-4">
                                                                <div class="thumbnail thumbnail-novo">
                                                                    <div class="caption">
                                                                        <ul>
                                                                            <h4>Pausa:</h4>
                                                                            {% for pausa in actividad.pausas %}
                                                                                <li>
                                                                                    {% if pausa.inicio %}
                                                                                        Del   {{ pausa.inicio|date('d/m/Y') }}
                                                                                    {% endif %}
                                                                                    {% if pausa.fin %}
                                                                                        al {{ pausa.fin|date('d/m/Y') }}
                                                                                    {% endif %}
                                                                                    , {{ pausa.nota }}
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                      Sin actividades
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="modal fade" id="quitar-pausa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content fondo-morado">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">¿Reanudar actividad?</h4>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-warning pull-left letra-negra accion-pausar">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Reanudar
                    </a>
                    <button type="button" class="btn btn-naranja pull-right" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jsgantt.js') }}"></script>
    <script type="text/javascript">
        var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');
        g.addLang('espanol', {
            'january': 'Enero',
            'february': 'Febrero',
            'march': 'Marzo',
            'april': 'Abril',
            'maylong': 'Mayo',
            'june': 'Junio',
            'july': 'Julio',
            'august': 'Agosto',
            'september': 'Septiembre',
            'october': 'Octubre',
            'november': 'Noviembre',
            'december': 'Deciembre',
            'jan': 'Ene',
            'feb': 'Feb',
            'mar': 'Mar',
            'apr': 'Abr',
            'may': 'May',
            'jun': 'Jun',
            'jul': 'Jul',
            'aug': 'Ago',
            'sep': 'Sep',
            'oct': 'Oct',
            'nov': 'Nov',
            'dec': 'Dic',
            'sunday': 'Domingo',
            'monday': 'Lunes',
            'tuesday': 'Martes',
            'wednesday': 'Miércoles',
            'thursday': 'Jueves',
            'friday': 'Viernes',
            'saturday': 'Sábado',
            'sun': 'Dom',
            'mon': 'Lun',
            'tue': 'Mar',
            'wed': 'Mie',
            'thu': 'Jue',
            'fri': 'Vie',
            'sat': 'Sab',
            'resource': 'Responsable',
            'duration': 'Duración',
            'comp': '% Comp.',
            'completion': 'Terminación',
            'startdate': 'Inicia',
            'enddate': 'Termina',
            'moreinfo': 'Más información',
            'notes': 'Notas',
            'format': 'Formato',
            'hour': 'Hora',
            'day': 'Día',
            'week': 'Semana',
            'month': 'Mes',
            'quarter': 'Trimestre',
            'hours': 'Horas',
            'days': 'Días',
            'weeks': 'Semanas',
            'months': 'Meses',
            'quarters': 'Trimestres',
            'hr': 'Hr',
            'dy': 'D',
            'wk': 'S',
            'mth': 'M',
            'qtr': 'Tri',
            'hrs': 'Hrs',
            'dys': 'Dias',
            'wks': 'Sems',
            'mths': 'Ms',
            'qtrs': 'Tris'
        });
        if (g.getDivId() != null) {
            g.setCaptionType('Complete');  // Set to Show Caption (None,Caption,Resource,Duration,Complete)
            g.setQuarterColWidth(36);
            g.setRowHeight(30);
            g.setDayColWidth(45);
            g.setWeekColWidth(60);
            g.setMonthColWidth(60);
            g.setDateTaskDisplayFormat('day dd month yyyy'); // Shown in tool tip box
            g.setDayMajorDateDisplayFormat('mon yyyy - Week ww'); // Set format to display dates in the "Major" header of the "Day" view
            g.setWeekMinorDateDisplayFormat('dd mon'); // Set format to display dates in the "Minor" header of the "Week" view
            g.setShowTaskInfoLink(0); //Show link in tool tip (0/1)
            g.setShowEndWeekDate(0); // Show/Hide the date for the last day of the week in header for daily view (1/0)
            g.setUseSingleCell(10000); // Set the threshold at which we will only use one cell per table row (0 disables).  Helps with rendering performance for large charts.
            g.setFormatArr('Day'); // Even with setUseSingleCell using Hour format on such a large chart can cause issues in some browsers
            g.setLang('espanol');
            g.setShowRes(0);
            g.setShowDur(1);
            g.setShowStartDate(0);
            g.setShowEndDate(0);
            g.setShowTaskInfoNotes(0);
            // Parameters (pID, pName,pStart,pEnd,pStyle,pLink (unused)  pMile, pRes,pComp, pGroup, pParent, pOpen, pDepend, pCaption, pNotes, pGantt)
            {% set x = 1 %}
            {% set y = 1 %}
            {% set z = 1 %}
            {% for contratista in ordenDeTrabajo.contratistas if contratista.proveedor.proveedorcontratista %}
                    var pID_1 = '{{ x }}';
                    var pName_1 =  '{{ contratista.cotizacionInicial }}';
                    var pStart_1 = '';
                    var pEnd_1 = '';
                    var pStyle_1 = 'ggroupblack';
                    var pLink_1 = '';
                    var pMile_1 = 0;
                    var pRes_1 = 'Responsable';
                    var pComp_1 = 0;
                    var pGroup_1 = 1;
                    var pParent_1 = 0;
                    var pOpen_1 = 1;
                    var pDepend_1 = '';
                    var pCaption_1 = '';
                    var pNotes_1 = '';
                    g.AddTaskItem(new JSGantt.TaskItem(pID_1,pName_1,pStart_1,pEnd_1,pStyle_1,pLink_1,pMile_1,pRes_1,pComp_1,pGroup_1,pParent_1,pOpen_1,pDepend_1,pCaption_1,pNotes_1, g));
                    {% for actividad in contratista.contratistaactividades %}
                        var pID_2 = '{{ x~y }}';
                        var pName_2 =  '{{ actividad.nombre }}';
                        var pStart_2 = '{{ actividad.inicio|date('Y-m-d') }}';
                        var pEnd_2 = '{{ actividad.fin|date('Y-m-d') }}';
                        var pStyle_2 = 'gtaskgreen';
                        var pLink_2 = '';
                        var pMile_2 = 0;
                        var pRes_2 = '{{ actividad.responsable }}';
                        var pComp_2 = '{{ actividad.porcentaje }}';
                        var pGroup_2 = 0;
                        var pParent_2 = '{{ x }}';
                        var pOpen_2 = 1;
                        var pDepend_2 = '';
                        var pCaption_2 = '';
                        var pNotes_2 = '{{ actividad.notas }}';
                        {% if actividad.isPausado %}
                            pStyle_2 = 'gtaskyellow';
                        {% endif %}
                        g.AddTaskItem(new JSGantt.TaskItem(pID_2, pName_2, pStart_2, pEnd_2,pStyle_2, pLink_2, pMile_2, pRes_2, pComp_2, pGroup_2, pParent_2, pOpen_2, pDepend_2, pCaption_2, pNotes_2, g));
                        {% set y = y+1 %}
                        {% for pausa in actividad.pausas %}
                            var pID_3 = '{{ x~y~z }}';
                            var pName_3 =  'Pausa de {{ actividad.nombre }}';
                            var pStart_3 = '{{ pausa.inicio|date('Y-m-d') }}';
                            var pEnd_3 = '{{ pausa.fin|date('Y-m-d') }}';
                            var pStyle_3 = 'gtaskyellow';
                            var pLink_3 = '';
                            var pMile_3 = 0;
                            var pRes_3 = '';
                            var pComp_3 = 0;
                            var pGroup_3 = 0;
                            var pParent_3 = pID_2;
                            var pOpen_3 = 1;
                            var pDepend_3 = pID_2 + 'SS';
                            var pCaption_3 = '';
                            var pNotes_3 = '{{ pausa.nota }}';
                            g.AddTaskItem(new JSGantt.TaskItem(pID_3, pName_3, pStart_3, pEnd_3, pStyle_3, pLink_3, pMile_3, pRes_3,pComp_3, pGroup_3,pParent_3, pOpen_3, pDepend_3, pCaption_3, pNotes_3, g));
                            {% set z = z+1 %}
                        {% endfor %}
                    {% endfor %}
                    {% set x = x+1 %}
                    {% set y = 1 %}
            {% endfor %}
            g.Draw();
        } else {
            alert("Error, unable to create Gantt Chart");
        }
        $('#quitar-pausa').on('show.bs.modal', function (event) {
            let boton = $(event.relatedTarget);
            let url = boton.data('href');
            $(this).find('.modal-footer a').attr('href',url);

        });
    </script>
{% endblock %}