{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        :root .btn {
            min-width: initial;
            text-align: center;
        }

        :root .panel-body form.form-inline input {
            width: 250px;
        }

        .daterangepicker {
            color: initial;
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            background-color: #292f41;
            border-color: #2a3041;
        }

        .ranges li {
            background-color: hsl(225, 23%, 21%);
            border: 1px solid #292f41;
        }

        .form-inline {
            margin-bottom: 2rem;
        }

        .autocomplete-suggestions {
            background: #3e4766;
            overflow: auto;
            width: auto !important;
            min-width: 100px;
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;

        }

        .autocomplete-selected {
            background: #0097f6;
        }

        .autocomplete-suggestions strong {
            font-weight: normal;
            color: #3399FF;
        }

        .autocomplete-suggestion:hover strong {
            color: #363c52;
        }

        .autocomplete-group {
            padding: 2px 5px;
        }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }

        .form-inline .form-group {
            margin-right: 1rem;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Reportes de contratistas</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="reporte-data" class="form-inline" method="post">
                                <div class="form-group">
                                    <label for="date-range">Rango</label>
                                    <input type="text" class="form-control" id="date-range"
                                           name="dates"
                                           value="{{ values.dates.inicio|date('d/m/Y') ~ ' - ' ~ values.dates.fin|date('d/m/Y') }}"
                                           readonly>
                                </div>
                                <div class="form-group">
                                    <label for="contratista">Contratista</label>
                                    <input type="text" class="form-control" id="contratista" name="contratista">
                                </div>
                                <input type="submit" value="Consultar" id="consultar" class="btn btn-azul">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-novo">
                                <thead>
                                <tr>
                                    <th>Fecha ODT</th>
                                    <th>Proveedor</th>
                                    <th>Descripcion</th>
                                    <th width="15%">Embarcación</th>
                                    <th width="15%">Adeudo</th>
                                    <th width="15%">Pagado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set totalAdeudo = 0  %}
                                {% set totalPagado = 0  %}

                                {% for trabajo in trabajos %}
                                    {% set totalAdeudo = totalAdeudo + trabajo.adeudo  %}
                                    {% set totalPagado = totalPagado + trabajo.pagado  %}

                                    <tr>
                                        <td>{{ trabajo.fecha|date('d/m/Y') }}</td>
                                        <td>{{ trabajo.proveedor }}</td>
                                        <td>{{ trabajo.descripcion }}</td>
                                        <td>{{ trabajo.embarcacion }}</td>
                                        <td>$ {{ (trabajo.adeudo / 100)|number_format(2) }}</td>
                                        <td>$ {{ (trabajo.pagado / 100)|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4" class="text-center">Totales: </td>
                                    <td>$ {{ (totalAdeudo / 100)|number_format(2) }}</td>
                                    <td>$ {{ (totalPagado / 100)|number_format(2) }}</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower_components/moment/locale/es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        moment.locale('es');

        const $contratista = $('#contratista');
        const $dateRange = $('#date-range');

        const inicio = moment().startOf('month');
        const final = moment().endOf('month');

        let searchData = {
          start: inicio.format('YYYY-MM-DD'),
          end: final.format('YYYY-MM-DD')
        };

        $contratista.autocomplete({
          dataType: 'json',
          deferRequestBy: 300,
          showNoSuggestionNotice: true,
          noSuggestionNotice: 'No se encontraron resultados',
          triggerSelectOnValidInput: false,
          minChars: 2,
          serviceUrl: 'proveedores.json',
          transformResult: function (proveedores) {
            return {
              suggestions: proveedores.map(proveedor => {
                return {
                  value: proveedor.nombre,
                  data: proveedor.id
                }
              })
            }
          },
          onSelect: function ({data}) {
            searchData.proveedor = data;
          }
        });

        $dateRange.daterangepicker({
          autoApply: true,
          ranges: {
            'Este mes': [moment().startOf('month'), moment().endOf('month')],
            'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          locale: {
            applyLabel: 'Aplicar',
            cancelLabel: 'Cancelar',
            fromLabel: 'Desde',
            toLabel: 'Hasta',
            customRangeLabel: 'Definido por usuario',
          }
        });

        $dateRange.on('apply.daterangepicker', function (e, picker) {
          searchData.start = picker.startDate.format('YYYY-MM-DD');
          searchData.end = picker.endDate.format('YYYY-MM-DD');
        });

        const $table = $('.table-novo').DataTable({
          ...datatableSettings,
          serverSide: false,
          dom:
              "<'row'<'col-sm-4'l><'col-sm-4'B><'col-sm-4'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          lengthMenu: [
            [10, 25, 50, -1],
            ['10', '25', '50', 'Todos']
          ],
          buttons: {
            buttons: [
              {
                extend: 'excel',
                text: 'XLS',
                footer: true,
                className: 'btn btn-verde btn-sm',
              }
            ]
          }
        });

      })(jQuery, datatablesSettings);
    </script>
{% endblock %}
