{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Detalle Evento
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalle del evento</h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ evento.id }}</td>
                        </tr>
                        <tr>
                            <th>Titulo</th>
                            <td>{{ evento.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Fechainicio</th>
                            <td>{% if evento.fechainicio %}{{ evento.fechainicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Fechafin</th>
                            <td>{% if evento.fechafin %}{{ evento.fechafin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Horainicio</th>
                            <td>{% if evento.horainicio %}{{ evento.horainicio|date('H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Horafin</th>
                            <td>{% if evento.horafin %}{{ evento.horafin|date('H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Descripcion</th>
                            <td>{{ evento.descripcion }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <ul>
                        <li>
                            <a href="{{ path('evento_index') }}">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('evento_edit', { 'id': evento.id }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
