{% block form_widget %}
    {% spaceless %}
        <div class="row espacio-linea-abajo2">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.proveedor) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                {{ form_row(form.cotizacionInicial) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.precio) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.utilidadvv) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.preciovv) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.materiales) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.pagos) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.fecha) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.formaPago) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.saldo) }}
            </div>
        </div>
        <div class="col-sm-2">
            <a href="#" class="remove-proveedor btn btn-xs btn-naranja">
                <i class="fa fa-times" aria-hidden="true"></i>
                Remover Contratista
            </a>
        </div>
    {% endspaceless %}
{% endblock form_widget %}