{% block appbundle_astillerocontratista_widget %}
        <div class="col-sm-12 espacio-linea-abajo2">
            <hr>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                {{ form_row(form.cotizacionInicial) }}
                {{ form_row(form.producto) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.cantidad) }}
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                {{ form_row(form.proveedor) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.preciovv) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.porcentajevv) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.utilidadvv) }}
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {{ form_row(form.precio) }}
            </div>
        </div>
{% endblock %}
