{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
    <style>
        .list-unstyled li {
            margin-bottom: .5rem;
        }

        :root hr {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            border-top: 1px solid #eee !important;
        }

        dl {
            margin-bottom: 0;
        }

        dl.dl-horizontal dt {
            text-align: left;
            width: 110px;
        }

        dl.dl-horizontal dd {
            text-align: right;
            margin-left: 110px;
        }

        table.dataTable thead .sorting:nth-child(6):after,
        table.dataTable thead .sorting_desc:nth-child(6):after,
        table.dataTable thead .sorting_asc:nth-child(6):after,
        table.dataTable thead .sorting:nth-child(7):after,
        table.dataTable thead .sorting_desc:nth-child(7):after,
        table.dataTable thead .sorting_asc:nth-child(7):after,
        table.dataTable thead .sorting:nth-child(8):after,
        table.dataTable thead .sorting_desc:nth-child(8):after,
        table.dataTable thead .sorting_asc:nth-child(8):after {
            content: '';
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <h3 class="panel-title">Cotizaciones Estadias</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-novo" width="100%" style="width: 100%">
                        <thead>
                        <tr>
                            <th>Folio</th>
                            <th width="15%">Cliente <br> Embarcación</th>
                            <th width="10%">Llegada <br> Salida <br> Días de estadía</th>
                            <th>Slip <br> Feets</th>
                            <th>Totales</th>
                            <th class="with-options" width="10%" style="padding-right: 0">Validación</th>
                            <th class="with-options" width="10%" style="padding-right: 0">Aceptación</th>
                            <th class="with-options" width="10%" style="padding-right: 0">Pago</th>
                            <th class="no-sort"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript">
      (function ($, datatableSettings) {
        const aceptado = `<img src="{{ asset('img/status-aprobado-icon.svg') }}" class="center-block">`;
        const rechazado = `<img src="{{ asset('img/status-desaprovado-icon.svg') }}" class="center-block">`;
        const pendiente = `<img src="{{ asset('img/status-pendiente-icon.svg') }}" class="center-block">`;

        const $tabla = $('.table-novo').DataTable({
          ...datatableSettings,
          ajax: 'datatables-marina',
          autoWidth: false,
          order: [[0, 'desc']],
          columns: [
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 2},
            {responsivePriority: 2},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 1},
            {responsivePriority: 0},
          ],
          createdRow: function (row, cotizacion) {
            for (let i of [5, 6, 7]) {
              if (!cotizacion[i]) row.cells[i].innerHTML = pendiente;
              if (cotizacion[i] === 1) row.cells[i].innerHTML = rechazado;
              if (cotizacion[i] === 2) row.cells[i].innerHTML = aceptado;
            }

            row.cells[1].innerHTML = `
                <dl class="dl-horizontal">
                    <dt>Cliente: </dt> <dd>${cotizacion[1].cliente}</dd>
                    <dt>Embarcación: </dt> <dd>${cotizacion[1].embarcacion}</dd>
                </dl>`;

            row.cells[2].innerHTML = `
                <dl class="dl-horizontal">
                    <dt>Llegada: </dt> <dd>${cotizacion[2].llegada}</dd>
                    <dt>Salida: </dt> <dd>${cotizacion[2].salida}</dd>
                    <dt>Días: </dt> <dd>${cotizacion[2].dias}</dd>
                </dl>`;
            row.cells[4].innerHTML = `
                <dl class="dl-horizontal">
                <dt>Descuento:</dt> <dd>${cotizacion[4].descuento}</dd>
                <dt>Interés moratorio:</dt> <dd>${cotizacion[4].interesMoratorio}</dd>
                <dt>IVA:</dt> <dd>${cotizacion[4].iva}</dd>
                <dt>Subtotal:</dt> <dd>${cotizacion[4].subtotal}</dd>
                <dt>Total:</dt> <dd>${cotizacion[4].total}</dd>
                </dl>
            `;

            row.lastElementChild.innerHTML = writeLastChild(cotizacion[5], cotizacion[6], cotizacion[7], cotizacion[8]);
          }
        });

        $tabla.columns('.with-options').every(function (i) {
          const column = this;
          const columnHeader = column.header();
          const select = document.createElement('select');

          select.add(new Option(columnHeader.innerHTML, ''));
          columnHeader.innerHTML = '';
          columnHeader.appendChild(select);

          select.addEventListener('click', e => e.stopPropagation());
          select.addEventListener('change', function () {
            let val = $.fn.dataTable.util.escapeRegex(this.value);
            column.search(val, true, true).draw();
          });

          console.log([columnHeader]);

          if (i === 7) {
            select.add(new Option('Pagada', '2'));
            select.add(new Option('Pagando', '1'));
            select.add(new Option('Sin pagos', null));
          } else {
            select.add(new Option('Aceptada', '2'));
            select.add(new Option('Rechazada', '1'));
            select.add(new Option('Pendiente', null));
          }

        });

        function writeLastChild(validacion, aceptacion, pago, item) {
          return `
          <td>
            <ul class="list-unstyled">
              <li><a class="btn btn-xs btn-block btn-morado-claro" href="{{ app.request.requestUri ~ '../${item.id}' }}">Detalle</a></li>
              {% if is_granted(expression('has_role("MARINA_COTIZACION_VALIDATE") or (user.isAdmin())')) %}
              ${validacion === 0 ? `<li><a class="btn btn-xs btn-block btn-azul" href="{{ app.request.requestUri ~ '../${item.id}/validar' }}">Validar</a></li>` : ''}
              ${(validacion === 2 && aceptacion === 0) ? `<li><a class="btn btn-xs btn-block btn-azul" href="{{ app.request.requestUri ~ '../${item.id}/validar' }}">Aceptar</a></li>` : ''}
              {% endif %}
              {% if is_granted(expression('has_role("MARINA_COTIZACION_REQUOTE") or (user.isAdmin())')) %}
              ${(validacion === 1 || aceptacion === 1) && item.estatus ? `<li><a class="btn btn-xs btn-block btn-naranja" href="{{ app.request.requestUri ~ '${item.id}/recotizar' }}">Recotizar</a></li>` : ''}
              {% endif %}
              {% if is_granted(expression('has_role("MARINA_COTIZACION_RENEW") or (user.isAdmin())')) %}
              ${(aceptacion === 2) ? `<li><a class="btn btn-xs btn-block btn-azul" href="{{ app.request.requestUri ~ '../estadia/${item.id}/renovar' }}">Renovar</a></li>` : ''}
              {% endif %}
              {% if is_granted('ROLE_MARINA_PAGO') %}
              ${(aceptacion === 2) ? `<li><a class="btn btn-xs btn-block btn-verde" href="{{ app.request.requestUri ~ '../${item.id}/pago' }}">Pagos</a></li>` : ''}
              {% endif %}
              {% if is_granted(expression('has_role("MARINA_COTIZACION_MORATORIA") or (user.isAdmin())')) %}
              ${(aceptacion === 2) ? `<li><a class="btn btn-xs btn-block btn-morado-claro" href="{{ app.request.requestUri ~ '../${item.id}/moratoria' }}">Moratoria</a></li>` : ''}
              {% endif %}
            </ul>
          </td>
        `;
        }
      })(jQuery, datatablesSettings)

    </script>
{% endblock %}
