{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .novo-checkbox-container .checkbox {
            position: relative;
            padding: 20px 0 20px 20px;
            text-align: left;
        }

        .novo-checkbox-container .checkbox label {
            cursor: pointer;
            padding-left: 10px;
        }

        .novo-checkbox-container .checkbox label:before,
        .novo-checkbox-container .checkbox label:after {
            content: '';
            position: absolute;
            top: 50%;
        }

        .novo-checkbox-container .checkbox label:before {
            left: 0;
            width: 20px;
            height: 20px;
            margin: -10px 0 0;
            border-radius: 4px;
            background: #3e4766;
            -webkit-box-shadow: 0 0 1px grey;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
        }

        .novo-checkbox-container .checkbox label:after {
            width: 14px;
            height: 8px;
            top: 24px;
            left: 3px;
            border: 3px solid #0097f6;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .novo-checkbox-container .checkbox label:hover:after {
            opacity: .5;
        }

        .novo-checkbox-container .checkbox input[type="radio"],
        .novo-checkbox-container .checkbox input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

        .novo-checkbox-container .checkbox input[type="radio"]:checked + label:after,
        .novo-checkbox-container .checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon fa fa-warning"></i> {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Nueva Cotización</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('marina-humeda_estadia_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {% form_theme form 'estructura/temaerror.html.twig' %}
                    {{ form_start(form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalusd" aria-controls="total" role="tab" data-toggle="tab">Total (USD)</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalmxn" aria-controls="total" role="tab" data-toggle="tab">Total (MXN)</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form_errors(form.fechaLlegada) }}
                                {{ form_errors(form.fechaSalida) }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    {{ form_row(form.cliente) }}
                                    <div id="info-cliente">

                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ form_errors(form.barco) }}
                                            <div class="radio buscabarcomh">
                                                {{ form_label(form.barco) }}
                                                {{ form_widget(form.barco) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div id="info-barco">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-daterange" id="rangoFehas">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaLlegada) }}
                                                {{ form_widget(form.fechaLlegada) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaSalida) }}
                                                {{ form_widget(form.fechaSalida) }}
                                            </div>
                                        </div>
                                    </div>
                                    <label>Días Estadía:</label>
                                    {{ form_widget(form.diasEstadia) }}
                                    {{ form_errors(form.diasEstadia) }}
                                    <label>Días Electricidad:</label>
                                    {{ form_widget(form.diasElectricidad) }}
                                    {{ form_errors(form.diasElectricidad) }}
                                    {#<div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                    </div>#}
                                    <div class="pt-1-5"></div>
                                    <label>Dolar</label>
                                    {{ form_widget(form.dolar,{'value':(valdolar/100)}) }}
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6 pt-1-5">
                                            <label>Precio por día:</label>
                                            {{ form_widget(form.mhcservicios.children.0.precio) }}
                                        </div>
                                        <div id="estadia-otro-precio" class="col-sm-3">
                                            {#<div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                             </div>#}
                                            {{ form_row(form.mhcservicios.children.0.precioOtro) }}
                                        </div>
                                        <div id="estadia-descuento" class="col-sm-3">
                                            {#<div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>#}
                                            {{ form_row(form.descuentoEstadia) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 pt-1-5">
                                            <label>Precio electricidad:</label>
                                            {{ form_widget(form.mhcservicios.children.1.precioAux) }}
                                        </div>
                                        <div id="electricidad-otro-precio" class="pt-1-5 col-sm-3">
                                            {#<div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>#}
                                            {{ form_row(form.mhcservicios.children.1.precioOtro) }}
                                        </div>
                                        <div id="electricidad-descuento" class="pt-1-5 col-sm-3">
                                            {#<div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>#}
                                            {{ form_row(form.descuentoElectricidad) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalusd">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="" class="valdolar">{{ (valdolar/100)|number_format(2) }} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>Precios en USD</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora (pies)</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>Descuento</th>
                                            <th>IVA {{ valiva }} %</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="de_cantidad">0</td>
                                            <td id="de_eslora">0</td>
                                            <td>Días estancia</td>
                                            <td id="de_precio">$ 0.00</td>
                                            <td id="de_subtotal" data-valor="0">$ 0.00</td>
                                            <td id="de_descuento" data-valor="0">$ 0.00</td>
                                            <td id="de_iva" data-valor="0">$ 0.00</td>
                                            <td id="de_total" data-valor="0">$ 0.00</td>
                                        </tr>
                                        <tr>
                                            <td id="e_cantidad">0</td>
                                            <td id="e_eslora">0</td>
                                            <td>Conexión a electricidad</td>
                                            <td id="e_precio">$ 0.00</td>
                                            <td id="e_subtotal" data-valor="0">$ 0.00</td>
                                            <td id="e_descuento" data-valor="0">$ 0.00</td>
                                            <td id="e_iva" data-valor="0">$ 0.00</td>
                                            <td id="e_total" data-valor="0">$ 0.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="valiva" class="" data-valor="{{ valiva }}">
                                        <small>IVA: {{ valiva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot">00.00</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandecuento">00.00</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A {{ valiva }} %:</p>
                                    <p>
                                        $ <span id="graniva">00.00</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot">00.00</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalmxn">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="" class="valdolar">{{ (valdolar/100)|number_format(2) }} MXN</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora (pies)</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>Descuento</th>
                                            <th>IVA {{ valiva }} %</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="de_cantidad_mxn">0</td>
                                            <td id="de_eslora_mxn">0</td>
                                            <td>Días estancia</td>
                                            <td id="de_precio_mxn">$ 0.00</td>
                                            <td id="de_subtotal_mxn" data-valor="0">$ 0.00</td>
                                            <td id="de_descuento_mxn" data-valor="0">$ 0.00</td>
                                            <td id="de_iva_mxn" data-valor="0">$ 0.00</td>
                                            <td id="de_total_mxn" data-valor="0">$ 0.00</td>
                                        </tr>
                                        <tr>
                                            <td id="e_cantidad_mxn">0</td>
                                            <td id="e_eslora_mxn">0</td>
                                            <td>Conexión a electricidad</td>
                                            <td id="e_precio_mxn">$ 0.00</td>
                                            <td id="e_subtotal_mxn" data-valor="0">$ 0.00</td>
                                            <td id="e_descuento_mxn" data-valor="0">$ 0.00</td>
                                            <td id="e_iva_mxn" data-valor="0">$ 0.00</td>
                                            <td id="e_total_mxn" data-valor="0">$ 0.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="" class="">
                                        <small>IVA: {{ valiva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandecuento_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A {{ valiva }} %:</p>
                                    <p>
                                        $ <span id="graniva_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot_mxn">00.00</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-10">
                                    {{ form_row(form.mensaje) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="novo-checkbox-container">
                                        {{ form_row(form.notificarCliente) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.mhcservicios.children.0.precioAux,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.mhcservicios.children.1.precio,{'attr':{'class':'hidden'}}) }}
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            {#<button class="btn btn-azul" type="button"
                                    data-toggle="modal"
                                    data-target="#modalIngresaPincode">
                                Usar PINCODE
                            </button>#}
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            {#<div class="modal ventanaborrar fade" id="modalIngresaPincode" tabindex="-1" role="dialog" aria-labelledby="pincodeLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="pincodeLabel">Ingresa un Pincode</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <label class="control-label" for="pincode-input">PINCODE</label>
                                        <input type="text"
                                               id="pincode-input"
                                               name="pincode-input"
                                               class="info-input"
                                               minlength="8"
                                               maxlength="8">
                                        <span class="help-block text-center"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-verifica-pincode" class="btn btn-azul" type="button">OK</button>
                        </div>
                    </div>
                </div>
            </div>#}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/listenerElectricityPriceMarina.js') }}"></script>
    <script type="text/javascript">
      (function ($) {

        const dolarInput = document.getElementById('appbundle_marinahumedacotizacion_dolar');
        const preciosEstadia = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_precio');
        const preciosElectricidad = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_1_precioAux');
        const pincodeInput = document.getElementById('pincode-input');
        const estadiaOtroPrecioInput = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_precioOtro');
        const electricidadOtroPrecioInput = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_1_precioOtro');
        const descuentoEstadiaInput = document.getElementById('appbundle_marinahumedacotizacion_descuentoEstadia');
        const descuentoElectricidadInput = document.getElementById('appbundle_marinahumedacotizacion_descuentoElectricidad');
        const btnVerificaPincode = document.getElementById('btn-verifica-pincode');
        const securityIcons = document.querySelectorAll('.security-icon');
        const estatusPincodeHide = document.getElementById('appbundle_marinahumedacotizacion_estatusPincode');

        if($("input[type=radio]:checked").val()){
          buscaDatosCliente($('#appbundle_marinahumedacotizacion_cliente').val());
          buscaDatosBarco($("input[type=radio]:checked").val());

          desbloqueaInputsPreciosDescuentos();
          desbloqueaSelectPrecios();
        }



        $('.selectclientebuscar').change(function () {
          $('#loading').show();
          $("#info-barco").empty();
          $("#info-cliente").empty();
          preciosEstadia.value  = '';
          preciosElectricidad.value = '';
          buscaDatosCliente($(this).val());
        });

        var x = 1;
        $('.buscabarcomh').click(function () {
          if (x === 2) {
            const barcoSeleccionado = $("input[type=radio]:checked");
            if (barcoSeleccionado.val() != null) {
              $('#loading').show();
              $("#info-barco").empty();
              var idbarco = barcoSeleccionado.val();
              preciosEstadia.value = '';
              preciosElectricidad.value = '';
              buscaDatosBarco(idbarco);
              x = 1;
            }
          } else {
            x++;
          }
        });

        $('#modalIngresaPincode').on('show.bs.modal', function (e) {
          pincodeInput.parentNode.classList.remove('has-error');
          pincodeInput.parentNode.classList.remove('has-success');
          btnVerificaPincode.classList.remove('disabled');
          pincodeInput.parentNode.childNodes[5].innerText = '';
          pincodeInput.value = '';
        });

        btnVerificaPincode.addEventListener('click', () => {
          btnVerificaPincode.classList.add('disabled');
          $.ajax({
            method: 'POST',
            url: "{{ path('marina-humeda_ajax-pincode') }}",
            data:{ pincode: pincodeInput.value, iduser: {{ iduser}} },
            dataType: 'json',
            success: function (data) {
              if(data === 'notfound'){
                pincodeInput.parentNode.classList.add('has-error');
                pincodeInput.parentNode.childNodes[5].innerText = 'Error: No existe.';
                btnVerificaPincode.classList.remove('disabled');
                return
              }
              if(data){
                pincodeInput.parentNode.classList.remove('has-error');
                pincodeInput.parentNode.classList.add('has-success');
                pincodeInput.parentNode.childNodes[5].innerText = 'Aprobado';
                estatusPincodeHide.value = 1;

                desbloqueaInputsPreciosDescuentos();
                desbloqueaSelectPrecios(preciosEstadia, Number($('#de_eslora').data('valor')));
                desbloqueaSelectPrecios(preciosElectricidad, Number($('#de_eslora').data('valor')));

                setTimeout(function(){
                  $('#modalIngresaPincode').modal('hide');
                  pincodeInput.value = '';
                  }, 1000);
              }else{
                pincodeInput.parentNode.classList.add('has-error');
                pincodeInput.parentNode.childNodes[5].innerText = 'Error: No vigente.';
                btnVerificaPincode.classList.remove('disabled');
              }
            }
        });
        });


        function buscaDatosCliente(idcliente){
          var url = "{{ path('ajax_busca_cliente_todo',{'id':'iddelcliente','_format':'json'}) }}";
          url = url.replace("iddelcliente", idcliente);

          $.ajax({
            method: "GET",
            url: url,
            dataType: 'json',
            success: function (cliente) {
              const correo = cliente.correo?cliente.correo:'';
              const telefono = cliente.telefono?cliente.telefono:'';
              const direccion = cliente.direccion?cliente.direccion:'';

              var html = "<label>Correo electrónico</label>" + "<div class='info-input'>" + correo + "</div>" +
                "<label>Número de teléfono</label>" + "<div class='info-input'>" + telefono + "</div>" +
                "<label>Dirección</label>" + "<div class='info-input'>" + direccion + "</div>";
              $("#info-cliente").append(html);
              $('#loading').hide();
            },
            error: function (jqXHR, exception) {
              if (jqXHR.status === 405) { console.error("METHOD NOT ALLOWED!"); }
              $('#loading').hide();
            }
          }).fail(function () {
            $('#loading').hide();
          });
        }

        function buscaDatosBarco(idbarco) {
          $.ajax({
            method: "GET",
            url: `{{ app.request.baseUrl }}/ajax/buscabarcotodo/${idbarco}.json`,
            dataType: 'json',
            success: function (barco) {
              const modelo = barco.modelo?barco.modelo:'';
              const eslora = barco.eslora?barco.eslora:'';
              const manga = barco.manga?barco.manga:'';
              const nombreCapitan = barco.nombreCapitan?barco.nombreCapitan:'';
              const telefonoCapitan = barco.telefonoCapitan?barco.telefonoCapitan:'';
              const correoCapitan = barco.correoCapitan?barco.correoCapitan:'';
              var html = "<label>Modelo</label>" + "<div class='info-input'>" + modelo + "</div>" +
                  "<label>Eslora</label>" + "<div class='info-input'>" + eslora + "</div>" +
                  "<label>Manga</label>" + "<div class='info-input'>" + manga + "</div>" +
                  "<label>Nombre del capitán</label>" + "<div class='info-input'>" + nombreCapitan + "</div>" +
                  "<label>Teléfono del capitán</label>" + "<div class='info-input'>" + telefonoCapitan + "</div>" +
                  "<label>Correo del capitán</label>" + "<div class='info-input'>" + correoCapitan + "</div>";
              const diasEstadiaEslora = $("#de_eslora");
              const electricidadEslora = $("#e_eslora");
              $("#info-barco").append(html);
              diasEstadiaEslora.data('valor', barco.eslora);
              electricidadEslora.data('valor', barco.eslora);
              diasEstadiaEslora.html(barco.eslora);
              electricidadEslora.html(barco.eslora);
              $("#de_eslora_mxn").html(barco.eslora);
              $("#e_eslora_mxn").html(barco.eslora);

              recalculaCantidadYprecio();
              filtraSelectPrecios(preciosEstadia,Number(barco.eslora));
              filtraSelectPrecios(preciosElectricidad,Number(barco.eslora));
            },
            complete: () => {
              $("#loading").hide();
            }
          })
        }

        function filtraSelectPrecios(listado, eslora) {
          let countOptions = 0;
          let itemSeleccionable = null;

          listado.childNodes.forEach((item) => {
            let piesA = Number(item.dataset.pies_a);
            let piesB = Number(item.dataset.pies_b);
            let clasificacion = Number(item.dataset.clasificacion);

            if(estatusPincodeHide.value === '1'){

              (eslora >= piesA && eslora <= piesB) ?
                (item.classList.remove('hide'),
                  countOptions++) :
                item.classList.add('hide');

            }else{

              if(!(eslora >= piesA && eslora <= piesB && clasificacion === 0)) {
                item.classList.add('hide');
              } else {
                item.classList.remove('hide');
                itemSeleccionable = item;
                countOptions++;
              }
            }

          });
          procesaSelectAutomatico(countOptions, listado, itemSeleccionable);
        }

        function desbloqueaSelectPrecios(listado, eslora){
          if(estatusPincodeHide.value === '1' && listado) {
            let countOptions = 0;

            listado.childNodes.forEach((item) => {
                let piesA = Number(item.dataset.pies_a);
                let piesB = Number(item.dataset.pies_b);

                !(eslora >= piesA && eslora <= piesB) ?
                item.classList.add('hide') :
                  (item.classList.remove('hide'), countOptions++);
            });
            procesaSelectAutomatico(countOptions, listado, null);
          }
        }

        function desbloqueaInputsPreciosDescuentos(){
          if(estatusPincodeHide.value === '1'){
            dolarInput.readOnly = false;
            estadiaOtroPrecioInput.readOnly = false;
            electricidadOtroPrecioInput.readOnly = false;
            descuentoEstadiaInput.readOnly = false;
            descuentoElectricidadInput.readOnly = false;
            securityIcons.forEach((icon) => {
              icon.innerHTML = '<i class="fa fa-unlock letra-verde" aria-hidden="true"></i>';
            });
          }
        }

        function procesaSelectAutomatico(countOptions, select, item){
          if(countOptions === 0) {
              let opt = document.createElement('option');
              opt.appendChild(document.createTextNode('Sin tarifa general aplicable'));
              opt.setAttribute('selected', 'selected');
              select.appendChild(opt);
          } else if (countOptions === 1) {
            if (item) {
              item.setAttribute('selected', 'selected');
            }
          }
        }

      })(jQuery);
    </script>
{% endblock %}