{% extends 'estructura/plantilla.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .novo-checkbox-container .checkbox {
            position: relative;
            padding: 20px 0 20px 20px;
            text-align: left;
        }

        .novo-checkbox-container .checkbox label {
            cursor: pointer;
            padding-left: 10px;
        }

        .novo-checkbox-container .checkbox label:before,
        .novo-checkbox-container .checkbox label:after {
            content: '';
            position: absolute;
            top: 50%;
        }

        .novo-checkbox-container .checkbox label:before {
            left: 0;
            width: 20px;
            height: 20px;
            margin: -10px 0 0;
            border-radius: 4px;
            background: #3e4766;
            -webkit-box-shadow: 0 0 1px grey;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4);
        }

        .novo-checkbox-container .checkbox label:after {
            width: 14px;
            height: 8px;
            top: 24px;
            left: 3px;
            border: 3px solid #0097f6;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .novo-checkbox-container .checkbox label:hover:after {
            opacity: .5;
        }

        .novo-checkbox-container .checkbox input[type="radio"],
        .novo-checkbox-container .checkbox input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: -9999px;
            visibility: hidden;
        }

        .novo-checkbox-container .checkbox input[type="radio"]:checked + label:after,
        .novo-checkbox-container .checkbox input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon fa fa-warning"></i> {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                            <span>{{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}</span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('marina-humeda_show',{'id':idanterior}) }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {{ form_start(form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                        <li role="presentation">
                            <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Total (USD)</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalmxn" aria-controls="totalmxn" role="tab" data-toggle="tab">Total (MXN)</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    {% form_theme form 'estructura/temaerror.html.twig' %}

                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.direccion }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div id='barcopies' class='info-input' data-valor="{{ marinaHumedaCotizacion.barco.eslora }}">{{ marinaHumedaCotizacion.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.manga }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-daterange" id="rangoFehas">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaLlegada) }}
                                                {{ form_widget(form.fechaLlegada) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaSalida) }}
                                                {{ form_widget(form.fechaSalida) }}
                                            </div>
                                        </div>
                                    </div>
                                    <label>Días Estadía:</label>
                                    {{ form_widget(form.diasEstadia) }}
                                    <div class="security-icon">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </div>
                                    <label>Dolar</label>
                                    {{ form_widget(form.dolar) }}
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6 pt-1-5">
                                            <label>Precio por día:</label>
                                            {{ form_widget(form.mhcservicios.0.precio) }}
                                        </div>
                                        <div id="estadia-otro-precio" class="col-sm-3">
                                            <div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                            {{ form_row(form.mhcservicios.children.0.precioOtro) }}
                                        </div>
                                        <div id="estadia-descuento" class="col-sm-3">
                                            <div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                            {{ form_row(form.descuentoEstadia) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 pt-1-5">
                                            <label>Precio electricidad:</label>
                                            {{ form_widget(form.mhcservicios.children.1.precioAux) }}
                                        </div>
                                        <div id="electricidad-otro-precio" class="col-sm-3">
                                            <div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                            {{ form_row(form.mhcservicios.children.1.precioOtro) }}
                                        </div>
                                        <div id="electricidad-descuento" class="col-sm-3">
                                            <div class="security-icon">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                            {{ form_row(form.descuentoElectricidad) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="total">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="" class="valdolar">{{ (marinaHumedaCotizacion.dolar/100) }}
                                        MXN
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>Precios en USD</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora (pies)</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>Descuento</th>
                                            <th>IVA {{ marinaHumedaCotizacion.iva }} %</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="de_cantidad">0</td>
                                            <td id="de_eslora" data-valor="{{ marinaHumedaCotizacion.barco.eslora }}">
                                                {{ marinaHumedaCotizacion.barco.eslora }}
                                            </td>
                                            <td>Días estancia</td>
                                            <td id="de_precio">$ 0.00</td>
                                            <td id="de_subtotal" data-valor="0">$ 0.00</td>
                                            <td id="de_descuento" data-valor="0">$ 0.00</td>
                                            <td id="de_iva" data-valor="0">$ 0.00</td>
                                            <td id="de_total" data-valor="0">$ 0.00</td>
                                        </tr>
                                        <tr>
                                            <td id="e_cantidad">0</td>
                                            <td id="e_eslora">
                                                {{ marinaHumedaCotizacion.barco.eslora }}
                                            </td>
                                            <td>Conexión a electricidad</td>
                                            <td id="e_precio">$ 0.00</td>
                                            <td id="e_subtotal" data-valor="0">$ 0.00</td>
                                            <td id="e_descuento" data-valor="0">$ 0.00</td>
                                            <td id="e_iva" data-valor="0">$ 0.00</td>
                                            <td id="e_total" data-valor="0">$ 0.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot">{{ (marinaHumedaCotizacion.subtotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandecuento">{{ (marinaHumedaCotizacion.descuentototal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A {{ marinaHumedaCotizacion.iva }} %:</p>
                                    <p>
                                        $ <span id="graniva">{{ (marinaHumedaCotizacion.ivatotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot">{{ (marinaHumedaCotizacion.total/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalmxn">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="" class="valdolar">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2)}}
                                        MXN
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora (pies)</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>Descuento</th>
                                            <th>IVA {{ marinaHumedaCotizacion.iva }} %</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="de_cantidad_mxn">{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}</td>
                                            <td id="de_eslora_mxn">{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                            <td>Días estancia</td>
                                            <td id="de_precio_mxn"></td>
                                            <td id="de_subtotal_mxn" data-valor="0">$ 0.00</td>
                                            <td id="de_descuento_mxn" data-valor="0">$ 0.00</td>
                                            <td id="de_iva_mxn" data-valor="0">$ 0.00</td>
                                            <td id="de_total_mxn" data-valor="0">$ 0.00</td>
                                        </tr>
                                        <tr>
                                            <td id="e_cantidad_mxn">{{ marinaHumedaCotizacion.mhcservicios.1.cantidad }}</td>
                                            <td id="e_eslora_mxn">{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                            <td>Conexión a electricidad</td>
                                            <td id="e_precio_mxn"></td>
                                            <td id="e_subtotal_mxn" data-valor="0">$ 0.00</td>
                                            <td id="e_descuento_mxn" data-valor="0">$ 0.00</td>
                                            <td id="e_iva_mxn" data-valor="0">$ 0.00</td>
                                            <td id="e_total_mxn" data-valor="0">$ 0.00</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="" class="">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot_mxn">{{ ((marinaHumedaCotizacion.subtotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandecuento_mxn">{{ ((marinaHumedaCotizacion.descuentototal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A {{ marinaHumedaCotizacion.iva }} %:</p>
                                    <p>
                                        $ <span id="graniva_mxn">{{ ((marinaHumedaCotizacion.ivatotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot_mxn">{{ ((marinaHumedaCotizacion.total * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-8">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_row(form.mensaje) }}
                                    <div class="novo-checkbox-container">
                                        {{ form_row(form.notificarCliente) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.cliente,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.barco,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.mhcservicios.children.0.precioAux,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.mhcservicios.children.1.precio,{'attr':{'class':'hidden'}}) }}
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-azul" type="button"
                                    data-toggle="modal"
                                    data-target="#modalIngresaPincode">
                                Usar PINCODE
                            </button>
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="modal ventanaborrar fade" id="modalIngresaPincode" tabindex="-1" role="dialog" aria-labelledby="pincodeLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="pincodeLabel">Ingresa un Pincode</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="form-group">
                                        <label class="control-label" for="pincode-input">PINCODE</label>
                                        <input type="text"
                                               id="pincode-input"
                                               name="pincode-input"
                                               class="info-input"
                                               minlength="8"
                                               maxlength="8">
                                        <span class="help-block text-center"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-verifica-pincode" class="btn btn-azul" type="button">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      const dolarInput = document.getElementById('appbundle_marinahumedacotizacion_dolar');
      const preciosEstadia = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_precio');
      const preciosElectricidad = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_1_precioAux');
      const pincodeInput = document.getElementById('pincode-input');
      const estadiaOtroPrecioInput = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_0_precioOtro');
      const electricidadOtroPrecioInput = document.getElementById('appbundle_marinahumedacotizacion_mhcservicios_1_precioOtro');
      const descuentoEstadiaInput = document.getElementById('appbundle_marinahumedacotizacion_descuentoEstadia');
      const descuentoElectricidadInput = document.getElementById('appbundle_marinahumedacotizacion_descuentoElectricidad');
      const eslora = document.getElementById('barcopies');
      const btnVerificaPincode = document.getElementById('btn-verifica-pincode');
      const securityIcons = document.querySelectorAll('.security-icon');
      const estatusPincodeHide = document.getElementById('appbundle_marinahumedacotizacion_estatusPincode');

      {% if form.vars.data.mhcservicios[0].isPrecioOtro  %}
        preciosEstadia.value = '';
      {% endif %}
      {% if form.vars.data.mhcservicios[1].isPrecioOtro  %}
        preciosElectricidad.value = '';
      {% endif %}

      filtraSelectPrecios(preciosEstadia, Number(eslora.dataset.valor));
      filtraSelectPrecios(preciosElectricidad, Number(eslora.dataset.valor));
      recalculaCantidadYprecio();

      desbloqueaInputsPreciosDescuentos();
      desbloqueaSelectPrecios();


      $('#modalIngresaPincode').on('show.bs.modal', function (e) {
        pincodeInput.parentNode.classList.remove('has-error');
        pincodeInput.parentNode.classList.remove('has-success');
        btnVerificaPincode.classList.remove('disabled');
        pincodeInput.parentNode.childNodes[5].innerText = '';
        pincodeInput.value = '';
      });

      btnVerificaPincode.addEventListener('click', () => {
        btnVerificaPincode.classList.add('disabled');
      $.ajax({
        method: 'POST',
        url: "{{ path('marina-humeda_ajax-pincode') }}",
        data:{ pincode: pincodeInput.value, iduser: {{ iduser}} },
        dataType: 'json',
        success: function (data) {
          if(data === 'notfound'){
            pincodeInput.parentNode.classList.add('has-error');
            pincodeInput.parentNode.childNodes[5].innerText = 'Error: No existe.';
            btnVerificaPincode.classList.remove('disabled');
            return
          }
          if(data){
            pincodeInput.parentNode.classList.remove('has-error');
            pincodeInput.parentNode.classList.add('has-success');
            pincodeInput.parentNode.childNodes[5].innerText = 'Aprobado';
            estatusPincodeHide.value = 1;

            desbloqueaInputsPreciosDescuentos();
            desbloqueaSelectPrecios(preciosEstadia, Number($('#de_eslora').data('valor')));
            desbloqueaSelectPrecios(preciosElectricidad, Number($('#de_eslora').data('valor')));

            setTimeout(function(){
              $('#modalIngresaPincode').modal('hide');
              pincodeInput.value = '';
            }, 1000);
          }else{
            pincodeInput.parentNode.classList.add('has-error');
            pincodeInput.parentNode.childNodes[5].innerText = 'Error: No vigente.';
            btnVerificaPincode.classList.remove('disabled');
          }
        }
      });
      });

      function filtraSelectPrecios(listado, eslora) {
        listado.childNodes.forEach((item) => {
            let piesA = Number(item.dataset.pies_a);
            let piesB = Number(item.dataset.pies_b);
            let clasificacion = Number(item.dataset.clasificacion);

            if (estatusPincodeHide.value === '1') {
                (eslora >= piesA && eslora <= piesB) ?
                item.classList.remove('hide') :
                item.classList.add('hide');
            } else {
                !(eslora >= piesA && eslora <= piesB && clasificacion === 0) ?
                item.classList.add('hide') :
                item.classList.remove('hide');
            }
        })
        ;
      }

      function desbloqueaSelectPrecios(listado, eslora){
        if(estatusPincodeHide.value === '1' && listado) {
          listado.childNodes.forEach((item) => {
            let piesA = Number(item.dataset.pies_a);
          let piesB = Number(item.dataset.pies_b);

          !(eslora >= piesA && eslora <= piesB) ?
            item.classList.add('hide') :
            item.classList.remove('hide');
        });
        }
      }

      function desbloqueaInputsPreciosDescuentos(){
        if(estatusPincodeHide.value === '1'){
          dolarInput.readOnly = false;
          estadiaOtroPrecioInput.readOnly = false;
          electricidadOtroPrecioInput.readOnly = false;
          descuentoEstadiaInput.readOnly = false;
          descuentoElectricidadInput.readOnly = false;
          securityIcons.forEach((icon) => {
            icon.innerHTML = '<i class="fa fa-unlock letra-verde" aria-hidden="true"></i>';
        });
        }
      }

    </script>
{% endblock %}
