{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Nueva cotización
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Recotización</h3>
                            <span>{{ marinaHumedaCotizacion.folio }}-{{ marinaHumedaCotizacion.foliorecotiza }}</span>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('marina-humeda_estadia_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {{ form_start(form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                        <li role="presentation">
                            <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Total (USD)</a>
                        </li>
                        <li role="presentation">
                            <a href="#totalmxn" aria-controls="totalmxn" role="tab" data-toggle="tab">Total (MXN)</a>
                        </li>
                        <li role="presentation">
                            <a href="#correo" aria-controls="correo" role="tab" data-toggle="tab">Correo</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    {% form_theme form 'estructura/temaerror.html.twig' %}

                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.direccion }}</div>
                                        <label>R.F.C.</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.rfc }}</div>
                                        <label>Razón social</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.razonsocial }}</div>
                                        <label>Dirección fiscal</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.cliente.direccionfiscal }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div id='barcopies' class='info-input' data-valor="{{ marinaHumedaCotizacion.barco.eslora }}">{{ marinaHumedaCotizacion.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.manga }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacion.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-3">

                                    <div class="input-daterange" id="rangoFehas">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaLlegada) }}
                                                {{ form_widget(form.fechaLlegada) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{ form_label(form.fechaSalida) }}
                                                {{ form_widget(form.fechaSalida) }}
                                            </div>
                                        </div>
                                    </div>
                                    <label>Descuento(%)</label>
                                    {{ form_widget(form.descuento) }}
                                    <label>Dolar</label>
                                    {{ form_widget(form.dolar) }}
                                    <label>Slip</label>
                                    {{ form_widget(form.slip) }}

                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Días Estadía:</label>
                                            <div id="dias_estadia_cantidad" class='info-input' data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}">{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Precio por día:</label>
                                            {{ form_widget(form.mhcservicios.0.precio,{'selected':marinaHumedaCotizacion.mhcservicios.0.precio}) }}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-6">
                                            <label>Precio electricidad:</label>
                                            {{ form_widget(form.mhcservicios.children.1.precioAux) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="total">
                            <div class="row">
                                <div class="col-sm-9 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="" class="valdolar">{{ (marinaHumedaCotizacion.dolar/100) }}
                                        MXN
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <small>Precios en USD</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-9">
                                    <table id="mh_nuevacotizacion" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora (pies)</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="de_cantidad">{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}</td>
                                            <td id="de_eslora" data-valor="{{ marinaHumedaCotizacion.barco.eslora }}">{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                            <td>Días estancia</td>
                                            <td id="de_precio" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.precio/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.precio/100)|number_format(2) }}
                                            </td>
                                            <td id="de_subtotal" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.subtotal/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.subtotal/100)|number_format(2) }}
                                            </td>
                                            <td id="de_iva" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.iva/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.iva/100)|number_format(2) }}
                                            </td>
                                            <td id="de_descuento" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.descuento/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.descuento/100)|number_format(2) }}
                                            </td>
                                            <td id="de_total" data-valor="{{ marinaHumedaCotizacion.mhcservicios.0.total/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.0.total/100)|number_format(2) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="e_cantidad">{{ marinaHumedaCotizacion.mhcservicios.1.cantidad }}</td>
                                            <td id="e_eslora" data-valor="{{ marinaHumedaCotizacion.barco.eslora }}">{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                            <td>Conexión a electricidad</td>
                                            <td id="e_precio" data-valor="{{ marinaHumedaCotizacion.mhcservicios.1.precio/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.1.precio/100)|number_format(2) }}
                                            </td>
                                            <td id="e_subtotal" data-valor="{{ marinaHumedaCotizacion.mhcservicios.1.subtotal/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.1.subtotal/100)|number_format(2) }}
                                            </td>
                                            <td id="e_iva" data-valor="{{ marinaHumedaCotizacion.mhcservicios.1.iva/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.1.iva/100)|number_format(2) }}
                                            </td>
                                            <td id="e_descuento" data-valor="{{ marinaHumedaCotizacion.mhcservicios.1.descuento/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.1.descuento/100)|number_format(2) }}
                                            </td>
                                            <td id="e_total" data-valor="{{ marinaHumedaCotizacion.mhcservicios.1.total/100 }}">
                                                $ {{ (marinaHumedaCotizacion.mhcservicios.1.total/100)|number_format(2) }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div id="valiva" class="" data-valor="{{ marinaHumedaCotizacion.iva }}">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot">{{ (marinaHumedaCotizacion.subtotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $ <span id="graniva">{{ (marinaHumedaCotizacion.ivatotal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandecuento">{{ (marinaHumedaCotizacion.descuentototal/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot">{{ (marinaHumedaCotizacion.total/100)|number_format(2) }}</span>
                                        <span class="tipo-letra2">USD</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="totalmxn">
                            <div class="row">
                                <div class="col-sm-9 text-right">
                                    <span>Tipo de cambio:</span>
                                    <div id="" class="valdolar">{{ (marinaHumedaCotizacion.dolar/100)|number_format(2)}}
                                        MXN
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <small>Precios en MXN</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-9">
                                    <table id="" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Eslora (pies)</th>
                                            <th>Servicio</th>
                                            <th>Prec. Unid.</th>
                                            <th>Sub-Total</th>
                                            <th>IVA</th>
                                            <th>Descuento</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td id="de_cantidad_mxn">{{ marinaHumedaCotizacion.mhcservicios.0.cantidad }}</td>
                                            <td id="de_eslora_mxn">{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                            <td>Días estancia</td>
                                            <td id="de_precio_mxn">$ {{ ((marinaHumedaCotizacion.mhcservicios.0.precio * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                            <td id="de_subtotal_mxn" data-valor="{{ (marinaHumedaCotizacion.mhcservicios.0.subtotal * marinaHumedaCotizacion.dolar)/10000 }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.0.subtotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="de_iva_mxn" data-valor="{{ ((marinaHumedaCotizacion.mhcservicios.0.iva * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.0.iva * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="de_descuento_mxn" data-valor="{{ ((marinaHumedaCotizacion.mhcservicios.0.descuento * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.0.descuento * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="de_total_mxn" data-valor="{{ ((marinaHumedaCotizacion.mhcservicios.0.total * marinaHumedaCotizacion.dolar)/10000)}}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.0.total * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="e_cantidad_mxn">{{ marinaHumedaCotizacion.mhcservicios.1.cantidad }}</td>
                                            <td id="e_eslora_mxn">{{ marinaHumedaCotizacion.barco.eslora }}</td>
                                            <td>Conexión a electricidad</td>
                                            <td id="e_precio_mxn">$ {{ ((marinaHumedaCotizacion.mhcservicios.1.precio * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</td>
                                            <td id="e_subtotal_mxn" data-valor="{{ (marinaHumedaCotizacion.mhcservicios.1.subtotal * marinaHumedaCotizacion.dolar)/10000 }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.1.subtotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="e_iva_mxn" data-valor="{{ (marinaHumedaCotizacion.mhcservicios.1.iva * marinaHumedaCotizacion.dolar)/10000 }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.1.iva * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="e_descuento_mxn" data-valor="{{ (marinaHumedaCotizacion.mhcservicios.1.descuento * marinaHumedaCotizacion.dolar)/10000 }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.1.descuento * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                            <td id="e_total_mxn" data-valor="{{ (marinaHumedaCotizacion.mhcservicios.1.total * marinaHumedaCotizacion.dolar)/10000 }}">
                                                $ {{ ((marinaHumedaCotizacion.mhcservicios.1.total * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div id="" class="">
                                        <small>IVA: {{ marinaHumedaCotizacion.iva }} %</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Sub-Total:</p>
                                    <p>
                                        $ <span id="gransubtot_mxn">{{ ((marinaHumedaCotizacion.subtotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">I.V.A:</p>
                                    <p>
                                        $ <span id="graniva_mxn">{{ ((marinaHumedaCotizacion.ivatotal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Descuento:</p>
                                    <p>
                                        $ <span id="grandecuento_mxn">{{ ((marinaHumedaCotizacion.descuentototal * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4 text-right tipo-letra1">
                                    <p class="letra-azul">Total:</p>
                                    <p>
                                        $ <span id="grantot_mxn">{{ ((marinaHumedaCotizacion.total * marinaHumedaCotizacion.dolar)/10000)|number_format(2) }}</span>
                                        <span class="tipo-letra2">MXN</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-5">
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="correo">
                            <div class="row">
                                <div class="col-sm-8">
                                    {{ form_row(form.mensaje) }}
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-azul">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.cliente,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.barco,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.mhcservicios.children.0.precioAux,{'attr':{'class':'hidden'}}) }}
                    {{ form_widget(form.mhcservicios.children.1.precio,{'attr':{'class':'hidden'}}) }}
                    {{ form_end(form) }}

                </div>
                <div class="panel-footer">

                </div>
            </div>
        </section>
    </div>
{% endblock %}

