{% block form_widget %}
    {% spaceless %}
        <td class="valorcantidad">
            {{ form_widget(form.cantidad,{'value':0}) }}
            {{ form_errors(form.cantidad,{'value':0}) }}
        </td>
        <td class="td-servicio">{{ form_widget(form.marinahumedaservicio) }}</td>
        <td class="valorunidad"></td>
        <td class="valorprecio">{{ form_widget(form.precio) }}</td>
        <td class="valorsubtotal">{{ form_widget(form.subtotal) }}</td>
        <td class="valoriva">{{ form_widget(form.iva) }}</td>
        <td class="valortotal">{{ form_widget(form.total) }}</td>
        <td>
            <a href="#" class="remove-servicio-adicional btn btn-xs btn-naranja">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>

        </td>
        <td class="hide">{{ form_widget(form.estatus) }}</td>
    {% endspaceless %}
{% endblock %}
