{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautica | Editar Servicio Marina Húmeda
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Editar Servicio Adicional Marina Húmeda</h3>
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right"
                               href="{{ path('marina-humeda-cotizacion-adicional_index') }}">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-pestanias">
                    {% form_theme edit_form 'estructura/temaerror.html.twig' %}
                    {{ form_start(edit_form) }}
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="primero active">
                            <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                        </li>
                        <li role="presentation">
                            <a href="#servicios" aria-controls="servicios" role="tab" data-toggle="tab">Servicios</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="generales">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div id="info-cliente">
                                        <label>Cliente</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.nombre }}</div>
                                        <label>Correo electrónico</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.correo }}</div>
                                        <label>Número de teléfono</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.telefono }}</div>
                                        <label>Dirección</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.direccion }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="info-barco">
                                        <label>Barco</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.nombre }}</div>
                                        <label>Modelo</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.modelo }}</div>
                                        <label>Eslora</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.eslora }}</div>
                                        <label>Manga</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.manga }}</div>
                                        <label>Nombre del responsable</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.nombreResponsable }}</div>
                                        <label>Teléfono del responsable</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.telefonoResponsable }}</div>
                                        <label>Correo del responsable</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.correoResponsable }}</div>
                                        <label>Nombre del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.nombreCapitan }}</div>
                                        <label>Teléfono del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.telefonoCapitan }}</div>
                                        <label>Correo del capitán</label>
                                        <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.correoCapitan }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <p><label>Datos de facturación</label></p>
                                    {%  for razon in marinaHumedaCotizacionAdicional.cliente.razonesSociales %}
                                        <table class="table table-novo">
                                            <tbody>
                                            <tr>
                                                <th>Razon Social</th>
                                                <td>{{ razon.razonSocial }}</td>
                                            </tr>
                                            <tr>
                                                <th>RFC</th>
                                                <td>{{ razon.rfc }}</td>
                                            </tr>
                                            <tr>
                                                <th>Dirección</th>
                                                <td>{{ razon.direccion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correos de facturación</th>
                                                <td>{{ razon.correos|join(', ') }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <table class="table table-novo">
                                            <tbody>
                                            <tr>
                                                <td>No se registaron datos de facturación</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="servicios">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Dolar:</label>
                                    {{ form_widget(edit_form.dolar) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form_row(edit_form.iva) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 espacio-linea-arriba2">
                                    <table id="servicioAdicional" class="table text-center">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-1">Cantidad</th>
                                            <th class="col-sm-2">Servicio</th>
                                            <th class="col-sm-1">Unidad</th>
                                            <th class="col-sm-1">Prec. Unid.</th>
                                            <th class="col-sm-1">Sub-Total</th>
                                            <th class="col-sm-1">IVA</th>
                                            <th class="col-sm-1">Total</th>
                                            <th class="col-sm-1"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="servicio-adicional-fields-list0"
                                               class="lista-servicios-adicionales"
                                               data-prototype="
                                                    {% filter escape %}
                                                        {{ include('marinahumeda/cotizacionadicional/coleccion-servicio-adicional.twig', { 'form': edit_form.mhcservicios.vars.prototype }) }}
                                                    {% endfilter %}"
                                        >
                                        {% for i,servicio in edit_form.mhcservicios %}
                                            {% form_theme servicio 'marinahumeda/cotizacionadicional/coleccion-servicio-adicional.twig' %}
                                            <tr class="servicio-agregado">
                                                <td class="valorcantidad">
                                                    {{ form_widget(servicio.cantidad) }}
                                                </td>
                                                <td class="td-servicio">
                                                    {{ form_widget(servicio.marinahumedaservicio) }}
                                                </td>
                                                <td class="valorunidad">
                                                    {{ marinaHumedaCotizacionAdicional.mhcservicios[i].marinahumedaservicio.unidad }}
                                                </td>
                                                <td class="valorprecio">
                                                    {{ form_widget(servicio.precio) }}
                                                </td>
                                                <td class="valorsubtotal">
                                                    {{ form_widget(servicio.subtotal) }}
                                                </td>
                                                <td class="valoriva">
                                                    {{ form_widget(servicio.iva) }}
                                                </td>
                                                <td class="valortotal">
                                                    {{ form_widget(servicio.total) }}
                                                </td>
                                                <td>
                                                    <a href="#" class="remove-servicio-adicional btn btn-xs btn-naranja">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td class="hide">{{ form_widget(servicio.estatus) }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" id="" class="add-another-servicio-adicional btn btn-contorno-azul" data-cantidad="{{ edit_form.mhcservicios|length }}" data-idlista="0">
                                        + Agregar servicio
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    {{ form_row(edit_form.subtotal) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    {{ form_row(edit_form.ivatotal) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-7 text-right tipo-letra1">
                                    {{ form_row(edit_form.total) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-azul pull-left">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">



        $('#servicioAdicional>tbody').change('.select-busca-producto',function (e) {
            //console.log('seleccionando un servicio '+ $('.select-busca-producto:focus option:selected' ).val());
            var idservicio = $('.select-busca-producto:focus option:selected' ).val();
            if(idservicio > 0){
                var url = "{{ path('mhca_buscaservicio',{'id':'iddelserivicio'}) }}";
                url = url.replace("iddelserivicio", idservicio);
                $.ajax({
                    method: "GET",
                    url: url,
                    dataType: 'json',
                    success: function(dato) {
                        var fila = $('.select-busca-producto:focus option:selected').parent().parent().parent();
                        fila.children('.valorprecio').children('.input-group').children('input').val(dato.precio/100);
                        fila.children('.valorunidad').html(dato.unidad);
                        calculaSubtotalesAdicionales(fila);
                    }
                });
            }
        });
    </script>
{% endblock %}