{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Ver servicio adicional Marina Húmeda
{% endblock %}

{% block contwrapper %}
<div class="content-wrapper">
    <section class="content">
        <div class="panel panel-novo">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title">Servicio Adicional Marina Húmeda</h3>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-contorno-azul pull-right" href="{{ path('marina-humeda-cotizacion-adicional_index') }}">Regresar</a>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-pestanias">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="primero active">
                        <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab">Generales</a>
                    </li>
                    <li role="presentation">
                        <a href="#totales" aria-controls="totales" role="tab" data-toggle="tab">Totales (USD)</a>
                    </li>
                    <li role="presentation">
                        <a href="#totalesmxn" aria-controls="totalesmxn" role="tab" data-toggle="tab">Totales (MXN)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="generales">
                        <div class="row">
                            <div class="col-sm-3">
                                <div id="info-cliente">
                                    <label>Cliente</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.nombre }}</div>
                                    <label>Correo electrónico</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.correo }}</div>
                                    <label>Número de teléfono</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.telefono }}</div>
                                    <label>Dirección</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.cliente.direccion }}</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div id="info-barco">
                                    <label>Barco</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.nombre }}</div>
                                    <label>Modelo</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.modelo }}</div>
                                    <label>Eslora</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.eslora }}</div>
                                    <label>Manga</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.manga }}</div>
                                    <label>Nombre del responsable</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.nombreResponsable }}</div>
                                    <label>Teléfono del responsable</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.telefonoResponsable }}</div>
                                    <label>Correo del responsable</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.correoResponsable }}</div>
                                    <label>Nombre del capitán</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.nombreCapitan }}</div>
                                    <label>Teléfono del capitán</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.telefonoCapitan }}</div>
                                    <label>Correo del capitán</label>
                                    <div class='info-input'>{{ marinaHumedaCotizacionAdicional.barco.correoCapitan }}</div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <p><label>Datos de facturación</label></p>
                                {%  for razon in marinaHumedaCotizacionAdicional.cliente.razonesSociales %}
                                    <table class="table table-novo">
                                        <tbody>
                                        <tr>
                                            <th>Razon Social</th>
                                            <td>{{ razon.razonSocial }}</td>
                                        </tr>
                                        <tr>
                                            <th>RFC</th>
                                            <td>{{ razon.rfc }}</td>
                                        </tr>
                                        <tr>
                                            <th>Dirección</th>
                                            <td>{{ razon.direccion }}</td>
                                        </tr>
                                        <tr>
                                            <th>Correos de facturación</th>
                                            <td>{{ razon.correos|join(', ') }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    <table class="table table-novo">
                                        <tbody>
                                        <tr>
                                            <td>No se registaron datos de facturación</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="totales">
                        <div class="row">
                            <div class="col-sm-10 text-right">
                                <span>Tipo de cambio:</span>
                                <div id="tipocambio" class="">{{ (marinaHumedaCotizacionAdicional.dolar/100)|number_format(2) }}
                                    MXN
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-1">
                                <small>Precios en USD</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-1">
                                <table class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Servicio</th>
                                        <th>Unidad</th>
                                        <th>Prec. Unid.</th>
                                        <th>Sub-Total</th>
                                        <th>IVA</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for servicio in marinaHumedaCotizacionAdicional.mhcservicios  %}
                                            <tr>
                                                <td>{{ servicio.cantidad }}</td>
                                                <td>{{ servicio.marinahumedaservicio }}</td>
                                                <td>{{ servicio.marinahumedaservicio.unidad }}</td>
                                                <td>$ {{ (servicio.precio/100)|number_format(2) }}</td>
                                                <td>$ {{ (servicio.subtotal/100)|number_format(2) }}</td>
                                                <td>$ {{ (servicio.iva/100)|number_format(2) }}</td>
                                                <td>$ {{ (servicio.total/100)|number_format(2) }}</td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-1">
                                <div id="valiva" class="">
                                    <small>IVA: {{ marinaHumedaCotizacionAdicional.iva }} %</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                <p class="letra-azul">Sub-Total:</p>
                                <p>
                                    $ <span id="gransubtot">{{ (marinaHumedaCotizacionAdicional.subtotal/100)|number_format(2,'.',',') }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                <p class="letra-azul">I.V.A:</p>
                                <p>
                                    $ <span id="graniva">{{ (marinaHumedaCotizacionAdicional.ivatotal/100)|number_format(2,'.',',') }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                <p class="letra-azul">Total:</p>
                                <p>
                                    $ <span id="grantot">{{ (marinaHumedaCotizacionAdicional.total/100)|number_format(2,'.',',') }}</span>
                                    <span class="tipo-letra2">USD</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="totalesmxn">
                        <div class="row">
                            <div class="col-sm-10 text-right">
                                <span>Tipo de cambio:</span>
                                <div id="tipocambio" class="">{{ (marinaHumedaCotizacionAdicional.dolar/100)|number_format(2,'.',',') }}
                                    MXN
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-1">
                                <small>Precios en MXN</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-1">
                                <table class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Servicio</th>
                                        <th>Unidad</th>
                                        <th>Prec. Unid.</th>
                                        <th>Sub-Total</th>
                                        <th>IVA</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for servicio in marinaHumedaCotizacionAdicional.mhcservicios  %}
                                        <tr>
                                            <td>{{ servicio.cantidad }}</td>
                                            <td>{{ servicio.marinahumedaservicio }}</td>
                                            <td>{{ servicio.marinahumedaservicio.unidad }}</td>
                                            <td>$ {{ ((servicio.precio/100) * (marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</td>
                                            <td>$ {{ ((servicio.subtotal/100) * (marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</td>
                                            <td>$ {{ ((servicio.iva/100) * (marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</td>
                                            <td>$ {{ ((servicio.total/100) * (marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-1">
                                <div id="valiva" class="">
                                    <small>IVA: {{ marinaHumedaCotizacionAdicional.iva }} %</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                <p class="letra-azul">Sub-Total:</p>
                                <p>
                                    $ <span id="gransubtot">{{ ((marinaHumedaCotizacionAdicional.subtotal/100) * (marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                <p class="letra-azul">I.V.A:</p>
                                <p>
                                    $ <span id="graniva">{{ ((marinaHumedaCotizacionAdicional.ivatotal/100) *( marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-5 text-right tipo-letra1">
                                <p class="letra-azul">Total:</p>
                                <p>
                                    $ <span id="grantot">{{ ((marinaHumedaCotizacionAdicional.total/100) * (marinaHumedaCotizacionAdicional.dolar/100))|number_format(2) }}</span>
                                    <span class="tipo-letra2">MXN</span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-6">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a  class="btn btn-azul pull-right" href="{{ path('marina-humeda-cotizacion-adicional_edit', { 'id': marinaHumedaCotizacionAdicional.id }) }}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Editar
                        </a>
                    </div>
                </div>
                <div class="row  espacio-linea-arriba2">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-borrar pull-right" data-toggle="modal"
                                data-target="#modalBorrar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            Borrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block modals %}
    {% embed 'estructura/modalborrar.twig' %}
        {% block botonborra %}
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-borrar">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Borrar
            </button>
            {{ form_end(delete_form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
