{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautiva | Editar Barco
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Editar Barco: {{ cliente }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('cliente_show',{'id':cliente.id}) }}" class="btn btn-contorno-azul pull-right">
                                {#<i class="fa fa-arrow-left" aria-hidden="true"></i>#}
                                Regresar
                            </a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    {% form_theme edit_form 'estructura/temaerror.html.twig' %}
                    {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_errors(edit_form.nombre) }}
                            {{ form_errors(edit_form.correoCapitan) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            {{ form_label(edit_form.nombre) }}
                            {{ form_widget(edit_form.nombre) }}
                            {{ form_row(edit_form.marca) }}
                            {{ form_row(edit_form.modelo) }}
                            {{ form_row(edit_form.anio) }}
                            {{ form_row(edit_form.calado) }}
                            {{ form_row(edit_form.manga) }}
                            <div class="input-estatus">
                                Estatus Barco
                                <span class="cont-label-novo">
                                    {{ form_errors(edit_form.estatus) }}
                                    {{ form_widget(edit_form.estatus) }}
                                    {{ form_label(edit_form.estatus) }}
                                </span>
                            </div>

                        </div>
                        <div class="col-sm-5">
                            {{ form_row(edit_form.eslora) }}
                            {{ form_row(edit_form.combustible) }}
                            {{ form_row(edit_form.agua) }}
                            {{ form_row(edit_form.nombreCapitan) }}
                            {{ form_row(edit_form.telefonoCapitan) }}
                            {{ form_label(edit_form.correoCapitan) }}
                            {{ form_widget(edit_form.correoCapitan) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 espacio-linea">
                            <hr>
                        </div>
                    </div>

                    <div id="motor-fields-list0"
                         class="lista-motores"
                         data-prototype="
                                         {% filter escape %}
                                            {{ include('motor/form-cliente.twig', { 'form': edit_form.motores.vars.prototype }) }}
                                            {#{{ form_widget(edit_form.motores.vars.prototype)|e('html_attr') }}#}
                                         {% endfilter %}
                                        ">
                        {% for motorField in edit_form.motores %}
                            {% form_theme motorField 'motor/form-cliente.twig' %}
                            <div class="row">
                                {{ form_widget(motorField) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#" id="" class="add-another-motor letra-azul" data-cantidad="{{ edit_form.motores|length }}" data-idlista="0">
                                + Agregar Motor
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <a href="{{ path('cliente_show',{'id':cliente.id}) }}" class="btn btn-naranja pull-right">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                    <div class="row  espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-borrar pull-right" data-toggle="modal"
                                    data-target="#modalBorrar">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                Borrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block modals %}
    {% embed 'estructura/modalborrar.twig' %}
        {% block botonborra %}
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-borrar">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Borrar
            </button>
            {{ form_end(delete_form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
