{% extends 'estructura/plantilla.twig' %}

{% block title %}
    Novonautica | Nuevo Barco
{% endblock %}

{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">Nuevo Barco: {{ cliente }}</h3>
                        </div>
                        <div class="col-sm-6">
                            <a href="{{ path('cliente_edit',{'id':cliente.id}) }}" class="btn btn-contorno-azul pull-right">
                                {#<i class="fa fa-arrow-left" aria-hidden="true"></i>#}
                                Regresar
                            </a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    {% form_theme form 'estructura/temaerror.html.twig' %}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_errors(form.nombre) }}
                            {{ form_errors(form.correoCapitan) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre) }}
                            {{ form_row(form.marca) }}
                            {{ form_row(form.modelo) }}
                            {{ form_row(form.anio) }}
                            {{ form_row(form.calado) }}
                            {{ form_row(form.manga) }}
                            {#<div class="input-estatus">#}
                                {#<span>Estatus</span>#}
                                {#<span class="cont-label-novo">#}
                                    {#{{ form_errors(form.estatus) }}#}
                                    {#{{ form_widget(form.estatus,{'attr':{'checked':'true'}}) }}#}
                                    {#{{ form_label(form.estatus) }}#}
                                {#</span>#}
                            {#</div>#}
                        </div>
                        <div class="col-sm-5">
                            {{ form_row(form.eslora) }}
                            {{ form_row(form.combustible) }}
                            {{ form_row(form.agua) }}
                            {{ form_row(form.nombreCapitan) }}
                            {{ form_row(form.telefonoCapitan) }}
                            {{ form_label(form.correoCapitan) }}
                            {{ form_widget(form.correoCapitan) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 espacio-linea">
                            <hr>
                        </div>
                    </div>
                    <div id="motor-fields-list0"
                         class="motores"
                         data-prototype="
                                         {% filter escape %}
                                            {{ include('motor/form-cliente.twig', { 'form': form.motores.vars.prototype }) }}
                                            {#{{ form_widget(form.motores.vars.prototype)|e('html_attr') }}#}
                                         {% endfilter %}
                                        ">
                        {% for motorField in form.motores %}
                            {% form_theme motorField 'motor/form-cliente.twig' %}
                            <div class="row">
                                {{ form_widget(motorField) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#" id="" class="add-another-motor letra-azul" data-cantidad="{{ form.motores|length }}" data-idlista="0">
                                + Agregar Motor
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-azul pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-12">
                            <a href="{{ path('cliente_edit',{'id':cliente.id}) }}" class="btn btn-naranja pull-right">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
