{% set servicioBasicoExists = null %}
{% set servicioTrabajoExists = null %}
{% set materialesExists = null %}
{% set otrosExists = null %}

{% for servicio in astilleroCotizacion.acservicios %}
    {% if servicio.astilleroserviciobasico is not null %}
        {% set servicioBasicoExists = true %}
    {% endif %}
    {% if servicio.servicio is not null %}
        {% set servicioTrabajoExists = true %}
    {% endif %}
    {% if servicio.producto is not null %}
        {% set materialesExists = true %}
    {% endif %}
    {% if servicio.otroservicio is not null %}
        {% set otrosExists = true %}
    {% endif %}
{% endfor %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
          href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <title>Cotizacion PDF</title>
    <style>
        body {
            color: #666;
            width: 100% !important;
            height: 100%;
            font-size: 12px;
        }

        h4, h5, h6 {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
        }

        .informacion p {
            margin: 0 !important;
        }

        .nopadding {
            padding: 0;
        }

        table.table thead tr th:nth-last-child(2),
        table.table thead tr th:last-child {
            width: 17%;
        }

        table.table thead tr th {
            border: 1px solid #458fce !important;
            border-bottom: 0 !important;
            background-color: #458fce;
            color: #fff;
        }

        table.table tfoot tr th {
            border: 1px solid #ddd !important;
            background-color: #ddd;
        }

        .table-condensed > tbody > tr > td {
            border: 1px solid #ddd !important;
        }

        .grey-background {
            background-color: #ddd;
        }

        .condiciones {
            font-size: 10px;
        }

        .container-fluid {
            page-break-after: always;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row informacion" style="background-color: #EAEAEA; padding-top: .5rem; padding-bottom: 1rem;">
        <div class="col-xs-4">
            <h4>Información</h4>
            <p><strong>Embarcación: </strong> {{ astilleroCotizacion.barco.nombre }}</p>
            <p><strong>Modelo: </strong> {{ astilleroCotizacion.barco.modelo }}</p>
            <p><strong>Eslora: </strong> {{ astilleroCotizacion.barco.eslora }}</p>
            <p><strong>Manga: </strong> {{ astilleroCotizacion.barco.manga }}</p>

            {% if astilleroCotizacion.barco.nombreCapitan is not empty %}
                <p><strong>Capitán: </strong> {{ astilleroCotizacion.barco.nombreCapitan }}</p>
                <p><strong>Telefono del capitán: </strong> {{ astilleroCotizacion.barco.telefonoCapitan }}</p>
                <p><strong>Correo del capitán: </strong> {{ astilleroCotizacion.barco.correoCapitan }}</p>
            {% endif %}

            {% if astilleroCotizacion.barco.nombreResponsable is not empty %}
                <p><strong>Encargado: </strong> {{ astilleroCotizacion.barco.nombreResponsable }}</p>
                <p><strong>Telefono del encargado: </strong> {{ astilleroCotizacion.barco.telefonoResponsable }}</p>
                <p><strong>Correo del encargado: </strong> {{ astilleroCotizacion.barco.correoResponsable }}</p>
            {% endif %}
        </div>
        <div class="col-xs-4">
            <h4>&nbsp;</h4>
            <p><strong>Fecha de llegada: </strong>{{ astilleroCotizacion.fechaLlegada|date('d-m-Y') }}</p>
            <p><strong>Fecha de salida: </strong>{{ astilleroCotizacion.fechaSalida|date('d-m-Y') }}</p>
            <p><strong>Días de estadía: </strong>{{ astilleroCotizacion.diasEstadia }}</p>
        </div>
        <div class="col-xs-4">
            <h4>&nbsp;</h4>
            {# TODO: Dias adicionales aun no se calcula #}
            {# <p><strong>Días adicionales:</strong> </sp</p> #}
            <p><strong>Lugar de trabajo: </strong>Astillero V&V</p>
            <p><strong>Banco: </strong></p>
            <p><strong>Número de cuenta: </strong></p>
            <p><strong>Clabe bancaria: </strong></p>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-xs-12">Divisa: MXN</div>
    </div>
    <div class="row">
        {% if servicioBasicoExists %}
            <div class="col-xs-12 nopadding">
                <h5 class="text-center">Servicios básicos</h5>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sumaserv = 0 %}
                    {% for unservicio in astilleroCotizacion.acservicios %}
                        {% if unservicio.astilleroserviciobasico and unservicio.estatus %}
                            <tr>
                                <td>{{ unservicio.astilleroserviciobasico.nombre }}</td>
                                <td>
                                    {% if unservicio.astilleroserviciobasico.id is defined and  (unservicio.astilleroserviciobasico.id == 2 or unservicio.astilleroserviciobasico.id == 9) %}
                                        {{ unservicio.cantidad/astilleroCotizacion.barco.eslora }}
                                        (pie por día)
                                    {% else %}
                                        {{ unservicio.cantidad }}
                                    {% endif %}
                                </td>
                                <td>$ {{ ((unservicio.precio * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                                <td>$ {{ ((unservicio.subtotal * astilleroCotizacion.dolar ) / 10000)|number_format(2) }}</td>
                            </tr>
                            {% set sumaserv=sumaserv+unservicio.subtotal %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="2" style="background-color: #fff; border-bottom: 0 !important"></th>
                        <th class="text-right">Sub-total estadía:</th>
                        <th>$ {{ ((sumaserv * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}

        {% if servicioTrabajoExists %}
            <div class="col-xs-12 nopadding">
                <h5 class="text-center">Trabajos</h5>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sumaserv = 0 %}
                    {% for unservicio in astilleroCotizacion.acservicios %}
                        {% if unservicio.servicio and unservicio.estatus %}
                            <tr>
                                <td>{{ unservicio.servicio.nombre }}</td>
                                <td>{{ unservicio.cantidad }}</td>
                                <td>Serv.</td>
                                <td>$ {{ ((unservicio.precio * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                                <td>$ {{ ((unservicio.subtotal * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                            </tr>
                            {% set sumaserv=sumaserv+unservicio.subtotal %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3" style="background-color: #fff; border-bottom: 0 !important"></th>
                        <th class="text-right">Total trabajos</th>
                        <th>$ {{ ((sumaserv * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}

        {% if materialesExists %}
            <div class="col-xs-12 nopadding">
                <h5 class="text-center">Materiales</h5>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sumaserv = 0 %}
                    {% for unservicio in astilleroCotizacion.acservicios %}
                        {% if unservicio.producto and unservicio.estatus %}
                            <tr>
                                <td>{{ unservicio.producto.nombre }}</td>
                                <td>{{ unservicio.cantidad }}</td>
                                <td>{{ unservicio.producto.unidad }}</td>
                                <td>$ {{ ((unservicio.precio * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                                <td>$ {{ ((unservicio.subtotal * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                            </tr>
                            {% set sumaserv=sumaserv+unservicio.subtotal %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3" style="background-color: #fff; border: 0; border-bottom: 0 !important"></th>
                        <th class="text-right">Total materiales</th>
                        <th>$ {{ ((sumaserv * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}

        {% if otrosExists %}
            <div class="col-xs-12 nopadding">
                <h5 class="text-center">Otros</h5>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sumaserv = 0 %}
                    {% for unservicio in astilleroCotizacion.acservicios %}
                        {% if unservicio.otroservicio and unservicio.estatus %}
                            <tr>
                                <td>{{ unservicio.otroservicio }}</td>
                                <td>{{ unservicio.cantidad }}</td>
                                <td>Otros</td>
                                <td>$ {{ ((unservicio.precio * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                                <td>$ {{ ((unservicio.subtotal * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                            </tr>
                            {% set sumaserv=sumaserv+unservicio.subtotal %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3" style="background-color: #fff; border: 0; border-bottom: 0 !important"></th>
                        <th class="text-right">Total materiales</th>
                        <th>$ {{ ((sumaserv * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-8 nopadding">
            <table class="table table-condensed table-bordered">
                <tbody>
                <tr>
                    <th>Sub-total</th>
                    <td class="borde-bajo-doble">
                        $ {{ ((astilleroCotizacion.subtotal * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                </tr>
                <tr>
                    <th>IVA {{ astilleroCotizacion.iva }}%</th>
                    <td class="borde-bajo-doble">
                        $ {{ ((astilleroCotizacion.ivatotal * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                </tr>
                <tr class="grey-background">
                    <th>Total general</th>
                    <td class="borde-bajo-doble">$ {{ ((astilleroCotizacion.total * astilleroCotizacion.dolar) / 10000)|number_format(2) }}</td>
                </tr>
                {#TODO: Calcular anticipos y pagos etc.#}
                {#<tr>
                    <th>Anticipo 1</th>
                    <td class="borde-bajo-doble">$ -</td>
                </tr>
                <tr>
                    <th>Anticipo 2</th>
                    <td class="borde-bajo-doble">$ -</td>

                </tr>
                <tr>
                    <th>Saldo pendiente</th>
                    <td class="borde-bajo-doble">$ -</td>
                </tr>#}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top: 2rem">
    <div class="row">
        <div class="col-xs-12 nopadding">
            <p class="text-center" style="background-color: #458fce; color:#fff; padding: .5rem 1rem">
                Por este medio nos permitimos proporcionar a ustedes los datos bancarios, para pagos mediante
                transferencias, siendo los siguientes:
            </p>
        </div>
        <div class="col-xs-6">
            <p>
                Razón social: V&V Astillero, S.A. De C.V.<br>
                R.F.C.: VAS-1503206-W4<br>
                Dirección: Calle Vialidad Paseo Mujeres Mz 1 Lt 1<br>
                Zona Continental SM 3<br>
                Ciudad: Isla Mujeres, Q. Roo, México C.P. 77400<br>
                Banco: INBURSA<br>
                Moneda: Pesos<br>
                No. De Cuenta: 50029365981<br>
                Sucursal: Cancún 076<br>
                Clabe: 036691500293659811
            </p>
        </div>
        <div class="col-xs-6">
            <p>
                DATOS BANCARIOS DOLARES<br>
                Codigo Swift: CHASUS33<br>
                Ruta Banco Receptor (ABA): 021 000 021<br>
                Beneficiario: V&V ASTILLERO SA DE CV<br>
                Cuenta del beneficiario: 0366 91500314566346<br>
                Banco Beneficiario: Banco Inbursa, S.A. México, D.F.<br>
                Cuenta Banco: 400475464<br>
                Nuestro Codigo Swift: INBUMXMM<br>
                En caso de que lo JP MORGAN CHASE BANK requieran direccion: 271<br>
                PARK AVENUE NEW YORK CITY NY 10017 UNITED ESTATES
            </p>
        </div>
    </div>
    <div class="row condiciones">
        <div class="col-xs-12 nopadding">
            <h4 class="text-center" style="background-color: #458fce; color:#fff; padding: .5rem 0;">Términos y
                Condiciones</h4>
        </div>
        <div class="col-xs-12">
            <p>
                Esta cotización es válida por 7 días solamente y no es un acuerdo vinculante de
                tarífa, plan de pago o
                ubicácion dentro del Astillero.
                <br>
                *Importante que todos los trabajadores externos cuenten con un seguro de
                responsabilidad civil.
                <br>
                Anticipo del 70% para inicio de trabajo.
                <br>
            </p>

            <p>FAVOR DE PRESENTAR COPIA DE LOS SIGUIENTES DOC:</p>
            <ul>
                <li>A) IMPORTACIÓN O EXP. DEL BARCO</li>
                <li>B) SEGURO VIGENTE DEL BARCO</li>
                <li>C) IFE DEL PROP. O CAPITÁN</li>
                <li>D) CERTIFICADO DE MATRÍCULA /CERTIFICADO DE REGISTRO</li>
            </ul>

            <p>
                IMPRESCINDIBLE PRESENTAR DICHA DOC. ANTES DE QUE EL BARCO SUBA<br>
                NOTA IMPORTANTE: La salida está señalada para antes del medio día, de lo contrario se cotizará un día
                más y correrá por cuenta del cliente.
            </p>
        </div>
    </div>
</div>
</body>
</html>

