{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slipmovimiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slipMovimiento.id }}</td>
            </tr>
            <tr>
                <th>Fechallegada</th>
                <td>{% if slipMovimiento.fechaLlegada %}{{ slipMovimiento.fechaLlegada|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechasalida</th>
                <td>{% if slipMovimiento.fechaSalida %}{{ slipMovimiento.fechaSalida|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ slipMovimiento.estatus }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if slipMovimiento.createdAt %}{{ slipMovimiento.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slipmovimiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('slipmovimiento_edit', { 'id': slipMovimiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
