<!DOCTYPE html>
<html class="hoja-login">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenido</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="theme-color" content="#292e41"/>
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default panel-login">
                <div class="panel-heading">
                    {% for label, messages in app.flashes(['notice', 'warning', 'error']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <img src="{{ asset('img/logo.svg') }}" class="img-responsive center-block">
                </div>
                <div class="panel-body">
                    {% if error %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ error.message|replace({'Bad credentials.' : 'Email o password invalidos'}) }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <form action="{{ path('suppliers_login') }}" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label for="correo">Email</label>
                                    <input type="text" id="correo" class="form-control text-center fondo-blanco"
                                           style="color: #000"
                                           name="_email"
                                           value="{{ last_username }}"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" class="form-control text-center fondo-blanco"
                                           style="color: #000"
                                           name="_password"/>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="btn boton-login">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>