{% extends 'estructura/plantilla.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .p-0{
            padding: 0 !important;
        }
        .help-block{
            color: #dd4b39;
        }
    </style>
{% endblock %}
{% block contwrapper %}
    <div class="content-wrapper">
        <section class="content">
            {{ form_start(form) }}
            <div class="panel panel-novo">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="panel-title">{{ title }}</h3>
                            {{ solicitud.folio }}
                        </div>
                        <div class="col-sm-6">
                            <a class="btn btn-contorno-azul pull-right" href="{{ path('compra_show',{'id':solicitud.id }) }}">
                                Regresar
                            </a>
                        </div>
                    </div>
                </div>
                <div id="products-pane" class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Fecha solicitud</label>
                            <div class="info-input">
                                {% if solicitud.fecha %}
                                    {{ solicitud.fecha|date("d/m/Y") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>I.V.A.</label>
                            <div class="info-input">{{ solicitud.iva }} %</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="novo-checkbox-container">
                                {{ form_row(form.validadoCompra) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="8%">Cantidad</th>
                                    <th width="15%">Producto</th>
                                    <th>Proveedor</th>
                                    <th>Precio</th>
                                    <th>Sub-Total</th>
                                    <th>IVA</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody id="conceptos">
                                {% for concepto in solicitud.conceptos %}
                                    <tr class="servicio-agregado text-center">
                                        <td class="p-0">
                                            {{ concepto.cantidad }}
                                        </td>
                                        <td class="p-0">
                                            {% if concepto.marinaServicio %}
                                                {{ concepto.marinaServicio.nombre }}
                                                {% if concepto.marinaServicio.claveUnidad %}
                                                    - {{ concepto.marinaServicio.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.combustibleCatalogo %}
                                                {{ concepto.combustibleCatalogo.nombre }}
                                                {% if concepto.combustibleCatalogo.claveUnidad %}
                                                    - {{ concepto.combustibleCatalogo.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.astilleroProducto %}
                                                {{ concepto.astilleroProducto.nombre }}
                                                {% if concepto.astilleroProducto.claveUnidad %}
                                                    - {{ concepto.astilleroProducto.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.tiendaProducto %}
                                                {{ concepto.tiendaProducto.nombre }}
                                                {% if concepto.tiendaProducto.claveUnidad %}
                                                    - {{ concepto.tiendaProducto.claveUnidad.nombre }}
                                                {% endif %}
                                            {% endif %}
                                            {% if concepto.jrfProducto %}
                                                {{ concepto.jrfProducto.nombre }}
                                            {% endif %}
                                        </td>
                                        <td class="p-0">
                                            {{ concepto.proveedor }}
                                        </td>
                                        <td class="p-0">
                                            ${{ concepto.precio/100|number_format(2) }} <small>MXN</small>
                                        </td>
                                        <td class="p-0">
                                            ${{ concepto.subtotal/100|number_format(2) }} <small>MXN</small>
                                        </td>
                                        <td class="p-0">
                                            ${{ concepto.ivatotal/100|number_format(2) }} <small>MXN</small>
                                        </td>
                                        <td class="p-0">
                                            ${{ concepto.total/100|number_format(2) }} <small>MXN</small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-8">
                            <h4 class="letra-azul">Sub-Total</h4>
                            ${{ solicitud.subtotal/100|number_format(2) }} <small>MXN</small>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-8">
                            <h4 class="letra-azul">I.V.A.</h4>
                            ${{ solicitud.ivatotal/100|number_format(2) }} <small>MXN</small>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-8">
                            <h4 class="letra-azul">Total</h4>
                            ${{ solicitud.total/100|number_format(2) }} <small>MXN</small>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.notaCompra) }}
                        </div>
                    </div>
                    <div class="row espacio-linea-arriba2">
                        <div class="col-sm-6">
                            <button id="submit-btn" class="btn btn-azul">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
